body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.navbar-inner {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.hero-unit {
  clear: both;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}

small {
  font-size: 12px;
  text-align: right;
  color: gray;
}

.pdfviewer {
  height: 480px;
}

footer {
  text-align: center;
}