*~
*.pyc
*.db
open_municipio/settings_*.py
open_municipio/urls_*.py
apache
sitestatic
fabfile/
uploads/attached_documents/*
open_municipio/om/migrations/*
open_municipio/people/migrations/*
open_municipio/votation/migrations/*
open_municipio/taxonomy/migrations/*
uploads/attached_documents/*
docs/list_s3_docs.py

