.DS_Store
*~
*.pyc
*.sqlite
.idea
open_municipio/settings_*.py
open_municipio/urls_*.py
sitestatic
open_municipio/media
open_municipio/*/migrations
uploads/
logfile*
docs/_build
docs/ignored
.project
.pydevproject
apache
solr
log
OpenMunicipio.egg-info
