{% extends "base.html" %}
{% load comments %}
{% load voting_tags %}

{% block head_includes %}
<link href="{{ STATIC_URL }}css/voting.css" rel="stylesheet">
<script>
    $(document).ajaxSend(function(event, xhr, settings) {
	function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
                    }
		}
            }
            return cookieValue;
	}
	function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		// or any other URL that isn't scheme relative or absolute i.e relative.
		!(/^(\/\/|http:|https:).*/.test(url));
	}
	function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	}
    });

function vote(path, score_id, num_votes_id, object_id, direction) {
    $.post('/' + path + '/' + object_id + '/' + direction + 'vote/', {HTTP_X_REQUESTED: 'XMLHttpRequest'},
           function(data) {
               if (data.success == true) {
                   $('#' + score_id).text(data.score.score);
                   $('#' + num_votes_id).text(data.score.num_votes);
               } else {
                   alert('ERROR: ' + data.error_message);
               }
           }, 'json'
          )
}
</script>
{% endblock %}
{% block title %}| Act list {% endblock %}

{% block content %}
{% get_comment_count for act as comment_count %}
{% get_comment_list for act as comment_list %}
{% get_comment_form for act as form %}
  <section id="content"><!-- #content -->
    <h1>Act title: {{ act.title }}</h1>
    <p>{{ act.text }}</p>

    {% score_for_object act as act_score %}
    <div class="voting-box">
      <h1>Vote this act</h1>
      <ul>
	<li><a href="#" onclick="vote('atti', 'act_score', 'act_num_votes', '{{ object.id }}', 'up');"><img alt="Vote up" src="{{ STATIC_URL }}img/thumb-up.png" /></a></li>
	<li><a href="#" onclick="vote('atti', 'act_score', 'act_num_votes', '{{ object.id }}', 'down');"><img alt="Vote down" src="{{ STATIC_URL }}img/thumb-down.png" /></a></li>
	<li><a href="#" onclick="vote('atti', 'act_score', 'act_num_votes', '{{ object.id }}', 'clear');"><img alt="Clear my vote" src="{{ STATIC_URL }}img/clear-vote.png" /></a></li>
      </ul>
      <div class="voting-score">
	Score: <span id="act_score">{{ act_score.score }}</span>
	point{{ act_score.score|pluralize }}
	after <span id="act_num_votes">{{ act_score.num_votes }}</span> vote{{ act_score.num_votes|pluralize }}
      </div>
    </div>

    <br clear="all" />
    <br />
    <div id="comment-area">
      <h1>Comments</h1>
      <p>Total number of comments: {{ comment_count }}.</p>
      {% for comment in comment_list %}
      <div class="comment-box">
	<div class="comment-content">
	  <div class="comment-author">{{ comment.user_name }}</div>
	  <div class="comment-date">{{ comment.submit_date|date:"d M Y" }}</div>
	  <div class="comment-text">{{ comment.comment }}</div>
	</div>
	{% score_for_object comment as comment_score %}
	<div class="voting-box">
	  <h1>Vote this comment</h1>
	  <ul>
	    <li><a href="#" onclick="vote('commenti', 'comment_score_{{ comment.id }}', 'comment_num_votes_{{ comment.id }}', '{{ comment.id }}', 'up');"><img alt="Vote up" src="{{ STATIC_URL }}img/thumb-up.png" /></a></li>
	    <li><a href="#" onclick="vote('commenti', 'comment_score_{{ comment.id }}', 'comment_num_votes_{{ comment.id }}', '{{ comment.id }}', 'down');"><img alt="Vote down" src="{{ STATIC_URL }}img/thumb-down.png" /></a></li>
	    <li><a href="#" onclick="vote('commenti', 'comment_score_{{ comment.id }}', 'comment_num_votes_{{ comment.id }}', '{{ comment.id }}', 'clear');"><img alt="Clear my vote" src="{{ STATIC_URL }}img/clear-vote.png" /></a></li>
	  </ul>
	  <div class="voting-score">
	    Score: <span id="comment_score_{{ comment.id }}">{{ comment_score.score }}</span>
	    point{{ comment_score.score|pluralize }}
	    after <span id="comment_num_votes_{{ comment.id }}">{{ comment_score.num_votes }}</span> vote{{ comment_score.num_votes|pluralize }}
	  </div>
	</div>
      </div>
      {% endfor %}
      {% if request.user.is_authenticated %}
      <div id="comment-form-wrapper">
	<h1>Add your comment as {{ request.user.username|capfirst }}</h1>
	<table>
	  <form action="{% comment_form_target %}" method="post">
	    {% csrf_token %}
	    {{ form }}
	    <tr>
	      <td colspan="2">
		<input type="submit" name="submit" value="Post">
		<input type="submit" name="preview" value="Preview">
	      </td>
	    </tr>
	  </form>
	</table>
	{% endif %}
      </div>
    </div>
  </section><!-- end of #content -->  
{% endblock %}
