{% extends "base_one_column.html" %}

{% block title %}Home page{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block content_header_container %}<a href="/" style="color: white;">{{ main_city }}</a>{% endblock %}

{% block sub_nav %}
  <section id="payoff" class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <h2>Informati</h2>
        <img src="{{ STATIC_URL }}img/homepage/informati.png" alt="">
        <p>Tutta l'attività politico amministrativa aggiornata in tempo reale e
          sempre disponibile, con dati ufficiali del comune.</p>
      </div>
      <div class="span4">
        <h2>Monitora</h2>
        <img src="{{ STATIC_URL }}img/homepage/monitora.png" alt="">
        <p>Puoi monitorare l'andamento di un atto, le attività dei politici
          o un argomento di particolare interesse.</p>
      </div>
      <div class="span4">
        <h2>Partecipa</h2>
        <img src="{{ STATIC_URL }}img/homepage/partecipa.png" alt="">
        <p>Intervieni nella vita politica della tua città: commenta e vota
          l'attività amministrativa nella community di Open municipio</p>
      </div>
    </div>
  </section>
{% endblock %}

{% block container %}
  <article>



    <div class="row-fluid">
      <div class="span8">
        <h1>In agenda</h1>

        <div class="row-fluid">
            {% for event in events %}
                <div class="span6">
                    <div class="circle-date pull-left">
                        <span class="day">{{ event.date|date:'d' }}</span>
                        <span class="month">{{ event.date|date:'M' }}</span>
                    </div>
                    <h4>Se ne discute in {{ event.site.name }}</h4>
                    <ul class="">
                        {% for act in event.act_set.all %}
                            <li><a href="{{ act.get_absolute_url }}">
                                {{ act.title|truncatewords:14 }}
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
      </div>
      <div class="span4">
        <h1>Ultimi atti chiave</h1>
        <ul class="unstyled">
            {% for act in key_acts %}
                <li>
                    <a href="{{ act.get_absolute_url }}">
                        {{ act.title|truncatewords:14 }}
                    </a>
                    - presentato il {{ act.presentation_date|date:'d/m/Y' }}
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>

  </article>
{% endblock container %}


{% block footer_js_includes %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#home-alert').modal();
    })
  </script>
{% endblock %}
