{% extends "base_one_column.html" %}

{% block title %}Monitorare un atto, un politico, un argomento{% endblock %}
{% block content_header %}Monitorare un atto, un politico, un argomento{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span8">
            <h2>Monitorare un atto, un politico, un argomento</h2>

            <p>Per monitorare un atto, un politico o un argomento
                nel sito Open municipio bisogna innanzitutto accedervi come utente registrato.
                Inserendo nome utente e password nella <a href="/accounts/login">pagina di accesso</a>
                si entra nella propria pagina personale che contiene l'insieme degli atti,
                dei politici e degli argomenti monitorati.</p>

            <p>Per seguire un politico, dopo aver selezionato chi seguire,
                si accede alla sua pagina e sulla destra, in corrispondenza della voce "Monitora",
                si sceglie l'opzione monitora.</p>

            <p>Allo stesso modo per un atto o un argomento bisogna accedere alla pagina del singolo atto
                o del singolo argomento che si vuole monitorare e scegliere l'opzione del monitoraggio.</p>

            <p>Il sito tiene conto di queste scelte e le riporta nella pagina personale
                dell'utente che così ogni qual volta vi accede avrà a disposizione da subito
                in una pagina di riepilogo ciò che ha scelto di seguire.</p>
        </div>
    </div>


{% endblock %}