{% extends "base_one_column.html" %}

{% block title %}Open data{% endblock %}
{% block content_header %}Open data{% endblock %}

{% block content %}

<p>
    Stiamo lavorando all'apertura dei dati perch&eacute; cittadini e organi di informazione possano liberamente
    elaborarli e riutilizzarli con licenza <a href="http://www.dati.gov.it/iodl/2.0/">IODL 2.0</a>.
    <br/><br/>
    Inoltre a breve pubblicheremo le <a href="http://it.wikipedia.org/wiki/Application_programming_interface">API</a> (Application Programming Interface API) per permettere lo sviluppo di altre applicazioni web e in mobilit&agrave;.
    <br/><br/>
    Quindi <i>stay tuned</i>!
</p>
{% endblock %}