{% extends "base_one_column.html" %}

{% load url from future %}

{% block title %}Registrarsi al sito{% endblock %}
{% block content_header %}Registrarsi al sito{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span8">
            <h2>Registrarsi al sito</h2>
            <p>Per seguire il lavoro di un politico, gli argomenti che ci interessano e
                monitorare, votare e commentare un atto bisogna registrarsi come utente del sito Open municipio.</p>

            <p>La registrazione è molto semplice: dopo aver completato e inviato il
                <a href="{% url 'registration_register' %}">form di registrazione</a>
                si riceve un'email che richiede una conferma.
                Seguendo le istruzioni contenute nell'email (si tratta di cliccare su un link)
                si è a tutti gli effetti un utente registrato, condizione che consente attività di
                monitoraggio e interazione col sito Open municipio.</p>

            <p>Ma la modalità più pratica di accedere a Open municipio è mediante
                il proprio account Facebook, Twitter, oppure Google.
                Cliccando su uno dei tre tasti dei social network si accede al sito in un paio di click e
                si è a tutti gli effetti un utente di Open municipio.</p>

        </div>
    </div>


{% endblock %}
