{% extends "base_one_column.html" %}

{% block title %}Regolamento{% endblock %}

{% block content %}

  <div class="row-fluid">
    <div class="span8">
  <h1>Regolamento del sito</h1>
  <p>
    Open municipio è uno spazio libero e senza censura, dove è importante che vengano rispettate le persone, le opinioni e tutte le posizioni politiche. Per questo chiediamo a tutti di rispettare e far rispettare queste regole:
  </p>

  <h2>1. Pubblicazione diretta</h2>
  Per pubblicare e segnalare contenuti nel sito bisogna essere registrati. I contributi degli utenti vengono pubblicati immediatamente, nel caso risultassero contrari alle regole di pubblicazione verranno successivamente rimossi.

  <h2>2. Identità personale</h2>
<p>
  Non è consentito iscriversi con identità diverse dalla propria. Chiediamo quindi che al momento della registrazione ci vengano forniti i dati personali reali. Registrarsi al sito con il proprio nome e cognome è inoltre un atto di trasparenza che favorisce la responsabilità e la fiducia reciproche.
  La scelta di rendere pubblica (nota agli altri utenti) la propria identità è comunque un fatto personale, per questo stiamo lavorando a una serie di funzionalità per diversi livelli di privacy. Ne avrai evidenza appena saranno attive.

  </p>

  <h2>3. Riservatezza</h2>
  <p>
    E' vietato divulgare informazioni personali che riguardino altri utenti del sito contro la loro volontà. Non è consentito pubblicare informazioni che possano permettere di rivelare l'identità di minori.
  </p>


  <h2>4. Comunicazione</h2>
  <ul class="unstyled">
    <li>a. Non è consentito offendere la dignità e la reputazione delle persone, minacciare gli altri partecipanti al sito, né insultare persone, razze, sessi, religioni, condizioni economiche o opinioni politiche; </li>
    <li>b. Non si possono pubblicare informazioni di carattere commerciale, promozionale, pubblicitario o di propaganda politica e elettorale, né si può trasmettere o diffondere qualsiasi forma di comunicazione o sollecitazione non autorizzata o non richiesta dagli utenti; </li>
    <li>c. I contenuti pubblicati dagli utenti (commenti, dichiarazioni, eccetera) devono essere pertinenti al contesto nel quale vengono pubblicati.</li>
  </ul>

  <h2>5. Diritto d'autore</h2>
  <p>
    Prima di utilizzare contenuti di qualsiasi tipo (articoli, audio, video) bisogna accertarsi di non violare i diritti che regolano il loro utilizzo.
  </p>

  <h2>6. Documentazione e verifica</h2>
  <p>
    Open municipio è una piattaforma per la documentazione distribuita la cui affidabilità dipende anche dalla qualità dei contributi degli utenti. Per questo i dati e le informazioni falsi o privi dei dovuti riscontri verranno rimossi. Più in generale, i dati e le informazioni inserite dagli utenti devono essere accuratamente documentate e verificate sia prima della pubblicazione, dagli autori degli inserimenti, sia successivamente, e il più possibile da tutti gli altri utenti.
  </p>

  <h2>7. Gestione delle regole</h2>
  <p>
    a. I contenuti e i commenti che violano norme di legge o che sono contrari alle regole di pubblicazione vengono oscurati dai moderatori così da non essere più visibili sul sito. Vengono poi definitivamente cancellati dopo essere stati verificati dagli amministratori del sistema.
    b. Gli utenti responsabili di abusi o di comportamenti ripetutamente contrari alle regole di pubblicazione vengono bloccati dagli amministratori e non possono più accedere al sito.
  </p>

  <h2>8. Modifiche del regolamento</h2>
<p>
  Queste regole sono naturalmente soggette a verifiche e modifiche eventualmente necessarie nel corso del tempo.
</p>
    </div>
  </div>

{% endblock %}