{% extends "base_one_column.html" %}

{% block title %}Regolamento{% endblock %}
{% block content_header %}Regolamento{% endblock %}
{% block content %}

  <h1>Regolamento del sito</h1>
  <p>
     Open municipio &egrave; uno spazio libero e senza censura, dove &egrave; importante che vengano rispettate
      le persone, le opinioni e tutte le posizioni politiche.
      Per questo chiediamo a tutti di rispettare e far rispettare queste regole:
  </p>

  <h2>1. Pubblicazione diretta</h2>
  <p>
    Per monitorare atti, politici e argomenti e votare e commentare gli atti bisogna essere registrati al sito.
    I commenti degli utenti vengono pubblicati immediatamente, ma nel caso risultassero contrari alle
    regole di pubblicazione verranno oscurati.
  </p>

  <h2>2. Identità personale</h2>
  <p>
    Non &egrave; consentito iscriversi con identit&agrave; diverse dalla propria.
      Chiediamo quindi che al momento della registrazione vengano forniti i dati personali reali.
      Registrarsi al sito con il proprio nome e cognome &egrave; un atto di trasparenza che favorisce
      la responsabilit&agrave; e la fiducia reciproche.
  </p>

  <h2>3. Riservatezza</h2>
  <p>
    &Egrave; vietato divulgare informazioni personali che riguardino altri utenti del sito contro la loro
      volont&agrave;. Non &egrave; consentito pubblicare informazioni che possano permettere di rivelare
      l'identit&agrave; di minori.
  </p>


  <h2>4. Comunicazione</h2>
  <p>
      Non &egrave; consentito offendere la dignit&agrave; e la reputazione delle persone,
      minacciare gli altri partecipanti al sito, n&eacute; insultare persone, razze, sessi, religioni,
      condizioni economiche o opinioni politiche.
      <br/>
      Non si possono pubblicare informazioni di carattere commerciale, promozionale, pubblicitario o di
      propaganda politica e elettorale, n&eacute; si pu&ograve; trasmettere o diffondere qualsiasi forma di
      comunicazione o sollecitazione non autorizzata o non richiesta dagli utenti.
      <br/>
      I contenuti pubblicati dagli utenti (commenti) devono essere pertinenti al contesto nel quale vengono pubblicati.
  </p>
  <h2>5. Diritto d'autore</h2>
  <p>
    Prima di utilizzare contenuti di qualsiasi tipo (testi, audio, video) bisogna accertarsi
      di non violare i diritti che regolano il loro utilizzo.
  </p>

  <h2>6. Gestione delle regole</h2>
  <p>
    I contenuti e i commenti che violano norme di legge o che sono contrari alle regole di pubblicazione
    vengono oscurati dai moderatori così da non essere più visibili sul sito.
    Vengono poi definitivamente cancellati dopo essere stati verificati dagli amministratori del sistema.
    <br/>
    Gli utenti responsabili di abusi o di comportamenti ripetutamente contrari alle regole di
      pubblicazione vengono bloccati dagli amministratori e non possono più accedere al sito.
  </p>

  <h2>7. Modifiche del regolamento</h2>
  <p>
    Queste regole sono naturalmente soggette a verifiche e modifiche eventualmente necessarie nel corso del tempo.
  </p>

{% endblock %}