{% extends "base_one_column.html" %}

{% block title %}Termini e condizioni{% endblock %}

{% block content %}

  <div class="row-fluid">
    <div class="span8">

      <h1>Condizioni d'uso</h1>
      <h2>Esclusione di garanzie</h2>
      <p>
        Open municipio integra informazioni di fonte istituzionale con altre fornite dagli utenti. Il controllo e la verifica delle informazioni pubblicate dagli utenti sono affidati agli utenti stessi secondo il metodo della revisione tra pari tipica delle comunità scientifiche e delle comunità in rete.  Inesattezze, errori e abusi possono essere segnalati tramite il tasto Segnala presente in ogni pagina. L'associazione Openpolis – che è titolare del progetto – gli amministratori del sito, i tecnici e qualunque soggetto direttamente o indirettamente coinvolto nel progetto non possono fornire alcuna garanzia circa la correttezza, l'esattezza e la completezza dei dati, delle informazioni e dei materiali presenti nel sito, ad esclusione di quelli di fonte ufficiale.
      </p>

      <h2>Manleva</h2>
      <p>
        Open municipio è una piattaforma per la raccolta e la distribuzione delle informazioni che riguardano i politici e la politica che si basano in parte sulla pubblicazione diretta di contenuti da parte degli utenti. L'associazione Openpolis, titolare del progetto, e i soggetti ad essa direttamente o indirettamente collegati non si assume nessuna responsabilità circa la pubblicazione da parte degli utenti di informazioni errate, false, diffamatorie o lesive dei diritti o degli interessi di qualunque soggetto né può essere ritenuta responsabile dei danni eventualmente conseguenti all'uso di tali informazioni.
      </p>
      <p>
        Con l'atto della registrazione l'utente s'impegna ad utilizzare la piattaforma esclusivamente per scopi leciti e ammessi dalle leggi con particolare riguardo alle norme di protezione dei dati, alle leggi in materia di protezione della proprietà intellettuale e industriale.  L'utente si assume ogni più ampia responsabilità civile, amministrativa e penale relativa alle informazioni e ai materiali da lui stesso pubblicati in Open municipio garantendo ogni più ampia manleva e sollevando l'associazione Openpolis da qualsivoglia richiesta di danno e pretese da parte di terzi.
      </p>

      <h2>Diritti di proprietà</h2>
      <p>
        L'utente riconosce all'associazione Openpolis e ai soggetti e società ad essa collegate il diritto di conservare, riprodurre, diffondere e cancellare ogni materiale inviato o pubblicato. L'utente garantisce il godimento di tutti i diritti di proprietà relativi al materiale e ai contenuti inviati. L'eventuale uso di qualsiasi materiale coperto da copyright (o qualsiasi altra forma di tutela) è ad unico rischio dell'utente ed è espressamente vietato. Con l'invio e la pubblicazione del materiale, l'utente accetta di cedere e trasferire a titolo gratuito e definitivo i diritti relativi al suo utilizzo alle condizioni regolate dalla licenza
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/it/">Attribuzione - Non commerciale - Condividi allo stesso modo 3.0 Italia (CC BY-NC-SA 3.0)</a> adottata per il sito Open municipio.
      </p>

      <h3>Contenuti sotto licenza Creative Commons</h3>
      Tutte le informazioni e i materiali pubblicati in Open municipio sono rilasciati con la licenza Attribuzione - Non commerciale - Condividi allo stesso modo 3.0 Italia (CC BY-NC-SA 3.0) e successive modifiche per consentirne l'uso libero e gratuito e la più ampia diffusione possibile. Per il codice legale (la licenza integrale)
      <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/it/legalcode">clicca qui</a>.

    </div>
  </div>


{% endblock %}