{% extends "base_one_column.html" %}

{% block title %}Termini e condizioni{% endblock %}
{% block content_header %}Termini e condizioni{% endblock %}
{% block content %}

      <h1>Condizioni d'uso</h1>

      <h2>Esclusione di garanzie</h2>
      <p>
          Open municipio utilizza una base di dati e informazioni forniti dall'amministrazione comunale.
          {{ webmaster_info.name }} - che &egrave; titolare del progetto - gli amministratori del sito,
          i tecnici e qualunque soggetto direttamente o indirettamente coinvolto nel progetto non possono
          fornire alcuna garanzia circa la correttezza, l'esattezza e la completezza dei dati, delle informazioni e
          dei materiali presenti nel sito.
          Eventuali inesattezze e errori possono essere segnalati a {{ contacts_email }}
      </p>

      <h2>Manleva</h2>
      <p>
          {{ webmaster_info.name }}, titolare del progetto, e i soggetti ad essa direttamente o indirettamente collegati,
          non si assumono nessuna responsabilit&agrave; circa la pubblicazione da parte degli utenti di
          informazioni errate, false, diffamatorie o lesive dei diritti o degli interessi di qualunque soggetto
          n&eacute; pu&ograve; essere ritenuta responsabile dei danni eventualmente conseguenti all'uso di tali
          informazioni.
          Con l'atto della registrazione l'utente s'impegna ad utilizzare la piattaforma esclusivamente per scopi
          leciti e ammessi dalle leggi con particolare riguardo alle norme di protezione dei dati, alle leggi
          in materia di protezione della propriet&agrave; intellettuale e industriale. L'utente  si assume ogni
          pi&ugrave; ampia responsabilit&agrave; civile, amministrativa e penale relativa alle informazioni e ai
          materiali da lui stesso pubblicati in Open municipio garantendo ogni pi&ugrave; ampia manleva e
          sollevando {{ webmaster_info.name }} da qualsivoglia richiesta di danno e pretese da parte di terzi.
      </p>

      <h2>Contenuti sotto licenza Creative Commons</h2>
      <p>
          Le informazioni e le elaborazioni pubblicati in Open municipio sono rilasciati con la licenza
          Attribuzione - Non commerciale - Condividi allo stesso modo 3.0 Italia
          (<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.it">CC BY-NC-SA 3.0</a>)
          e successive modifiche per consentirne l'uso libero e gratuito e la pi&ugrave;
          ampia diffusione possibile. Per il codice legale (la licenza integrale)
          <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode">clicca qui</a>.
      </p>

      <h2>Diritti di riuso dei contenuti</h2>
      <p>
          I contenuti pubblicati dagli utenti sono soggetti alle condizioni regolate dalla licenza
          Attribuzione - Non commerciale - Condividi allo stesso modo 3.0 Italia
          (<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.it">CC BY-NC-SA 3.0</a>)
          adottata per tutti i contenuti di Open municipio.
    L'eventuale uso di qualsiasi materiale coperto da copyright (o qualsiasi altra forma di tutela)
          &egrave; ad unico rischio dell'utente ed &egrave; espressamente vietato.
      </p>

      <h2>Dati aperti</h2>
      <p>
          I dati forniti dalle Amministrazioni aderenti alla piattaforma Open municipio,
          riguardanti amministratori, atti e votazioni del Consiglio e della Giunta comunale,
          sono rilasciati in formati aperti e con licenze che ne facilitino il riuso.
      </p>

{% endblock %}
