{% extends "base_one_column.html" %}

{% block title %}Votare e commentare un atto{% endblock %}
{% block content_header %}Votare e commentare un atto{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span8">
            <h2>Votare e commentare un atto</h2>

            <p>Per votare e commentare un atto nel sito Open municipio bisogna innanzitutto
                accedervi come utente registrato, inserendo nella <a href="/accounts/login">pagina di accesso</a>
                nome utente e password indicati nel momento della registrazione.</p>

            <p>Si sceglie la pagina con l'atto e per votarlo si seleziona tra voto favorevole o
                contrario in corrispondenza della voce "Vota", situata sulla destra della pagina.</p>

            <p>Per commentare l'atto si digita il proprio commento nello spazio riservato in corrispondenza
                della voce "Commenti", scegliendo anche una posizione tra le tre opzioni
                "favorevole", "contrario", "neutrale".
                Cliccando sul tasto "Pubblica" il commento viene così pubblicato nella pagina dell'atto.</p>
        </div>
    </div>


{% endblock %}