{% load i18n %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% trans "openmunicipio" %} {% block title %}{% endblock %}</title>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  {% block head_includes %}
  {% endblock %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css"  type="text/css" media="print" />
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<div id="wrapper"><!-- #wrapper -->

  <header>
    <section id="logos">
      <h1>
        <a href="/"><img src="{{ STATIC_URL }}images/title-img.png" border="0"/></a>
      </h1>
      <div style="float:right;">
        <a href="http://associazione.openpolis.it" target="_blank"><img src="{{ STATIC_URL }}images/logo-associazione.png" alt="associazione openpolis" border="0"/></a>
      </div>
    </section>
    
  	<nav><!-- top nav -->
      <ul style="clear:both; float: left">
        <li id="main-nav-istituzioni">
          <a href="/istituzioni" {% block istituzioni_class %}{% endblock %}>Istituzioni</a>
        </li>
        <li id="main-nav-uffici">
          <a href="/uffici" {% block uffici_class %}{% endblock %}>Uffici</a>
        </li>
        <li id="main-nav-aziende">
          <a href="/aziende" {% block aziende_class %}{% endblock %}>Aziende</a>
        </li>
      </ul>  	   

      <ul style="float:right">
        <li id="main-nav-info">
          <a href="/info" {% block info_class %}{% endblock %}>Info</a>
        </li>
      </ul>
      
      <!-- language selector -->
      <!-- 
      <div style="float:right">
        <form id="language-selector" action="/i18n/setlang/" method="post">
          {% csrf_token %}
          <label for="language">{% trans "language" %}</label>
          <select name="language" id="language">
            {% for lang in LANGUAGES %}
              {% if LANGUAGE_CODE == lang.0 %}
                <option value="{{ lang.0 }}" selected="selected">{{ lang.1 }}</option>
              {% else %}
                <option value="{{ lang.0 }}">{{ lang.1 }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <input type="submit" value="{% trans 'go' %}" />
        </form>
      </div>
      -->
      
  	</nav><!-- end of top nav -->

    {% block sub_nav %}    
    {% endblock %}
	  
  </header>

	<section id="main"><!-- #main content and sidebar area -->

	  {% block content %}      
    {% endblock %}      

    {% block sidebar %}    
    {% endblock %}

	</section><!-- end of #main content and sidebar-->

	<footer>
  		<section id="footer-area" style="text-align: center;">
        <p style="color: grey; margin-bottom: 5px;">{% trans "ideated, designed and developed by:" %}</p>
        <span style="margin-top: 100px;">
          <a href="http://www.openpolis.it"><img src="{{ STATIC_URL }}images/logo-informaetica.png" border="0" alt=" logo di informaetica"></a>
          <a href="http://associazione.openpolis.it"><img src="http://associazione.openpolis.it/images/button_ass_op.png" border="0" alt="logo associazione openpolis"></a>
        </span>
  		</section><!-- end of footer-area -->
  	</footer>
</div><!-- #wrapper -->


<script type="text/javascript">
/*
  // TODO: google analytics code 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXX-YY']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
*/
</script>
</body>
</html>
