{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load om_utils %}
{% load i18n %}
{% load digg_paginator %}
{% load url from future %}

{% block title %}Elenco atti {% endblock title %}
{% block content_header %}Atti{% endblock %}
{% block acts_class %}active{% endblock %}
{% block body_class %}acts{% endblock %}

{% block extra_style %}
em {
    background-color: yellow;
}
{% endblock %}

{% block content %}

    {% if n_results %}

      <section>
          <h2>{% if not query %}Trovati {% endif %} {{ n_results }} documenti</h2>

          {% if person %}
              <p>per il politico: <a href="{{ person.get_absolute_url }}">{{ person }}</a>  </p>
          {% endif %}

          {% if category %}
              <p>per la categoria: <a href="{{ category.get_absolute_url }}">{{ category }}</a>  </p>
          {% endif %}

          {% if tag %}
              <p>per l'argomento: <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>  </p>
          {% endif %}

          {% if location %}
              <p>per la località: <a href="{{ location.get_absolute_url }}">{{ location }}</a>  </p>
          {% endif %}

          {% if recipient %}
              <p>per il destinatario: <a href="{{ person.get_absolute_url }}">{{ recipient }}</a>  </p>
          {% endif %}

          <table class="search-results">
          <tbody>
          {% for result in page.object_list %}
          <tr>
            <td>{{ result.pub_date|circled:"full" }}</td>
            <td>
              {% if not result.object.is_final_status %}
              <span class="pull-right label label-warning">In esame</span>
              {% else %}
              <span class="pull-right text-right">
              <span class="label
                {% if result.object.status == "APPROVED" or result.object.status == "ANSWERED" %}label-success
                {% else %}{% if result.object.status == 'REJECTED' or result.object.status == "NOTANSWERED" %}label-important
                {% endif %}{% endif %} ">{{ result.object.downcast.get_status_display|title }}
              </span>{% if not result.pub_date == result.final_date %}<br /><small>in {{ result.pub_date|timesince:result.final_date }}</small>{% endif %}
              </span>
              {% endif %}

              <h4><a href="{{ result.url }}">{{ result.title }}</a></h4>
              <p><strong>{{ result.act_type }}</strong>
              {% if result.act_type == 'delibera' %}
                  di {{ result.organ }}
              {% endif %}
              </p>
              {% if result.highlighted.text %}
                <p>{{ result.highlighted.text.0|safe }}</p>
              {% endif %}
              {% if result.object.categories %}<p>
                {% for cat in result.object.categories %}<a class="badge" href="{{ cat.get_absolute_url }}">{{ cat }}</a>{% if not forloop.last %}&nbsp;{% endif %}{% endfor %}
                {% if result.object.tags %}
                  {% for tag in result.object.tags %}<a class="badge" href="{{ tag.get_absolute_url }}">{{ tag }}</a>{% if not forloop.last %}&nbsp;{% endif %}{% endfor %}
                {% endif %}
              </p>{% endif %}
              <!-- <strong>Score:</strong> {{ result.score }} -->
            </td>
          </tr>
          {% empty %}
              <p>Nessun risultato trovato.</p>
          {% endfor %}
          </tbody>
        </table>
      </section>

      {% digg_paginator %}

    {% else %}
        <section class="search-empty">
            <p>
                La ricerca di <strong>{{ form.q.value }}</strong> non è andata a buon fine.<br/>
                Controlla che tutte le parole siano state digitate correttamente.<br/>
                oppure prova con parole diverse.
            </p>
            <p>
                Grazie,<br/>
                lo staff di Open municipio
            </p>
        </section>
    {% endif %}

{% endblock %}

{% block sidebar %}

  <h4>Cerca negli atti</h4>
  <form method="get" action="{% url 'om_act_search' %}" class="form-search">
      <div class="control-group input-append">
          {%  spaceless %}
              <input id="query" type="text" class="input-medium search-query" name="{{ form.q.html_name }}"
                     value="{% if form.q.value %}{{ form.q.value }}{% endif %}" placeholder="Testo della ricerca" />
              <!--
              <span id="clear-query" class="btn add-on"><i class="icon-remove"></i></span>
              -->
          {%  endspaceless %}
      </div>
      <input id="person-id" name="{{ form.person.html_name }}"
             value="{% if form.person.value %}{{ form.person.value }}{% endif %}" type="hidden"/>
      <button type="submit" class="btn">Cerca</button>
  </form>

    {% if n_results %}

        {% if selected_facets %}
            <h2>Modifica i filtri</h2>
            {% for facet in selected_facets  %}
                <dt>{{ facets_labels|key:facet.field|safe }}</dt>
                <dd>
                    <a href="{{ facet.url }}&person={{ request.GET.person|default:"" }}">
                    <i class="icon-remove"></i></a>
                    {{ facet.r_label }}
                </dd>
            {% endfor %}
        {% else %}
            <h2>Filtra</h2>
            <p>Puoi trovare l'atto che ti interessa scorrendo la lista degli ultimi pubblicati, qui a fianco.
                Puoi perfezionare la ricerca usando i filtri nella colonna qui sotto, oppure puoi usare il form di
                ricerca con una parola che pensi sia contenuta nell'atto ,
                in cima alla colonna qui a destra</p>
        {% endif %}

        <!-- Begin faceting. -->

        <div>
            <dl>
                {% if facets.fields.act_type and not facets.fields.act_type.is_field_selected %}
                    <dt>{{ facets_labels.act_type }}</dt>
                    {# Provide all act types #}
                    {% for t in facets.fields.act_type.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=act_type:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            {% if facets.fields.status and facets.fields.act_type.is_field_selected and not facets.fields.status.is_field_selected %}
            <dl>
                <dt>{{ facets_labels.status }}</dt>
                {% for t in facets.fields.status.counts %}
                    {% if t.1 %}
                    <dd>
                        {% if not t.2 %}
                            <a href="{{ base_url }}&selected_facets=status:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                        {% endif %}
                    </dd>
                    {%  endif %}
                {% endfor %}
            </dl>
            {% endif %}
            <dl>
                {% if facets.fields.is_key and not facets.fields.is_key.is_field_selected %}
                    <dt>{{ facets_labels.is_key }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.is_key.counts %}
                        {% if t.1 %}
                        <dd>
                            {% if not t.2 %}
                                <a href="{{ base_url }}&selected_facets=is_key:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                            {% endif %}
                        </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            {% if show_is_proposal_facets %}
            <dl>
                {% if facets.fields.is_proposal and not facets.fields.is_proposal.is_field_selected %}
                    <dt>{{ facets_labels.is_proposal }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.is_proposal.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=is_proposal:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            {% endif %}
            {% if show_initiative_facets %}
            <dl>
                {% if facets.fields.initiative and not facets.fields.initiative.is_field_selected  %}
                    <dt>{{ facets_labels.initiative }}</dt>
                    {% for t in facets.fields.initiative.counts %}
                        <dd>
                            {% if not t.2 %}
                                <a href="{{ base_url }}&selected_facets=initiative:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>
            {% endif %}
            <dl>
                {% if facets.fields.organ and not facets.fields.organ.is_field_selected %}
                    <dt>{{ facets_labels.organ }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.organ.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=organ:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if not facet_queries_date.is_selected %}
                    <dt>{{ facets_labels.pub_date }}</dt>
                    {% for range in facet_queries_date.ranges|dictsortreversed:"key"  %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if facets.fields.month and not facets.fields.month.is_field_selected %}
                    <dt>{{ facets_labels.month }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.month.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=month:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
        </div>
        <!-- End faceting -->

    {% endif %}


{% endblock %}
