{% load i18n %}
{% load url from future %}

<table id="status-table">

  <colgroup>
    <col class="{% if act.status == 'PRESENTED' %}current{% else %}past{% endif %}" />
    {% if transition_groups|length_is:"5" %}
    <col class="{% if act.status == 'COMMITTEE' %}current{% else %}{% if transition_groups.COMMITTEE|length > 0 %}past{% endif %}{% endif %}" />
    <col class="{% if act.status == 'COUNCIL' %}current{% else %}{% if transition_groups.COUNCIL|length > 0 %}past{% endif %}{% endif %}">
    {% endif %}
    <col class="{% if act.status_is_final %}current{% endif %}">
  </colgroup>


  <thead>
    <tr>
      <th class="span3{% if act.status == 'PRESENTED' %} current{% else %} past{% endif %}"><div>Presentazione<span class="arrow"></span></div></th>

      {% if transition_groups|length_is:"5" %}
      <th class="span3{% if act.status == 'COMMITTEE' %} current{% else %}{% if transition_groups.COMMITTEE|length > 0 %} past{% endif %}{% endif %}"><div>Discussione in Commissione<span class="arrow"></span></div></th>
      <th class="span3{% if act.status == 'COUNCIL' %} current{% else %}{% if transition_groups.COUNCIL|length > 0 %} past{% endif %}{% endif %}"><div>Discussione in Consiglio<span class="arrow"></span></div></th>
      {% endif %}

      <th class="span3{% if act.status_is_final %} current{% endif %}"><div>{% if act_type == 'interrogazione' or act_type == 'interpellanza'%}Discussione{% else %}Approvazione{% endif %}</div></th>
    </tr>
  </thead>

  {% if transition_forms and not act.status_is_final %}
  <tfoot>
  <tr>
    <td></td>
    {% if transition_groups|length_is:"5" %}
      <td>{% if act.status != 'COMMITTEE' %}
        <a href="#transaction_form_committee" class="transaction_edit btn btn-mini"><i class="icon-edit"></i>Imposta in Commissione</a>
        <div class="modal hide" id="transaction_form_committee">
          <form action="{% url 'om_act_transition_add' act.id %}" class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a><h3>Aggiungi transizione in Commissione</h3>
            </div>
            <div class="modal-body">
              {% with transition_forms.transition_to_committee_form as form %}
                {% for field in form.visible_fields %}
                  <div class="control-group">
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>

                    <div class="controls">
                      {{ field }}
                      {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
                    </div>
                  </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endwith %}
            </div>
            <div class="modal-footer">
              <input type="hidden" name="prefix" value="committee">
              <input type="button" value="Chiudi" data-dismiss="modal" class="btn">
              <input type="submit" value="Salva" class="btn btn-primary">
            </div>
          </form>
        </div>
      {% endif %}
      </td>
      <td>{% if act.status != 'COUNCIL' %}
        <a href="#transaction_form_council" class="transaction_edit btn btn-mini"><i class="icon-edit"></i> Imposta in Consiglio</a>
        <div class="modal hide" id="transaction_form_council">
          <form action="{% url 'om_act_transition_add' act.id  %}" class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a><h3>Aggiungi transizione in Consiglio</h3>
            </div>
            <div class="modal-body">
              {% with transition_forms.transition_to_council_form as form %}
                {% for field in form.visible_fields %}
                  <div class="control-group">
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>

                    <div class="controls">
                      {{ field }}
                      {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
                    </div>
                  </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endwith %}
            </div>
            <div class="modal-footer">
              <input type="hidden" name="prefix" value="council">
              <input type="button" value="Chiudi" data-dismiss="modal" class="btn">
              <input type="submit" value="Salva" class="btn btn-primary">
            </div>
          </form>
        </div>
      {% endif %}
      </td>
    {% endif %}
    <td>
      <a href="#transaction_form_final" class="transaction_edit btn btn-mini"><i class="icon-edit"></i> Chiusura atto</a>
      <div class="modal hide" id="transaction_form_final">
        <form action="{% url 'om_act_transition_add' act.id %}" class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a><h3>Transizione finale</h3>
          </div>
          <div class="modal-body">
            {% with transition_forms.transition_to_final_form as form %}
              {% for field in form.visible_fields %}
                <div class="control-group">
                  <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>

                  <div class="controls">
                    {{ field }}
                    {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
                  </div>
                </div>
              {% endfor %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            {% endwith %}
          </div>
          <div class="modal-footer">
            <input type="hidden" name="prefix" value="final">
            <input type="button" value="Chiudi" data-dismiss="modal" class="btn">
            <input type="submit" value="Salva" class="btn btn-primary">
          </div>
        </form>
      </div>
    </td>
  </tr>
  </tfoot>
  {% endif %}

  <tbody>
  <tr>
    <td>{{ act.presentation_date|date:"j.n.Y" }}</td>
    {% if transition_groups|length_is:"5" %}
      <td>
        <ul>
          {% for transition in transition_groups.COMMITTEE %}
            <li>
              {% if transition_forms and transition == act.get_last_transition %}
                <form action="{% url 'om_act_transition_remove' act.id %}" class="transition_delete_form"
                      method="post">{% csrf_token %}
                  <input type="hidden" name="transition_id" value="{{ transition.id }}"/>
                  <button class="btn btn-mini"><i class="icon-remove"></i></button>
                </form>
              {% endif %}

              {{ transition.transition_date|date:"j.n.Y" }} - {{ transition.note }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <ul>
          {% for transition in transition_groups.COUNCIL %}
            <li>
              {% if transition_forms and transition == act.get_last_transition %}
                <form action="{% url 'om_act_transition_remove' act.id %}" class="transition_delete_form"
                      method="post">{% csrf_token %}
                  <input type="hidden" name="transition_id" value="{{ transition.id }}"/>
                  <button class="btn btn-mini"><i class="icon-remove"></i></button>
                </form>
              {% endif %}

              {{ transition.transition_date|date:"j.n.Y" }} - {{ transition.note }}
            </li>
          {% endfor %}
        </ul>
      </td>
    {% endif %}
    <td>
      {% if act.status_is_final %}
        {% with transition=act.get_last_transition %}
        <ul>
          <li>
            {% if transition_forms %}
            <form action="{% url 'om_act_transition_remove' act.id %}" class="transition_delete_form"
                  method="post">{% csrf_token %}
              <input type="hidden" name="transition_id" value="{{ transition.id }}"/>
              <button class="btn btn-mini"><i class="icon-remove"></i></button>
            </form>
            {% endif %}

            {{ transition.transition_date|date:"j.n.Y" }} {% if transition.note %}- {{ transition.note }}{% endif %}
          </li>
          <li>
            <p class="text-center">
              <b>{% trans act.get_status_display %} </b>
              {% if transition.votation %}
                  <br/>
                  <a href="{{ transition.votation.get_absolute_url }}">{% trans "votation" %}</a>
              {% endif %}
              {% if transition.attendance %}
                  <br/>
                  <a href="{{ transition.attendance.get_absolute_url }}">{% trans "attendance" %}</a>
              {% endif %}
            </p>
          </li>
        </ul>
        {% endwith %}

      {% endif %}
    </td>
  </tr>
  </tbody>
</table>

{% if transition_forms %}
  <script type="text/javascript">
    include(["js/bootstrap-modal.js","js/jquery-ui-1.8.18.custom.min.js"], function() {

      $('a.transaction_edit').each(function() {
        var link = $(this);
        link.click(function(e) {
          e.preventDefault();
          $(link.attr('href')).modal();
        });
      });

      include(["js/jquery-ui.calendar.js"], function() {
        // on scripts loaded...
        $('.datepicker').each(function(){
          $('#'+$(this).prop('id')).datepicker({
            dateFormat: 'dd/mm/yy'
          });
        });
      });
    });
  </script>
{% endif %}
