{% extends "acts/act_section.html" %}
{% load i18n %}
{% load om_comments_tags %}
{% load comments %}
{% load voting_tags %}
{% load newscache_tags %}

{% block title %}| Dettaglio {{ act }}{% endblock title %}
{% block content_header %}Dettaglio atto{% endblock %}
{% block acts_class %}class="active"{% endblock %}

{% block head_css_includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/voting.css" rel="stylesheet">    
{% endblock head_css_includes %}

{% block head_js_includes %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/ajax_csrf.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/voting.js" type="text/javascript"></script>
{% endblock head_js_includes %}

{% block footer_js_includes %}
    {{ block.super }}
    <script type="text/javascript">

        {% if request.user.is_authenticated %}
        {% comment %}Send Monitoring form with anchor link{% endcomment %}
        $(document).ready(function () {
            $('#monitoring_table form').each(function(){
                // hide forms
                $(this).hide();
                // search button to emulate
                var button = $('button', this).first();
                // create ajax sender link
                var link = $('<a />').prop({
                    'href' : '#'
                }).on('click', function() {
                    $(this).next('form').submit();
                    return false;
                });
                button.contents().each(function(){
                    link.append(this);
                });
                // inject content and insert before the form
                $(this).before( link );
            });

        });

        {% comment %}Build Comment form{% endcomment %}
        var selectRadio = function() {
            el = $(this);
            // de-activate icon
            el.parent().find('.socialicon-active').removeClass('socialicon-active');
            // clean send button
            $('#comment_form_submit i').remove();
            // inject new hand
            $('#comment_form_submit').append($('<i class="socialicon-'+el.data('icon')+' socialicon-active"></i>'));
            // set radiobox as checked
            el.addClass('socialicon-active').find('input').prop('checked', true);
        };
        include('js/jquery.autogrow.js', function() {
            $('#comment_form .radio-group label').each(function(id,el){
                el = $(el);
                el.data('icon', el.prop('for') == 'id_mood_0' ? 'ok' : ( el.prop('for') == 'id_mood_1' ? 'ko' : 'five' ));
                if ( $('input', el).prop('checked') )
                {
                    $('#comment_form_submit').append($('<i class="socialicon-'+el.data('icon')+' socialicon-active"></i>'))
                }
                el.css({
                    'text-indent': '-99999px',
                    'overflow': 'hidden',
                    'cursor': 'pointer'
                }).addClass('socialicon-'+el.data('icon')).on('click', selectRadio);
            });
            $('#id_comment').autogrow();
            // prevent empty submit
            $('#comment_form').submit(function(){
                var field = $(this).find('textarea');
                if (field.length && (field.val().length == 0) ) {
                    alert('Attenzione, il commento è vuoto.');
                    return false;
                }
            });

            // politician form grow
            $('#description_form textarea').autogrow();
        });
        {% endif %}

    </script>
{% endblock %}

{% block content %}
    <hgroup>
        <table class="pull-right">
            <tr>
                <th><span class="lightgraybox smallbox">Prossima discussione</span></th>
                <td><span class="graybox smallbox">3.3.2012</span></td>
            </tr>
        </table>
        <h2>
            <strong>{% block act_type %}TIPO ATTO{% endblock %}</strong>
            del Consiglio comunale N° {{ act.idnum }} del <span class="date">{{ act.presentation_date }}</span></small>
        </h2>
{% load om_utils %}
{% load bookmarking_tags %}
 <h1><i id="{{ act|as_token }}" class="bookmarkable {% is_key_class act %}"></i><strong>{{ act.title }}</strong> ({{ act.idnum }})</h1>
    </hgroup>

        {% if description_form %}
            <form id="description_form" class="well form-horizontal" action="{% url om_act_description_update pk=act.pk %}" method="post">
                {% csrf_token %}
                <textarea name="{{ description_form.description.html_name }}" id="{{ description_form.description.html_name }}_id" cols="30"
                          rows="3">{{ description_form.description.value }}</textarea>
                {% for hidden in description_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <button type="submit" class="btn btn-info btn-small">Invia</button>
            </form>
        {%  else %}
            <p class="well">{{ act.description|safe }}</p>
        {% endif %}

    <ul class="nav nav-tabs">
      <li {% block act_tab_status_class %}class="active"{% endblock %}> <a href="{{ act.get_absolute_url }}">Stato</a></li>
      <li {% block act_tab_documents_class %}{% endblock %}><a href="{{ act.get_absolute_url }}documents">Documenti</a></li>
      <li><a href="{{ act.get_absolute_url }}votes"><strong>Voti</strong></a></li>
    </ul>

    {% block act_tab_body %}
        {% include 'acts/act_table_transitions.html' %}
    {% endblock act_tab_body %}

    {% load web_services_tags %}
    {% share act %}
{% endblock content %}


{% block sidebar %}

<section>
    {% include 'acts/act_tags_editor.html' %}
    <h3>Argomenti dell'atto</h3>
    
    <dl class="tags-cloud">
        {% for category in act.categories %}
        <dt><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></dt>
        {% for tag in category.tags %}
            {% if tag in act.tags %}
            <dd><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></dd>
            {% endif %}
        {% endfor %}
        {% endfor %}
    </dl>
 
    {% if location_form %}
    	<form id="location-form" class="" action="{% url om_act_locations_add pk=act.act_ptr.pk %}" method="post">
    		{% csrf_token %}
	        {{ location_form.as_p }}
            <button type="submit" class="btn btn-info btn-small">Applica</button>
		</form>

	{% endif %}
 
</section>

<section><h3>Monitora</h3>
    <table id="monitoring_table">
        <tr>
            <td><span class="bluebox">{{ act.monitoring_users_count}}</span></td>
            <th class="bg-dark span12">
                utenti che monitorano l'atto
                <ul class="unstyled list-inline">
                    {% for user in act.monitoring_users %}
                    <li>
                        <a href="{% url users_user_detail user.username %}">{{ user.get_profile.public_name }}</a>
                        {% if not forloop.last %},{% endif %}
                    </li>
                    {% endfor %}
                </ul>

                <small>
                {% if user.is_authenticated and not user.get_profile.person %}
                    {% if is_user_monitoring %}
                        <i class="icon-eye-close"></i>
                        <form action="{% url om_monitoring_stop %}" method="post">
                            {% csrf_token %}
                            {{ monitoring_form }}
                            <button type="submit" class="btn btn-info btn-mini">Interrompi il monitoraggio</button>
                        </form>
                    {% else %}
                        <i class="icon-eye-open"></i>
                        <form action="{% url om_monitoring_start %}" method="post">
                            {% csrf_token %}
                            {{ monitoring_form }}
                            <button type="submit" class="btn btn-info btn-mini">Avvia il monitoraggio</button>
                        </form>
                    {% endif %}
                {% endif %}
                </small>
            </th>
        </tr>
        <tr>
            <td><span class="greenbox">{{ act.monitoring_politicians_count}}</span></td>
            <th class="bg-dark span12">
                politici che monitorano l'atto
                <ul class="unstyled list-inline">
                    {% for user in act.monitoring_politicians %}
                    <li>
                        <a href="{{ user.get_profile.person.get_absolute_url }}">{{ user.get_profile.public_name }}</a>
                        {% if not forloop.last %},{% endif %}
                    </li>
                    {% endfor %}
                </ul>

                <small>
                {% if user.is_authenticated and user.get_profile.person %}
                    {% if is_user_monitoring %}
                        <i class="icon-eye-close"></i>
                        <form action="{% url om_monitoring_stop %}" method="post">
                            {% csrf_token %}
                            {{ monitoring_form }}
                            <button type="submit" class="btn btn-info btn-mini">Interrompi il monitoraggio</button>
                        </form>
                    {% else %}
                        <i class="icon-eye-open"></i>
                        <form action="{% url om_monitoring_start %}" method="post">
                            {% csrf_token %}
                            {{ monitoring_form }}
                            <button type="submit" class="btn btn-info btn-mini">Avvia il monitoraggio</button>
                        </form>
                    {% endif %}
                {% endif %}
                </small>
            </th>
        </tr>
    </table>
</section>




<section><h3>Vota</h3>
  {% include "acts/act_vote_block.html" %}
</section>

{% get_comment_count for act as comment_count %}
{% get_comment_list for act as comment_list %}
{% get_comment_form for act as form %}
<section><h3>Commenti ({{ comment_count }})</h3>
    <ul class="people-list">
        {% for comment in comment_list %}
        <li class="bg-light"> <!-- make control for different comment opinion, like positive comment use .bg-lightgreen -->
            <a href="{% url users_user_detail comment.user.username %}">
                <img src="http://placehold.it/50x50" />
                {{ comment.user.username|capfirst }}
            </a>
            {{ comment.comment }}

            <div class="clearfix"></div>

            <span id="comments-votebox-{{ comment.id }}" class="monitoring">

                {% if comment.user == request.user and comment|comment_TTL > 0 %}
                    <div class="pull-right" title="{% blocktrans with seconds=comment|comment_TTL %}You still have {{ seconds }} seconds to delete this comment{% endblocktrans %}">
                        <form action="{% url comments-delete-own-comment comment.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-mini">{% trans 'Delete' %}
                                <small>(-{{ comment|comment_TTL }}s)</small></button>
                        </form>
                        {% comment %}
                    <!-- A simple anchor tag instead of the form can work
                         too, but the form ``csrf_token`` provide some
                         additional security!  Yep, bit of a paranoyd
                         thing indeed! ;-) -->
                    <a href="{% url comments-delete-own-comment comment.id %}">Remove comment</a>
                    {% endcomment %}
                    </div>
                {% endif %}


                {% if comment.mood == "+" %}<i class="socialicon-ok socialicon-active"></i>{% else %}
                {% if comment.mood == "-" %}<i class="socialicon-ko socialicon-active"></i>{% else %}
                {% if comment.mood == "0" %}<i class="socialicon-five socialicon-active"></i>{% endif %}{% endif %}{% endif %}
                 &middot; {{ comment.submit_date|date:"d M Y" }}  &middot;
                {% score_for_object comment as comment_score %}
                {% if request.user.is_authenticated %}
                {% vote_by_user request.user on comment as vote %}
                <a href="#" id="comments-vote-{{ comment.id }}-up" class='vote{% if vote.vote and vote.vote > 0 %} up-voted{% endif %}'><span class='notlike'>Non mi piace pi&ugrave</span><span class='like'>Mi piace</span></a>  &middot; 
                {% else %}
                <a href="#" class="vote"><span class='like'>Mi piace</span></a>  &middot;                 
                {% endif %}
                <i class="socialicon-like"></i> <span class="okscore">{{ comment_score.score }}</span>
            </span>
        </li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated %}
    <form id="comment_form" action="{% comment_form_target %}" method="post" class="form-inline bg-dark">
        <input type="hidden" name="next" value="{{ act.get_absolute_url }}" />
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="row-fluid">
            <div class="span8">
                <textarea name="{{ form.comment.html_name }}" placeholder="Inserisci un commento" id="id_comment" cols="30" rows="3"></textarea>
            </div>
            <div class="span4 text-center">
                <button type="submit" class="btn btn-mini" id="comment_form_submit">{% trans 'Post' %} </button>
                <div class="radio-group">
                    {{ form.mood }}
                </div>
            </div>
        </div>
    </form>
    {% endif %}
    <p>Leggi tutti (Cronologia) <i class="icon-chevron-down"></i></p>
</section>

<section>
    <h3>Ultime sugli Atti <img src="{{ STATIC_URL }}img/feed-icon-14x14.png" alt="" /></h3>

    <ul class="feed-list">
        {% institutional_news_for_object act as i_news %}
        {% for n in i_news %}
            <li>{{ n.created|date:"d-m-Y" }} - {{ n.text|safe }}</li>
        {% endfor %}
    </ul>
    <p class="bg-dark">Leggi tutti (Cronologia) <i class="icon-chevron-down"></i></p>
</section>

<section>
    <h3>Ultime dalla community <img src="{{ STATIC_URL }}img/feed-icon-14x14.png" alt="" /></h3>

    <ul class="feed-list">
        {% community_news_for_object act as c_news %}
        {% for n in c_news %}
            <li>{{ n.created|date:"d-m-Y" }} - {{ n.text|safe }}</li>
        {% endfor %}
    </ul>
    <p class="bg-dark">Leggi tutte (Cronologia) <i class="icon-chevron-down"></i></p>
</section>
{% endblock %}

