<table id="acttable">
    <thead>
    <tr>
        <th class="approved span3">
            <div>Presentazione<span class="arrow"></span></div>
        </th>
        <th class="past span3">
            <div>Discussione in Commissione<span class="arrow"></span></div>
            {% if not act.deliberation.status_is_final %}
                <a href="#transaction_form_commission" class="hide transaction_edit pull-right label label-info">
                    <i class="icon-edit icon-white"></i> Edit
                </a>
            {% endif %}
        </th>
        <th class="span3">
            <div>Discussione in Consiglio<span class="arrow"></span></div>
        </th>
        <th class="span3">
            <div>Approvazione</div></th>
    </tr>
    </thead>
    {% if perms.acts.can_transition and not act.status_is_final %}
        <tfoot>
        <tr>
            <td></td>
            <td>
                {% if act.deliberation.status != act.deliberation.STATUS.commission %}
                    <div class="modal hide" id="transaction_form_commission">
                        <form action="">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">×</a>
                                <h3>Aggiungi transizione: {{ act.deliberation.STATUS.commission }}</h3>
                            </div>
                            <div class="modal-body">
                                <p>Data : <input type="text" name="data"></p>
                                <p>Note : <input type="text" name="note"></p>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="act_id" value="{{ act.id }}">
                                <input type="hidden" name="act_status" value="{{ act.deliberation.STATUS.commission }}" >
                                <input type="button" value="Close" class="btn">
                                <input type="submit" value="Salva" class="btn btn-primary">
                            </div>
                        </form>
                    </div>

                {% endif %}
            </td>
            <td>
                {% if act.deliberation.status != act.deliberation.STATUS.council %}
                    <form action="" class="hide">
                        <h6>Aggiungi transizione: {{ act.deliberation.STATUS.council }}</h6>
                        <p>Data : <input type="text" name="data"></p>
                        <p>Note : <input type="text" name="note"></p>
                        <input type="hidden" name="act_id" value="{{ act.id }}">
                        <input type="hidden" name="act_status" value="{{ act.deliberation.STATUS.council }}" >
                        <input type="submit" value="Salva">
                    </form>
                {% endif %}
            </td>
            <td>
                {% if act.deliberation.status != act.deliberation.STATUS.approved and act.deliberation.status != act.deliberation.STATUS.rejected %}
                    <form action=""class="hide">
                        <h6>Transizione conclusiva</h6>
                        <p>Data : <input type="text" name="data"></p>
                        <p>Note : <input type="text" name="note"></p>
                        <p>Voto : <select name="vote_id">
                            <option value="">-- seleziona votazione --</option>
                        </select></p>
                        <p>
                            Approvato <input type="radio" name="act_status" value="{{ act.deliberation.STATUS.approved }}">
                            <br>
                            Respinto <input type="radio" name="act_status" value="{{ act.deliberation.STATUS.rejected }}">
                        </p>
                        <input type="hidden" name="act_id" value="{{ act.id }}">
                        <input type="submit" value="Salva">
                    </form>
                {% endif %}
            </td>
        </tr>
        </tfoot>
    {% endif %}
    <tbody>
    <tr>
        <td>{{ act.presentation_date }}</td>
        <td>
            <ul>
                <li>
                    2.2.2012 - Edilizia <br />
                    <strong>In esame</strong>
                </li>
                <li>
                    12.2.2012 - Edilizia <br />
                    <strong><i class="icon-check"></i> Approvato</strong> <br />
                    <a href="#">Emendamenti</a> &middot; <a href="#">Voti</a>
                </li>
                <li><strong><a href="#">Vedi tutte <i class="icon-chevron-down"></i></a></strong></li>
            </ul>
        </td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>