{% extends 'base_two_columns.html' %}
{% load highlight %}

{% block extra_style %}
em {
    background-color: yellow;
}
{% endblock %}

{% block content %}
    {% if selected_facets %}
        <ul class="breadcrumb">
            {% for facet in selected_facets  %}
                <li>
                    <a href="{{ facet.url }}"><i class="icon-remove"></i></a>
                    {{ facet.field }}<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ facet.label }} <a href="#"><i class="icon-chevron-down"></i></a
                </li>
                {% if not forloop.last %}
                    <span class="divider">&nbsp;</span>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}


    <h2>Search</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search" class="btn">
                </td>
            </tr>
        </table>

        {% if query %}


            <section>
                <h3>Risultati</h3>

                <table class="data">
                    <tbody>
                    {% for result in page.object_list %}
                        <tr>
                            <td>{{ obj.presentation_date}}</td>
                            <td>
                                <span class="label">{{ result.act_type }}</span>
                                <a href="{{ result.url }}">{{ result.title }}</a><br/>
                                {{ result.highlighted.text.0|safe }}<br/>
                                {% if result.categories %}
                                    <strong>Categorie</strong>: {{ result.categories|join:", " }}<br/>
                                {% endif %}
                                {% if result.tags %}
                                    <strong>Tag</strong>: {{ result.tags|join:", " }}<br/>
                                {% endif %}
                                <strong>Pubblicazione:</strong>{{ result.pub_date }}
                            </td>
                        </tr>
                    {% empty %}
                        <p>Nessun risultato trovato.</p>
                    {% endfor %}
                    </tbody>
                </table>
                {% if page.has_previous or page.has_next %}
                    <div>
                        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                        |
                        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                    </div>
                {% endif %}
            </section>

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}

{% block sidebar %}
    {% if query %}
        <!-- Begin faceting. -->
        <h3>Filtra</h3>

        <div>
            <dl>
                {% if facets.fields.act_type and not facets.fields.act_type.is_field_selected %}
                    <dt>Tipologia</dt>
                    {# Provide all act types #}
                    {% for t in facets.fields.act_type.counts %}
                        <dd>
                            {% if not t.2 %}
                                <a href="{{ request.get_full_path }}&amp;selected_facets=act_type:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.categories and not facets.fields.categories.is_field_selected %}
                    <dt>Categorie</dt>
                    {# Provide only the top 5 categories #}
                    {% for cat in facets.fields.categories.counts|slice:":5" %}
                        <dd>
                            {% if not cat.2 %}
                                <a href="{{ request.get_full_path }}&amp;selected_facets=categories:{{ cat.0|urlencode }}">{{ cat.0 }}</a> ({{ cat.1 }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.tags %}
                    <dt>Tag</dt>
                    {# Provide only the top 5 tags #}
                    {% for tag in facets.fields.tags.counts|slice:":5" %}
                        <dd>
                            {% if not tag.2 %}
                                <a href="{{ request.get_full_path }}&amp;selected_facets=tags:{{ tag.0|urlencode }}">{{ tag.0 }}</a> ({{ tag.1 }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                <dt>Data di pubblicazione</dt>
                    <dd>
                        <a href="{{ request.get_full_path }}&amp;selected_facets={{ facet_queries_pubdate.threedays.key }}">
                            ultimi tre giorni
                        </a> ({{ facet_queries_pubdate.threedays.count }})
                    </dd>
                    <dd>
                        <a href="{{ request.get_full_path }}&amp;selected_facets={{ facet_queries_pubdate.onemonth.key }}">
                            ultimo mese
                        </a> ({{ facet_queries_pubdate.onemonth.count }})
                    </dd>
            </dl>
        </div>
        <!-- End faceting -->

    {% endif %}


{% endblock %}