{% load om_utils %}
{% load voting_tags %}
{% load url from future %}

{% votes_for_object act.act_ptr as act_votes %}


{% vote_by_user request.user on act.act_ptr as vote %}

  <table id="act-voting-table">

    <tr>
      <td>{{ act_votes.upvotes|circled }}</td>
      <td>
        <h4>Cittadini favorevoli all'atto{% if vote.vote and vote.vote > 0 %}, incluso te{% endif %}</h4>
        {% if vote %}
          {% if vote.vote > 0 %}
            <form method="post" action="{% url 'om_act_record_user_vote' pk=act.id direction='clear' %}">{% csrf_token %}
              <button type="submit">Ho cambiato idea</button>
            </form>
          {% endif %}
        {% else %}
          <i class="icon-thumbs-up"></i>
          <form method="post" action="{% url 'om_act_record_user_vote' pk=act.id direction='up' %}">{% csrf_token %}
            <button type="submit">Vota</button>
          </form>
        {% endif %}
      </td>
    </tr>

    <tr>
      <td>{{ act_votes.downvotes|circled }}</td>
      <td>
        <h4>Cittadini contrari all'atto{% if vote.vote and vote.vote < 0 %}, incluso te{% endif %}</h4>
        {% if vote %}
          {% if vote.vote < 0 %}
            <form method="post" action="{% url 'om_act_record_user_vote' pk=act.id direction='clear' %}">{% csrf_token %}
              <button type="submit">Ho cambiato idea</button>
            </form>
          {% endif %}
        {% else %}
          <i class="icon-thumbs-down"></i>
          <form method="post" action="{% url 'om_act_record_user_vote' pk=act.id direction='down' %}">{% csrf_token %}
            <button type="submit">Vota</button>
          </form>
        {% endif %}
      </td>
    </tr>

  </table>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#act-voting-table form').submitLink();
    });
  </script>

