<div class="row-fluid">

    <section class="span6">
        <h1>{{ supporter_title|default:"Firmatari" }}</h1>
        <ul class="people-list">
          {% for supporter in act_supporters %}
          <li>
            <a href="{{ supporter.get_absolute_url }}"><img src="{{ STATIC_URL }}img/placehold/50.gif" /></a>

            <div>
              <strong><a href="{{ supporter.get_absolute_url }}">{{ supporter.person.full_name }}</a></strong>
              <br>
              {{ supporter.council_group }}
              <br>
              <span class="monitoring">Monitorato da {{ supporter.monitoring_users|length }} cittadini -</span>
              <i class="icon-plus-sign"></i> <a href="#">Monitora</a>
            </div>
          </li>
          {% endfor %}
        </ul>

    </section>

    <section class="span6">
        {% if act_cosupporters %}
        <h1>{{ cosupporter_title|default:"Co-firmatari" }}</h1>
        <ul class="people-list">
          {% for supporter in act_supporters %}
            <li>
              <a href="{{ supporter.get_absolute_url }}"><img src="{{ STATIC_URL }}img/placehold/50.gif" /></a>

              <div>
                <strong><a href="{{ supporter.get_absolute_url }}">{{ supporter.person.full_name }}</a></strong>
                <br>
                {{ supporter.council_group }}
                <br>
                <span class="monitoring">Monitorato da {{ supporter.monitoring_users|length }} cittadini -</span>
                <i class="icon-plus-sign"></i> <a href="#">Monitora</a>
              </div>
            </li>
          {% endfor %}
        </ul>
        {% endif %}

    </section>
</div>
