{% load url from future %}
    <div id="cteditor" class="hide">

        <div class="modal" id="modal-container">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3>Editor Argomenti</h3>
            </div>
            <form action="{% url 'om_act_topics_update' pk=act.act_ptr.pk %}" method="post" class="form-horizontal modal-form">{% csrf_token %}
                <div class="modal-body">
                  {% regroup act.topics by category as categorized_topics %}
                  {% for grouped_tags in categorized_topics %}
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="category_{{ grouped_tags.grouper.id }}">
                                <a href="#"><i class="icon-remove"></i></a> 
                                  <span class="label">{{ grouped_tags.grouper.name }}</span>
                            </label>

                            <div class="controls">
                                <select name="categories[{{ grouped_tags.grouper.id }}]" id="category_{{ grouped_tags.grouper.id }}"
                                        multiple="multiple">
                                    {% for tag in topics.tags %}
                                        <option value="{{ tag.id }}"{% for topic in grouped_tags.list %}{% if tag == topic.tag %}
                                                selected="selected"{% endif %}{% endfor %}>{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    {% endfor %}

                    <fieldset class="hide" id="category_skeleton">
                        <div class="control-group">
                            <label class="control-label" for="category_{{ category.id }}">
                                <a href="#"><i class="icon-remove"></i></a> <span class="label"></span>
                            </label>

                            <div class="controls">
                                <select multiple="multiple">
                                    {% for tag in topics.tags %}<option value="{{ tag.id }}">{{ tag.name }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <div class="control-group">
                        <select id="category_list">
                            <option value=""></option>
                            {% for category in topics.categories %}{% if category not in act.categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endif %}{% endfor %}
                        </select>
                        <a href="#" class="btn btn-mini btn-success" id="category_add"><i class="icon-plus icon-white"></i> Aggiungi</a>
                    </div>

                </div>

                <div class="modal-footer">
                    <input type="submit" value="Salva" class="btn btn-primary"/>
                    <input type="reset" value="Reset" class="btn"/>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">

	        var initial_form = $('#cteditor').find('form').clone();

        var buildTextList = function(select) {

            if ( select.data('active') )
                return;
            select.data('active');

            // create el
            var el = $('<input />').attr({
                name: select.attr('name'),
                value: '',
                'class': 'cteditor-input'
            });

            // fill input after multiple-select
            select.attr('name', '_'+ select.attr('name') ).hide().after( el );

            // initialize textboxlist
            var t = new $.TextboxList(el, {unique: true, plugins: {autocomplete: {
                minLength: 1,
                onlyFromValues: true
            }}});

            // retrieve available tags
            var tags = [];
            select.children('option').each(function(){
                var $this = $(this), value = $this.val(), text = $this.text();
                tags.push([ value, text ]);
                if ( $this.attr('selected') )
                    t.add( text, value );
            });

            // adds to autocompleter
            t.plugins['autocomplete'].setValues(tags);
        };

        var initialize_editor = function() {
						// build initial textlistboxes
            $('#category_skeleton').prevAll('fieldset').each(function() {
                var fieldset = $(this),
                        select = $('select',fieldset),
                        option = $('<option />')
                                .val( select.prop('id').replace('category_','') )
                                .text( $('label.control-label', fieldset).text());

                fieldset.data('option', option );

                buildTextList( select );

                // activate close button
                $('.control-label a', fieldset).click(function(e) {
                    e.preventDefault();
                    // add category to re-add
                    $('#category_list').append( fieldset.data('option') );
                    fieldset.remove();
                });
            });

            $('#category_add').click(function(e){
                e.preventDefault();

                var new_cat = $('#category_list').children('option:selected');

                if ( !new_cat.val() )
                    return;

                var fieldset = $('#category_skeleton').clone();

                fieldset.removeClass('hide').attr({'id' : '' });

                // setting label with category name
                $('label span', fieldset).text(new_cat.text());

                // setting select field with category id
                $('select', fieldset).attr({
                    'id' : 'category_' + new_cat.val(),
                    'name' : 'categories['+ new_cat.val() +']'
                });

                // activate close button
                $('a', fieldset).click(function(e) {
                    e.preventDefault();
                    // add category to re-add
                    $('#category_list').append( fieldset.data('option') );
                    fieldset.remove();
                });

                // inject it
                fieldset.insertBefore( $('#category_skeleton') );

                // build textlistbox
                buildTextList( $('select',fieldset) );

                // remove from selectable
                fieldset.data('option', new_cat.remove());
            });

            // reset
            $('#cteditor').find('input[type=reset]').click(function(){
                $('#cteditor').find('form').replaceWith(initial_form.clone());
                initialize_editor();
            });
        };

        include([
            'js/jquery.growinginput.js',
            'js/jquery.textboxlist.js',
            'js/bootstrap-modal.js',
            'css/textboxlist.css',
            'css/ui-custom-theme/jquery-ui-1.8.16.custom.css'], function() {

            var cteditor_launcher = $('{{ launcher_id|default:"#cteditor_launcher" }}');

            $(cteditor_launcher).click(function(event){
                event.preventDefault();

                // express a single node as a jQuery object
                var $t = $(this);

                // open modal with editor
                $('#cteditor').modal();

                // avoid duplicates
                if ( $t.data('cteditor') )
                    return;
                $t.data('cteditor', true );

                initialize_editor();

            });
        });
    </script>
