{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load om_utils %}
{% load i18n %}
{% load digg_paginator %}

{% block title %}Elenco interventi {% endblock title %}
{% block content_header %}Interventi{% endblock %}
{% block speech_class %}active{% endblock %}
{% block body_class %}speech{% endblock %}

{% block extra_style %}
em {
    background-color: yellow;
}
{% endblock %}

{% block content %}
    {% if n_results %}
        <section>
            <h2>{% if not query %}Trovati {% endif %} {{ n_results }} interventi in aula</h2>
    
        {% if person %}
            <p>per: <a href="{{ person.get_absolute_url }}">{{ person }}</a> </p>
        {% endif %}

        {% if category %}
            <p>per la categoria: <a href="{{ category.get_absolute_url }}">{{ category }}</a>  </p>
        {% endif %}
    
        {% if tag %}
            <p>per l'argomento: <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>  </p>
        {% endif %}
    
        <table class="search-results">
        <tbody>
        {% for result in page.object_list %}
            <tr>
                <td>{{result.object.date|circled:"full" }}</td>
                <td>
                    <h4><a href="{{ result.object.get_absolute_url }}">
                    Intervento n. {{ result.object.seq_order }} 
                    </a></h4>
                    {% if result.object.title %}
                    "{{ result.object.title }}" <br/>
                    {% endif %}
                    <strong>{{ result.object.sitting_item.title }}</strong><br/>
                    <a href="{{ result.object.sitting.get_absolute_url }}">{{ result.object.sitting }}</a><br/>
                    {{ result.object.author_name }}
                </td>
            </tr>
        {% empty %}
            <p>Nessun intervento trovato.</p>
        {% endfor %}
        </tbody>
        </table>
        </section>
        {% digg_paginator %}
    {% else %}
        <section class="search-empty">
            <p>
                La ricerca di <strong>{{ form.q.value }}</strong> non è andata a buon fine.<br/>
                Controlla che tutte le parole siano state digitate correttamente.</br>
                oppure prova con parole diverse.
            </p>
            <p>
                Grazie,<br/>
                lo staff di Open Municipio
            </p>
        </section>
    {% endif %} 

{% endblock %}

{% block sidebar %}
 
    {% include "acts/speech_search_box.html" %}
   
    {% if n_results %}
        {% if selected_facets %}
            <h2>Modifica i filtri</h2>
            {% for facet in selected_facets %}
                <dt>{{ facets_labels|key:facet.field|safe }}</dt>
                <dd>
                    <a href="{{ facet.url }}"><i class="icon-remove"></i></a>
                    {{ facet.r_label }}
                </dd>
            {% endfor %}
    
        {% else %}
            <h2>Filtra</h2>
            <p>Puoi trovare l'intervento in aula che ti interessa scorrendo la lista 
            degli ultimi pubblicati, qui a fianco.
            Puoi perfezionare la ricerca usando i filtri nella colonna qui sotto, 
            oppure puoi usare il form di ricerca con una parola che pensi sia 
            contenuta nell'intervento, in cima alla colonna qui a destra</p>
        {% endif %}
    
        <!-- Begin faceting. -->
        <div>
            <dl>
                {% if not facet_queries_date.is_selected %}
                    <dt>{{ facets_labels.date }}</dt>
                    {% for range in facet_queries_date.ranges|dictsortreversed:"key"  %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if facets.fields.month and not facets.fields.month.is_field_selected %}
                    <dt>{{ facets_labels.month }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.month.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=month:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
        </div>
    
        <!-- End faceting -->
    {% endif %}
{% endblock %}
