{% extends "base_one_column.html" %}

{% load om_utils %}
{% load thumbnail %}
{% load popover_info %}
{% load sittings_council_by_year %}

{% block title %}Consiglio{% endblock %}
{% block content_header %}Consiglio {% endblock %}
{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block sub_nav %}
    {% include 'commons/subnav.html' with active='Consiglio' %}
{% endblock %}

{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sitting.css" />
{% endblock %}

{% block content %}
<section class="row-fluid">
    <!-- #content -->
    {% get_sittings_years 5 as years %}
    <div class="sitting-archive">Archivio sedute di Consiglio:
    {% for y in years %}
        {% if y != params.year %}
            <a href="{% url om_sitting_calendar year=y %}">
        {% endif %}
            {{ y }}
        {% if y != params.year %}
            </a>
        {% endif %}
        |
    {% endfor %}
    </div>

    {% include 'people/sittingitem_detail_section.html' with sitem=speech.sitting_item sitem_link=1 %}

    {% include 'acts/speech_detail_section.html' with speech=speech %}
</section>
{% endblock %}

