{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load om_utils %}
{% load i18n %}
{% load digg_paginator %}
{% load popover_info %}

{% block title %}Elenco interventi {% endblock title %}
{% block content_header %}Interventi{% endblock %}
{% block sitting_class %}class="active"{% endblock %}
{% block body_class %}votations{% endblock %}

{% block sub_nav %}
    {% include 'people/_sitting_subnav.html' with active='Interventi' %}
{% endblock %}

{% block extra_style %}
em {
    background-color: yellow;
}
{% endblock %}

{% block head_js_includes %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock head_js_includes %}


{% block content %}

  <section>

    <ul class="nav nav-tabs page-tabs">
      <li class="active"><a data-toggle="tab" href="#search_speeches_tab">
        {{ n_results }} intervent{{ n_results|pluralize:"o,i" }}</a>
      </li>
      <li><a data-toggle="tab" href="#search_stats_tab">Statistiche</a></li>
    </ul>
    <div class="tab-content" id="tab-content-id">
      <div class="tab-pane active" id="search_speeches_tab">
    
        <table class="search-results">
          <thead style="font-size: 12px;">
            <tr>
              {% include 'search/_sortable_header.html' with f=order_by.date f_name='date' f_descr='Data' f_first='desc' f_init='desc' %}
              <th></th>
            </tr>
          </thead>
        <tbody>
        {% for result in page.object_list %}
            <tr>
                <td>{{result.object.date|circled:"full" }}</td>
                <td>
                    <h4><a href="{{ result.object.get_absolute_url }}">
                    Intervento n. {{ result.object.seq_order }} 
                    </a></h4>
                    {% if result.object.title %}
                    "{{ result.object.title }}" <br/>
                    {% endif %}
                    <strong>{{ result.object.sitting_item.title }}</strong><br/>
                    <a href="{{ result.object.sitting.get_absolute_url }}">{{ result.object.sitting }}</a><br/>
                    {{ result.object.author_name }}
                </td>
            </tr>
        {% empty %}
            <p>Nessun intervento trovato.</p>
        {% endfor %}
        </tbody>
        </table>
        {% digg_paginator %}
      </div>

      <div class="tab-pane" id="search_stats_tab">

        {% if graphs.date and not facet_queries_date.is_selected %}
          <div id="graph_date" class="span8"></div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}

{% block sidebar %}
 
    {% if charge or person %}<dl><dt>Autore</dt></dl>{% endif %}

    {% if charge %}
      {% include 'people/charge_widget.html' with charge=charge %}
    {% endif %}

    {% if person %}
      {% include 'people/_person_widget.html' with person=person %}
    {% endif %}

    {% if charge or person %}<hr />{% endif %}
 
    {% include "acts/speech_search_box.html" %}
   
    {% if n_results %}
        {% if selected_facets %}
            <h2>Modifica i filtri</h2>
            {% for facet in selected_facets %}
                <dt>{{ facets_labels|key:facet.field|safe }}</dt>
                <dd>
                    <a href="{{ facet.url }}"><i class="icon-remove"></i></a>
                    {{ facet.r_label }}
                </dd>
            {% endfor %}
    
        {% else %}
            <h2>Filtra</h2>
        {% endif %}
    
        <!-- Begin faceting. -->
        <div>
            <dl>
                {% if not facet_queries_date.is_selected %}
                    <dt>{{ facets_labels.date }}</dt>
                    {% for range in facet_queries_date.ranges|dictsortreversed:"key"  %}
                        <dd>
                            <a href="{{ base_url }}&f={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if facets.fields.month and facet_queries_date.is_selected and not facets.fields.month.is_field_selected %}
                    <dt>{{ facets_labels.month }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.month.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=month:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
        </div>
    
        <!-- End faceting -->
    {% endif %}

    {% include 'search/_related_search.html' %}
{% endblock %}


{% block footer_js_includes %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>

  <script type="text/javascript">

    {% if graphs.date and not facet_queries_date.is_selected %}
      graph_date_elem = document.getElementById('graph_date');
	  Plotly.plot( graph_date_elem, [{
	    x: ['{{ graphs.date.x | join:"', '" }}'],
	    y: [{{ graphs.date.y | join:", " }}],
	    type: 'scatter'
	  }], {
	    title: 'Anno',
        xaxis: { fixedrange: true, title: 'anno' },
        yaxis: { fixedrange: true, title: 'interventi' }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });
    {% endif %}

    $(window).resize(function() {
      var _width = $("#tab-content-id").width() - 50;
      var _width4 = _width/2;
      var _width8 = _width;

      {% if graphs.date and not facet_queries_date.is_selected %}
        Plotly.relayout(graph_pub_date_elem, { width:_width8, height:500 });
      {% endif %}

    }).resize();

    </script>
{% endblock footer_js_includes %}
