{% extends "registration/base_user.html" %}
{% load url from future %}

{% block title %}Account activiation unsuccessful{% endblock %}

{% block content_header %}Your account was not activated{% endblock %}

{% block content %}
  <p>
    &Egrave; avvenuto un errore attivando il profilo. Forse questo profilo 
    &egrave; gi&agrave; stato attivato o la chiave &egrave; scaduta. In
    questo secondo caso, ripeti la procedura di registrazione.
  </p>
  <p><a href="{% url 'registration_register' %}">Registrati nuovamente &raquo;</a></p>
{% endblock %}
