<div class="control-group{% if element.errors %} error{% endif %}" >
    {% if checkbox %}
        <div class="controls">
            <label for="id_{{ element.html_name }}" class="checkbox">{{ element.label|safe }}
                {% if prepend %}<div class="input-prepend"><span class="add-on">{{ prepend }}</span>{% endif %}{{ element }}{% if prepend %}</div>{% endif %}
            </label>
            {% if element.errors %}
                {% for error in element.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            {% endif %}
            <span class="help-block">{{ element.help_text|safe }}</span>
        </div>
    {% else %}
        <label for="id_{{ element.html_name }}" class="control-label">{{ element.label|safe }}</label>
        <div class="controls">
            {% if prepend %}<div class="input-prepend"><span class="add-on">{{ prepend }}</span>{% endif %}{{ element }}{% if prepend %}</div>{% endif %}
            {% if element.errors %}
                {% for error in element.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            {% endif %}
            <span class="help-block">{{ element.help_text|safe }}</span>
        </div>
    {% endif %}
</div>
