{% load url from future %}
Salve :-)
ti inviamo questo link perché ci hai richiesto di impostare nuovamente la tua password per accedere al sito
{{ site_name }}.
Per la tua nuova password fai click sul link qui di seguito:

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

Il tuo nome utente, nel caso l'avessi dimenticato è "{{ user.username }}".

Grazie e buona navigazione.

- Lo staff di  Open municipio


--------------------------------------------------------------------------------
Questa email è stata spedita all'indirizzo {{ email }}.
Se non hai richiesto questa modifica puoi cancellare tranquillamente questa email.
La tua password resta intatta e sicura.

