{% extends "base_one_column.html" %}

{% block title %}Recupero password{% endblock %}

{% block content_header %}Recupero password{% endblock %}

{% block content %}
    <div class="registration container">
        <div class="row-fluid">
            <div class="span8">
                <form action="" method="post" class="form-horizontal">{% csrf_token %}

                    <legend>Inserisci l'indirizzo email indicato al momento della registrazione</legend>
                    <p>
                        Ti invieremo un'email con cui indicare una nuova password di accesso al sito
                        {% include "registration/form_element.html" with element=form.email %}
                        <br/>
                    </p>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-info">Invia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
