{% extends "registration/base_user.html" %}

{% load url from future %}

{% block title %}{{ validlink|yesno:"Modifica la tua,Non è possibile modificare la tua" }} password{% endblock %}
{% block content_header %}{{ validlink|yesno:"Modifica la tua,Non è possibile modificare la tua" }} password{% endblock %}

{% block content %}
    <div class="registration container">
        <div class="row-fluid">
            <div class="span4">
                {% if validlink %}
                    <form action="" method="post" class="form-horizontal">{% csrf_token %}
                        {% if form.errors %}<p class="errors">Please correct the errors below.</p>{% endif %}

                        <fieldset>
                            {{ form.new_password1.errors }}
                            <p>{{ form.new_password1.label_tag }}{{ form.new_password1 }}</p>

                            {{ form.new_password2.errors }}
                            <p>{{ form.new_password2.label_tag }}{{ form.new_password2 }}</p>
                        </fieldset>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-info">Invia</button>
                        </div>
                    </form>
                {% else %}
                    <p>Purtroppo non è possibile resettare la tua password con questo link -
                        può darsi sia già stato usato in precedenza.
                    </p>
                    <p><a href="{% url 'auth_password_reset' %}">Ritenta &raquo;</a></p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
