{% extends "registration/base_user.html" %}

{% block title %}Recupero password completo{% endblock %}
{% block content_header %}Recupero password completo{% endblock %}

{% block content %}
<div class="registration container">
    <div class="row-fluid">
        <div class="span8">
            <p>La tua password è stata cambiata, puoi ripetere la procedura tutte le volte che la perdi.</p>
            <p><a href="{{ login_url }}">Accedi al sito &raquo;</a></p>
        </div>
    </div>
</div>

{% endblock %}
