{% extends "registration/base_user.html" %}

{% load url from future %}

{% block title %}Registrazione effettuata{% endblock %}

{% block content_header %}Hai effettuato la registrazione{% endblock %}

{% block content %}
    <h2>Ora devi attivare il tuo account</h2>

    <p>
        Controlla la tua casella di posta, dovresti trovarci un'email con un indirizzo web da cliccare per attivare il tuo account.<br/>
        Controlla tra le email indesiderate se non riesci a trovarla subito.
    </p>
    <p>Per qualsiasi problema, <a href="{% url 'om_contatti' %}">contattaci</a>.</p>
    <p>
        Grazie,
        lo staff di Open municipio.</p>
    </p>
{% endblock %}
