{% extends "base_one_column.html" %}
{% load url from future %}

{% block title %}Modifica impostazioni utente{% endblock %}
{% block content_header %}Modifica impostazioni utente{% endblock %}

{% block content %}

    <div class="registration container">
        <div class="row-fluid">
            <div class="span6">


            {% comment %}
            <div class="span5">
                <p>
                    Social network associati:
                <ul>
                    {% for account in social_accounts %}
                        <li>
                            {{ account.name }} -
                            {% if account.is_connected %}
                                associato
                                {% if user.is_authenticated %}
                                    (<a href="{%  url 'socialauth_disconnect' account.name %}">dissociati</a>)
                                {% endif %}
                            {%  else %}
                                non associato
                                {% if user.is_authenticated %}
                                    (<a href="{%  url 'socialauth_associate_begin' account.name %}">associati</a>)
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                </p>
            </div>
            {% endcomment %}

            <form enctype="multipart/form-data" action="" method="post" class="form-horizontal" accept-charset="utf-8">

                {% csrf_token %}
                <div class="alert-error">
                    {{ form.non_field_errors }}
                </div>

                <legend>Modifica qui le tue impostazioni utente</legend>
                {% include "registration/form_element.html" with element=form.location %}
                {% if UI_ALLOW_NICKNAMES %}
	                {% include "registration/form_element.html" with element=form.uses_nickname checkbox=1 %}
	            {% endif %}
                {% include "registration/form_element.html" with element=form.says_is_politician checkbox=1 %}
                {% include "registration/form_element.html" with element=form.description %}
                {% include "registration/form_element.html" with element=form.image %}
                {% include "registration/form_element.html" with element=form.wants_newsletter checkbox=1 %}

                <div class="form-actions">
                    <button type="submit" class="btn btn-info">Invia</button>
                    {% comment %}
                        <a href="/accounts/login/?next=/" class="btn">Annulla</a>
                    {% endcomment %}
                </div>
            </form>

        </div>
    </div>

{% endblock %}
