{% extends "base_two_columns.html" %}

{% load monitoring_tags %}

{% block title %}Elenco dei cittadini{% endblock %}
{% block content_header %}Cittadini{% endblock %}
{% block users_class %}class="active"{% endblock %}
{% block body_class %}citizen{% endblock %}


{% block head_js_includes %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/ajax_csrf.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}js/jquery.submitlink.js" type="text/javascript"></script>
{% endblock head_js_includes %}

{% block content %}

  <div class="row-fluid">
    <div class="span7">

      <h3>Politici più monitorati</h3>

      <ul class="people-list">
        {% for politician in top_monitorized_politicians %}
        <li>
          {% include 'people/politician_list_section.html' %}
          {% object_inline_monitoring politician.person %}
        </li>
        {% endfor %}
      </ul>

    </div>
    <div class="span5">

      <h3>Argomenti più monitorati</h3>

      <ul class="rank">
        {% for topic in top_monitorized_topics %}
        <li><span class="square">{{ forloop.counter }}</span> <a href="{{ topic.get_absolute_url }}">{{ topic|title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <hr class="big">

  <h3>Atti più monitorati</h3>

  <table class="data">
    {% for act in top_monitorized_acts %}
      <tr>
        <td><span class="square">{{ forloop.counter }}</span></td>
        <td><a href="{{ act.get_absolute_url }}">{{ act }}</a></td>
      </tr>
    {% endfor %}
  </table>

  <hr class="big">

{% endblock %}

{% block sidebar %}

  <h3>Cerca un cittadino</h3>
  {% comment %}
  TODO create a route to manage this request
  {% endcomment %}
  <form method="get" action="." class="form-search">
    <input type="text" class="input-medium search-query" name="user_search" value="" placeholder="Testo della ricerca" />
    <button type="submit" class="btn">Cerca</button>
  </form>

  <hr>

  <h3>Ultimi iscritti</h3>
  {% for obj in object_list %}
      <a href="{{ obj.get_absolute_url }}">{{ obj.user.username }}</a>
      {% if not forloop.last %},{% endif %}
  {% endfor %}

  <hr>

  {% include 'commons/news_list.html' with news_list=FILLME news_title='Ultime sui cittadini' %}

{% endblock %}

