{% extends "base_two_columns.html" %}
{% load popover_info %}
{% load newscache_tags %}
{% load url from future %}
{% load users_tags %}


{% block title %}Profilo utente{% endblock %}
{% block content_header %}Profilo di {{ profile }}{% endblock %}
{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/citizen.png"
         xmlns="http://www.w3.org/1999/html"
         alt="Comune di {{ main_city }}">
{% endblock %}

{% block users_class %}class="active"{% endblock %}
{% block body_class %}citizen{% endblock %}

{% block sub_nav %}
    {%  include 'profiles/profile_subnav.html' %}
{% endblock %}

{% load thumbnail %}
 
{% block content %}

  {% if profile %}

    <div class="row-fluid">
      <div class="span12">
{% comment %}
        {% if person %}
          {% thumbnail profile.person.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumb-left" />
          {% endthumbnail %}
        {%  else %}
          {% thumbnail profile.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumb-left" />
          {% endthumbnail %}
        {%  endif %}
{% endcomment %}

          {% with profile|get_profile_image as curr_image %}
          {% if curr_image %}
          {% thumbnail curr_image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class-"thumb-left" />
          {% endthumbnail %}
          {% else %}
          <img src="{{ STATIC_URL }}img/placehold/face_100.png" />
          {% endif %}
          {% endwith %}

        <h2>{{ profile.public_name }}</h2>
        <ul class="unstyled">
          <li>Iscritto dal <strong>{{ profile.user.date_joined|date:"d/m/Y" }}</strong></li>
          {% if profile.location %}
              <li><strong>{{ profile.location }}</strong></li>
          {% endif %}
          {% if user_social_accounts %}
            <li>Accede con
            {% for a in user_social_accounts %}
                <strong>{{ a }}</strong>{% if not forloop.last %},{% endif %}
            {% endfor %}
            </li>
          {%  else %}
              <li>Utente <strong>registrato</strong></li>
          {% endif %}
          {% if profile.says_is_politician and profile.person.get_absolute_url %}
              <li>&Egrave; un <strong>politico</strong>, vai alla sua 
                <a href="{{ profile.person.get_absolute_url }}">pagina di Open Municipio</a></li>
          {% endif %}
        </ul>

        <p>
          {{ profile.description }}
        </p>

        {% if not profile.user.is_active %}
        Questo profilo non &egrave; attivo. Questo pu&ograve; avvenire a seguito di una decisione dell'utente o di una violazione del <a href="{% url 'om_regolamento' %}">regolamento</a>.
        {% endif %}

      </div>
    </div>

    <hr class="big">

    <h2>Atti monitorati {% popover_info 'atti-monitorati' %}</h2>

    <table class="data">
      <thead>
      <tr>
        <th>Data</th>
        <th class="span12">Atto</th>
      </tr>
      </thead>
      <tbody>
      {% for monitoring in act_monitoring_list %}
        <tr>
          <td>{{ monitoring.created_at|date:'d.m.Y' }}</td>
          <td><a href="{{ monitoring.content_object.get_absolute_url }}">{{ monitoring.content_object }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  {% else %}  
      Non ha un profilo pubblico
  {% endif %}
{% endblock %}

{% block sidebar %}
    {% if profile %}
        <h2>Politici monitorati {% popover_info 'politici-monitorati' 'left' %}</h2>
        <table id="monitoring-table">
            <tbody><tr>
                <td>
                    <div class="circle">{{ politician_monitoring_list|length }}</div>
                </td>
                <td>
                    {% for p in politician_monitoring_list %}
                        <a href="{{ p.object.get_absolute_url }}">{{ p.object.first_name }} {{ p.object.last_name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>

        <hr>

        <h2>Argomenti monitorati {% popover_info 'argomenti-monitorati' 'left' %}</h2>
        <dl class="taxonomy-cloud">
            {% for topic in topic_monitoring_list %}
                <dt class="with-margin">
                    <span class="{{ topic.content_type.name|lower }}">
                        <a href="{{ topic.object.get_absolute_url }}">{{ topic.object }}</a></span>
                </dt>
            {% endfor %}
        </dl>
    {% endif %}

	{% if profile %}
    	{% news_for_object profile as i_news %}
    	{% include 'commons/news_list.html' with news_list=i_news news_title='Ultime su '|add:profile.public_name %}
    {% endif %}

{% endblock %}
