{% extends "base_two_columns.html" %}
{% block title %}Profilo utente{% endblock %}
{% block content_header %}Profilo di {{user}}{% endblock %}
{% block users_class %}class="active"{% endblock %}
{% block body_class %}citizen{% endblock %}

{% load thumbnail %}
 
{% block content %}

  {% if profile %}

    <div class="row-fluid">
      <div class="span7">
        {% thumbnail profile.person.img "100x100" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumb-left">
        {% endthumbnail %}

        <h2>{{ profile.public_name }}</h2>
        <ul class="unstyled">
          <li>da Valle Aurelia</li>
          <li>Iscritto dal <strong>5.4.12</strong></li>
          <li>Risiede a <strong>Città</strong></li>
          <li>Utente <strong>registrato</strong></li>
        </ul>

        <p>
          Questa è una breve descrizione inserita dall'utente di pochi caratteri.
          Questa è una breve descrizione inserita dall'utente di pochi caratteri.
          Questa è una breve descrizione inserita dall'utente di pochi caratteri.
        </p>

      </div>
      <div class="span5">

        <img src="{{ STATIC_URL }}img/placehold/social.png" alt="">

      </div>
    </div>

    <hr class="big">

    <h3>Atti monitorati</h3>

    <table class="data">
      <thead>
      <tr>
        <th>Data</th>
        <th class="span12">Atto</th>
      </tr>
      </thead>
      <tbody>
      {% for monitoring in act_monitoring_list %}
        <tr>
          <td>{{ monitoring.created_at|date:'d.m.Y' }}</td>
          <td><a href="{{ monitoring.content_object.get_absolute_url }}">{{ monitoring.content_object }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <p class="box">
      <a href="{% url om_act_search %}">Vedi tutti gli atti</a> <i class="icon-play-down"></i>
    </p>

  {% else %}  
      Non ha un profilo pubblico
  {% endif %}
{% endblock %}

{% block sidebar %}
  <h3>Politici monitorati</h3>
  <table id="monitoring-table">
    <tbody><tr>
      <td>
        <div class="circle">{{ politician_monitoring_list|length }}</div>
      </td>
      <td>
        {% for p in politician_monitoring_list %}
          <a href="{{ p.get_absolute_url }}">{{ p }}</a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h3>Argomenti di cui si occupa</h3>
  <dl class="taxonomy-cloud">
    {% for topic in topic_monitoring_list %}
      <dd><a href="{{ topic.get_absolute_url }}">{{ topic }}</a></dd>
    {% endfor %}
  </dl>


{% endblock %}
