{% extends "base_two_columns.html" %}
{% block title %}Profilo utente{% endblock %}
{% block content_header %}Profilo di {{user}}{% endblock %}
{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/citizen.png"
         xmlns="http://www.w3.org/1999/html"
         alt="Comune di {{ main_city }}">
{% endblock %}

{% block users_class %}class="active"{% endblock %}
{% block body_class %}citizen{% endblock %}

{% load thumbnail %}
 
{% block content %}

  {% if profile %}

    <div class="row-fluid">
      <div class="span7">
        {% if person %}
          {% thumbnail profile.person.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumb-left">
          {% endthumbnail %}
        {%  else %}
          {% thumbnail profile.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumb-left">
          {% endthumbnail %}
        {%  endif %}

        <h2>{{ profile.public_name }}</h2>
        <ul class="unstyled">
          <li>Iscritto dal <strong>{{ profile.user.date_joined|date:"d/m/Y" }}</strong></li>
          {% if profile.location %}
              <li>Risiede in <strong>{{ profile.location }}</strong></li>
          {% endif %}
          <li>Utente <strong>registrato</strong></li>
        </ul>

        <p>
          {{ profile.description }}
        </p>

      </div>
      <div class="span5">
        <p>
            Social network associati:
            <ul>
                {% for account in social_accounts %}
                    <li>
                        {{ account.name }} -
                        {% if account.is_connected %}
                            associato 
                            {% if user.is_authenticated %}
                                (<a href="{%  url socialauth_disconnect account.name %}">dissociati</a>)
                            {% endif %}
                        {%  else %}
                            non associato
                            {% if user.is_authenticated %}
                                (<a href="{%  url socialauth_associate_begin account.name %}">associati</a>)
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </p>


      </div>
    </div>

    <hr class="big">

    <h3>Atti monitorati</h3>

    <table class="data">
      <thead>
      <tr>
        <th>Data</th>
        <th class="span12">Atto</th>
      </tr>
      </thead>
      <tbody>
      {% for monitoring in act_monitoring_list %}
        <tr>
          <td>{{ monitoring.created_at|date:'d.m.Y' }}</td>
          <td><a href="{{ monitoring.content_object.get_absolute_url }}">{{ monitoring.content_object }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <p class="box">
      <a href="{% url om_act_search %}">Vedi tutti gli atti</a> <i class="icon-play-down"></i>
    </p>

  {% else %}  
      Non ha un profilo pubblico
  {% endif %}
{% endblock %}

{% block sidebar %}
  <h3>Politici monitorati</h3>
  <table id="monitoring-table">
    <tbody><tr>
      <td>
        <div class="circle">{{ politician_monitoring_list|length }}</div>
      </td>
      <td>
        {% for p in politician_monitoring_list %}
          <a href="{{ p.get_absolute_url }}">{{ p }}</a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h3>Argomenti di cui si occupa</h3>
  <dl class="taxonomy-cloud">
    {% for topic in topic_monitoring_list %}
      <dd><a href="{{ topic.get_absolute_url }}">{{ topic }}</a></dd>
    {% endfor %}
  </dl>


{% endblock %}
