{% extends "registration/base_user.html" %}

{% block title %}Completa la registrazione da social network{% endblock %}
{% block content_header %}Completa la registrazione da social network{% endblock %}

{% block content %}
    <div class="registration container">
        <div class="row-fluid">
            <div class="span6">
                <p>Abbiamo ricevuto queste informazioni da {{ backend_name|capfirst }}:</p>
                <ul class="unstyled">
                    {% if details.first_name %}
                        <li><b>Nome</b>: {{ details.first_name }}</li>
                    {% endif %}
                    {% if details.last_name %}
                        <li><b>Cognome</b>: {{ details.last_name }}</li>
                    {% endif %}
                    {% if details.username %}
                        <li><b>Utente</b>: {{ details.username }}</li>
                    {% endif %}
                    {% if details.email %}
                        <li><b>Email</b>: {{ details.email }}</li>
                    {% endif %}
                </ul>
                <br/><br/>

                {% if social_form.errors %}
                    <div id="form-error" class="alert alert-error">
                        <p>Ci sono degli errori. Controlla il modulo e ritenta l'invio.</p>
                    </div>
                {% endif %}

                <p>Per poter completare la registrazione e permetterti l'accesso al sito,
                    abbiamo bisogno di alcuni altri dati, che puoi inviarci con il modulo qui sotto.</p>

                <form action="" method="post" class="form" accept-charset="utf-8">
                    {% csrf_token %}

                    <div class="alert-error">
                        {{ social_form.non_field_errors }}
                    </div>

                    <legend>Dati da integrare</legend>
                    {% if social_form.email %}
                        {% include "registration/form_element.html" with element=social_form.email %}
                    {% endif %}
                    {% include "registration/form_element.html" with element=social_form.location %}
                    {% if UI_ALLOW_NICKNAMES %}                    
                    	{% include "registration/form_element.html" with element=social_form.uses_nickname checkbox=1 %}
                    {% endif %}
                    {% include "registration/form_element.html" with element=social_form.says_is_politician checkbox=1 %}
                    {% include "registration/form_element.html" with element=social_form.wants_newsletter checkbox=1 %}

                    <div id="legal" class="alert">
                        {% include "registration/form_element.html" with element=social_form.tos checkbox=1 %}
                        {% include "registration/form_element.html" with element=social_form.pri checkbox=1 %}
                    </div>

                    <div class="form-actions">
                        <button id="submit-btn" type="submit" class="btn btn-info">Invia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}


