{% extends "base_two_columns.html" %}
{% load i18n %}
{% load om_utils %}
{% load voting_tags %}
{% load bookmarking_tags %}
{% load newscache_tags %}

{% block title %}Dettaglio {{ votation }}{% endblock %}
{% block content_header %}Votazione{% endblock %}
{% block votations_class %}active{% endblock %}


{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bookmarking.css" />
{% endblock head_css_includes %}

{% block footer_js_includes %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_csrf.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.jeditable.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.submitlink.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.autogrow.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js" type="text/javascript" charset="utf-8"></script>
    {% if user.is_staff %}
        <script src="{{ STATIC_URL }}js/bookmarking.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
  <script type="text/javascript">
    $(function(){
      $(".tablesorter").tablesorter({

        });
    });
  </script>
{% endblock footer_js_includes %}

{% block content %}

  <table class="pull-right" id="votation_outcome">
    <tr>
      {% if votation.outcome == votation.PASSED %}
      <td>{{ '<i class="icon-thumbs-up"></i>'|safe|circled:"voteok" }}</td>
      <td><p>Approvato</p></td>
      {% else %}
      <td>{{ '<i class="icon-thumbs-down"></i>'|safe|circled:"voteko" }}</td>
      <td><p>Respinto</p></td>
      {% endif %}
    </tr>
  </table>

  <hgroup>
    <h1 class="highlight">Votazione <strong>N.{{ votation.idnum }}</strong></h1>
    <h2>
      <a href="#" id="{{ votation|as_token }}" class="bookmarkable"><i class="{% is_key_class votation %}"></i></a>
      {{ votation.act.title }}
    </h2>
    <h4>
      {% if votation.act %}
        <strong>{{ votation.act.get_type_name|capfirst }}</strong>
        del {{ votation.act.emitting_institution }} N° <strong>{{ votation.act.idnum }}</strong>
        del <strong>{{ votation.act.presentation_date|date:"d F Y" }}</strong>
         (<a href="{{ votation.act.get_absolute_url }}">vai all'atto</a>)
      {% else %}
        {{ votation.act_descr }}
      {% endif %}
    </h4>
  </hgroup>

  <table class="data text-right table-condensed tablesorter" id="votation_results">
    <thead>
      <tr>
        <th class="sorter-left text-left">Gruppi</th>
        <th>Favorevoli</th>
        <th>Contrari</th>
        <th>Astenuti</th>
        <th>Assenti</th>
      </tr>
    </thead>
    <tbody>
      {% for group_vote in votation.group_votes %}
      <tr>
        <td class="text-left"><strong>{{ group_vote.group.name }}</strong> ({{ group_vote.group.acronym }})</td>
        <td>{{ group_vote.n_yes }}</td>
        <td>{{ group_vote.n_no }}</td>
        <td>{{ group_vote.n_abst }}</td>
        <td>{{ group_vote.n_absent }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td class="text-left">Totale</td>
        <td>{{ votation.n_yes }}</td>
        <td>{{ votation.n_no }}</td>
        <td>{{ votation.n_abst }}</td>
        <td>{{ votation.n_absent }}</td>
      </tr>
    </tfoot>
  </table>

  <br>
  <section>
    <ul class="nav nav-tabs page-tabs">
      <li class="active">
        <a href="#all_votes_tab" data-toggle="tab">Tutti</a>
      </li>
      <li><a href="#rebels_votes_tab" data-toggle="tab">Ribelli</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="all_votes_tab">
        <table class="data text-right tablesorter">
          <thead>
          <tr>
            <th class="sorter-left text-left span4">Politico</th>
            <th>Favorevole</th>
            <th>Contrario</th>
            <th>Astenuto</th>
            <th>Assente</th>
          </tr>
          </thead>
          <tbody>
          {% for charge_vote in votation.charge_votes %}
            {% with charge_vote.charge.person as politician %}
              <tr>
                <td class="text-left">
                  <a href="{{ politician.get_absolute_url }}">
                    <strong>{{ politician.full_name }}</strong> ({{ charge_vote.charge.council_group.acronym }})
                  </a>
                </td>
                <td>
                  {% if charge_vote.vote == charge_vote.VOTES.yes %}
                    <span class="label label-success">Favorevole</span>
                  {% endif %}
                </td>
                <td>
                  {% if charge_vote.vote == charge_vote.VOTES.no %}
                    <span class="label label-important">Contrario</span>
                  {% endif %}
                </td>
                <td>
                  {% if charge_vote.vote == charge_vote.VOTES.abstained %}
                    <span class="label">Astenuto</span>
                  {% endif %}
                </td>
                <td>
                  {% if charge_vote.vote == charge_vote.VOTES.absent %}
                    <span class="label label-text">Assente</span>
                  {% endif %}
                </td>
              </tr>
            {% endwith %}
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="rebels_votes_tab">

        <table class="data text-right tablesorter">
          <thead>
          <tr>
            <th class="sorter-left text-left span4">Politico</th>
            <th>Favorevole</th>
            <th>Contrario</th>
            <th>Astenuto</th>
            <th>Assente</th>
          </tr>
          </thead>
          <tbody>
          {% for charge_vote in votation.charge_votes %}
            {% with charge_vote.charge.person as politician %}
              {% if charge_vote.is_rebel %}
              <tr>
                <td>
                  <a href="{{ politician.get_absolute_url }}">
                    <strong>{{ politician.full_name }}</strong> ({{ charge_vote.charge.council_group.acronym }})
                  </a>
                </td>
                <td>
                  {% if charge_vote.vote == charge_vote.VOTES.yes %}
                    <span class="label label-success">Favorevole</span>
                  {% endif %}
                </td>
                <td>
                  {% if charge_vote.vote == charge_vote.VOTES.no %}
                    <span class="label label-warning">Contrario</span>
                  {% endif %}
                </td>
                <td>
                  {% if charge_vote.vote == charge_vote.VOTES.abstained %}
                    <span class="label">Astenuto</span>
                  {% endif %}
                </td>
                <td>
                  {% if charge_vote.vote == charge_vote.VOTES.absent %}
                    <span class="label label-text">Assente</span>
                  {% endif %}
                </td>
              </tr>
              {% endif %}
            {% endwith %}
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </section>
{% endblock content %}

{% block sidebar %}

  <table class="stats">
    <tr>
      <td>{{ votation.n_yes|circled:"voteok" }}</td>
      <th class="span6">Favorevoli</th>
      <td>{{ votation.n_no|circled:"voteko" }}</td>
      <th class="span6">Contrari</th>
    </tr>
    <tr>
      <td>{{ votation.n_abst|circled }}</td>
      <th class="span6">Astenuti</th>
      <td>{{ votation_difference|circled }}</td>
      <th class="span6">Voti di scarto</th>
    </tr>
    <tr>
      <td>{{ votation.n_rebels|circled }}</td>
      <th colspan="3">Politici ribelli</th>
    </tr>
  </table>

  <hr>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#chart-tab-yes" data-toggle="tab">Favorevoli</a></li>
      <li><a href="#chart-tab-no" data-toggle="tab">Contrari</a></li>
      <li><a href="#chart-tab-abst" data-toggle="tab">Astenuti</a></li>
      <li><a href="#chart-tab-rebels" data-toggle="tab">Ribelli</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="chart-tab-yes">
        <p><img src="https://chart.googleapis.com/chart?cht=p&chs=368x154&chl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_yes }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_yes }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=285698,e2e4e6">
        </p>
      </div>
      <div class="tab-pane" id="chart-tab-no">
        <p><img src="https://chart.googleapis.com/chart?cht=p&chs=368x154&chl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_no }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_no }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=285698,e2e4e6">
        </p>
      </div>
      <div class="tab-pane" id="chart-tab-abst">
        <p><img src="https://chart.googleapis.com/chart?cht=p&chs=368x154&chl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_abst }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_abst }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=285698,e2e4e6">
        </p>
      </div>
      <div class="tab-pane" id="chart-tab-rebels">
        <p><img src="https://chart.googleapis.com/chart?cht=p&chs=368x154&chl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_rebels }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_rebels }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=285698,e2e4e6">
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include 'commons/comments.html' with object=votation %}

  <hr>

  {% news_for_object registered_user.get_profile as i_news %}
  {% include 'commons/news_list.html' with news_list=i_news news_title='Ultime sul Voto' %}

{% endblock sidebar %}
