<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.html">Open municipio</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li {% if page.url == '/about.html'%}class="active"{% endif%}><a href="about.html">About</a></li>
          <li {% if page.url == '/documents.html'%}class="active"{% endif%}><a href="documents.html">Documents</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
