{% load monitoring_tags %}
{% load thumbnail %}

<tr>
    <!-- thumbnail -->
    <td style="width: 50px">
        <a href="{{ charge.person.get_absolute_url }}">
            {% thumbnail charge.person.img "50x50" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </a>
    </td>

    <!-- name -->
    <td>
        {% if label %}<span class="label">{{ label }}</span><br/>{% endif %}
        <a href="{{ charge.person.get_absolute_url }}">
            <strong>{{ charge.person|title }}</strong>
        </a>
        <br>
        in carica dal {{ charge.start_date|date:"d.m.Y" }}

        {% object_inline_monitoring charge.person shows_monitoring_users=False %}
    </td>

    <!-- deleghe -->
    <td>
        {{ charge.denomination }}
    </td>

    <!-- presented acts -->
    <td class="text-center">
        {{ charge.n_presented_acts }}
    </td>

    <!-- monitoring users -->
    <td class="text-center">
        {{ charge.person.all_monitoring_count }}
    </td>
</tr>
