{% extends "base_two_columns.html" %}
{% load i18n %}
{% load monitoring_tags %}
{% load list_partition %}

{% block title %} Politici {% endblock %}
{% block content_header %}Politici{% endblock %}
{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}

{% block footer_js_includes %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.submitlink.js"></script>
{% endblock %}

{% block content %}

  <div class="row-fluid">

    <section class="span6">
      <h2>Ultimi cambiamenti di gruppo</h2>
      <ul class="people-list">
        {% for politician in last_group_changes %}
          <li>
            {% include 'people/politician_list_section.html' with value=politician.start_date %}
            {% object_inline_monitoring politician.person %}
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="span6">
      <h2>I più ribelli</h2>
      <ul class="people-list">
        {% for politician in most_rebellious %}
          <li>
            {% include 'people/politician_list_section.html' with value=politician.n_rebel_votations what='ribellioni' %}
            {% object_inline_monitoring politician.person %}
          </li>
        {% endfor %}
      </ul>
    </section>

  </div>

  <hr class="big">

  <div class="row-fluid">

    <section class="span6">
      <h2>I meno assenti</h2>
      <ul class="people-list">
        {% for politician in least_absent %}
          <li>
            {% include 'people/politician_list_section.html' with value=politician.n_absent_votations what='assenze' %}
            {% object_inline_monitoring politician.person %}
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="span6">
      <h2>I più assenti</h2>
      <ul class="people-list">
        {% for politician in most_absent %}
          <li>
            {% include 'people/politician_list_section.html' with value=politician.n_absent_votations what='assenze' %}
            {% object_inline_monitoring politician.person %}
          </li>
        {% endfor %}
      </ul>
    </section>

  </div>

  <hr class="big">

  <section class="row-fluid party-people">
    <div class="span4">
      <h2>Sindaco</h2>

      <ul class="list-plain">
        <li><a href="{{ mayor.person.get_absolute_url }}"><strong>{{ mayor.person|title }}</strong></a></li>
      </ul>

      <h2>Giunta</h2>
      <ul class="list-plain">
        {% for c in gov_members %}
          <li><a href="{{ c.person.get_absolute_url }}"><strong>{{ c.person|title }}</strong></a></li>
        {% endfor %}
      </ul>

    </div>

    <div class="span8">

      <h2>Consiglio</h2>

      <div class="row-fluid">
        <div class="span6">
          <ul class="list-plain">
            {% for c in counselors|split:'first' %}
              <li><a href="{{ c.person.get_absolute_url }}"><strong>{{ c.person|title }}</strong>
                ({{ c.council_group.acronym }})</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="span6">
          <ul class="list-plain">
            {% for c in counselors|split:'last' %}
              <li><a href="{{ c.person.get_absolute_url }}"><strong>{{ c.person|title }}</strong>
                ({{ c.council_group.acronym }})</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </section>


{% endblock %}

{% block sidebar %}

  <section>
    <h3>I 3 politici più monitorati</h3>
    <ul class="people-list">
      {% for politician in most_monitorized %}
        <li>
          {% include 'people/politician_list_section.html' %}
          {% object_inline_monitoring politician.person %}
        </li>
      {% endfor %}
    </ul>
  </section>

  <hr>

  {% comment %}
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#gender_tab" data-toggle="tab">Sesso</a></li>
      <li><a href="#age_tab" data-toggle="tab">Età</a></li>
      <li><a href="#instruction_tab" data-toggle="tab">Titolo di studio</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="gender_tab">
          <p><img src="https://chart.googleapis.com/chart?cht=p3&amp;chd=s:Uf9a&amp;chs=400x130&amp;chdl=con oltre 20 anni di incarichi: 2 (0.98%)|da 15 a 20 anni di incarichi: 11 (5.37%)|da 10 a 15 anni di incarichi: 35 (17.07%)|da 5 a 10 anni di incarichi: 74 (36.1%)|con+meno di 5 anni di incarichi: 83 (40.49%)&amp;chd=t:2,11,35,74,83&amp;chco=FF0000,FFFF10"></p>
      </div>
      <div class="tab-pane" id="age_tab">
          <p><img src="https://chart.googleapis.com/chart?cht=p3&chd=s:Uf9a&chs=400x130&chdl=con%20oltre%2020%20anni%20di%20incarichi:%202%20(4.17%)|da%2015%20a%2020%20anni%20di%20incarichi:%208%20(16.67%)|da%2010%20a%2015%20anni%20di%20incarichi:%2012%20(25%)|da%205%20a%2010%20anni%20di%20incarichi:%2012%20(25%)|con+meno%20di%205%20anni%20di%20incarichi:%2014%20(29.17%)&chd=t:2,8,12,12,14&chco=FF0000,FFFF10"></p>
      </div>
      <div class="tab-pane" id="instruction_tab">
          <p><img src="https://chart.googleapis.com/chart?cht=p3&chd=s:Uf9a&chs=400x130&chdl=con%20oltre%2020%20anni%20di%20incarichi:%203%20(7.89%)|da%2015%20a%2020%20anni%20di%20incarichi:%205%20(13.16%)|da%2010%20a%2015%20anni%20di%20incarichi:%207%20(18.42%)|da%205%20a%2010%20anni%20di%20incarichi:%2016%20(42.11%)|con+meno%20di%205%20anni%20di%20incarichi:%207%20(18.42%)&chd=t:3,5,7,16,7&chco=FF0000,FFFF10"></p>
      </div>
    </div>
  </div>{% endcomment %}

  {% include 'commons/news_list.html' with news_list=FILLME news_title='Ultime sui politici' %}

{% endblock %}