{% extends 'base_two_columns.html' %}

{% load newscache_tags %}
{% load monitoring_tags %}

{% block title %}Argomento {{ topic }}{% endblock title %}
{% block content_header %}Argomento{% endblock %}
{% block body_class %}tags{% endblock %}
{% block tags_class %}class="active"{% endblock %}

{% block sub_nav %}

  <nav class="navbar" id="sub-nav">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav">
          {% for t in topics %}
            <li>{% comment %}{% if t == topic %} class="unpipe"{% endif %}{% endcomment %}
              <a href="{{ t.get_absolute_url }}"{% if t == topic %} class="active"{% endif %}>{{ t }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}

{% block content %}

    <h1><span class="colored">{{ topic|title }}</span></h1>

    <section>
      <h3>Quando se ne discute e dove se ne discute</h3>

      {% include 'commons/calendar.html' with events=FILLME %}
    </section>

    <hr class="big">

    <section>
        <h2>Atti che trattano di {{ topic }}</h2>

        <table class="data">
            <thead>
            <tr>
                <th class="text-left">Atti</th>
                <th>Giunta</th>
                <th>Consiglio</th>
                <th>Commissioni</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr>
                <td class="text-left">Proposta di delibera</td>
                <td>23</td>
                <td>34</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-left">Delibera</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
            </tr>
            <tr>
                <td class="text-left">Mozioni</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td class="text-left">Ordini del giorno</td>
                <td>12</td>
                <td>12</td>
                <td>12</td>
            </tr>
            <tr>
                <td class="text-left">Interrogazione</td>
                <td>23</td>
                <td>34</td>
                <td>12</td>
            </tr>
            <tr>
                <td class="text-left">Interpellanza</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
            </tbody>
        </table>
    </section>


{% comment %}NOT ANY MORE...
    <section>
        <h3>Politici che si occupano dell'argomento</h3>

        <div class="row-fluid">
{% comment %}{% list_to_columns topic.monitoring_users as list 2 %}
            {% load list_partition %}
            {% for list in topic.monitoring_users|partition:5 %}
                {% for people_list in list %}
                <div class="span6">
                    <ul class="people-list{% if forloop.first %} border-right{% endif %}">
                        {% for person in people_list %}
                        <li>
                            <img src="{{ STATIC_URL }}img/placehold/50.gif">
                            <strong>{{ person }}</strong> <br>
                            Partito democratico
                            <span class="monitoring">
                                Monitorato da 2 cittadini - <a href="#"><i class="socialicon-add"></i> Monitora</a>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            {% empty %}

            {% endfor %}

            <div class="span6">
                <ul class="people-list border-right">
                    <li>
                        <img src="{{ STATIC_URL }}img/placehold/50.gif">
                        <strong>Roberto Bianchi</strong> <br>
                        Partito democratico
                    <span class="monitoring">
                        Monitorato da 2 cittadini - <a href="#"><i class="socialicon-add"></i> Monitora</a>
                    </span>
                    </li>
                </ul>
            </div>
            <div class="span6">
                <ul class="people-list">
                    <li>
                        <img src="{{ STATIC_URL }}img/placehold/50.gif">
                        <strong>Roberto Bianchi</strong> <br>
                        Partito democratico
                    <span class="monitoring">
                        Monitorato da 2 cittadini - <a href="#"><i class="socialicon-add"></i> Monitora</a>
                    </span>
                    </li>
                </ul>
            </div>

        </div>

    </section>
{% endcomment %}
    {% load web_services_tags %}
    {% share topic %}

{% endblock %}

{% block sidebar %}

  <section><h3>Monitora</h3>
    {% object_monitoring topic %}
    {% comment %}{% include 'monitoring/summary.html' with object=topic show_politicians=0 %}{% endcomment %}
  </section>

  <hr>

  {% if subtopics %}
  <section>
      <h3>Altri argomenti in {{ topic|title }}</h3>

      <dl class="taxonomy-cloud">
          {% for tag in subtopics %}
              <dd><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></dd>
          {% endfor %}
      </dl>
  </section>
  {% endif %}


  {% comment %}
    <hr>
    TODO resolve "Caught AttributeError while rendering: 'Category' object has no attribute 'related_news_set'"
    for Tag, Category and Location
    {% news_for_object topic as topic_news %}
    {% endcomment %}
  {% comment %}
    TODO: extract news for a topic
    {% include 'commons/news_list.html' with news_list=topic_news news_title="Ultime sull'Argomento" %}
  {% endcomment %}

{% endblock %}

{% comment %}
{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.custom.css">
    <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.ie.css"><![endif]-->
{% endblock %}
{% endcomment %}

{% block footer_js_includes %}
    {{ block.super }}
  {% comment %}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.calendar.js"></script>
  {% endcomment %}

    <script src="{{ STATIC_URL }}js/ajax_csrf.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery.submitlink.js" stype="text/javascript"></script>

{% endblock %}

