  <table class="sittings-year" >
    <tr>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Gennaio' sittings=sittings.1 %}
      </td>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Febbraio' sittings=sittings.2 %}
      </td>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Marzo' sittings=sittings.3 %}
      </td>
    </tr>
    <tr>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Aprile' sittings=sittings.4 %}
      </td>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Maggio' sittings=sittings.5 %}
      </td>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Giugno' sittings=sittings.6 %}
      </td>
    </tr>
    <tr>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Luglio' sittings=sittings.7 %}
      </td>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Agosto' sittings=sittings.8 %}
      </td>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Settembre' sittings=sittings.9 %}
      </td>
    </tr>
    <tr>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Ottobre' sittings=sittings.10 %}
      </td>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Novembre' sittings=sittings.11 %}
      </td>
      <td>
        {% include 'people/_sitting_calendar_month.html' with month='Dicembre' sittings=sittings.12 %}
      </td>
    </tr>
  </table>

{% if label_past and label_future %}
<div class="container-fluid">
<div class="row-fluid">
<div class="span6">
    <div class='sitting-date sitting-past'>&nbsp;</div><span class="label-calendar">{{ label_past }}</span>
</div>
<div class="span6">
    <div class='sitting-date sitting-future'>&nbsp;</div><span class="label-calendar">{{ label_future }}</span>
</div>
</div>
</div>
{% endif %}
