{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load om_utils %}
{% load i18n %}
{% load l10n %}
{% load digg_paginator %}
{% load url from future %}
{% load thumbnail %}

{% block title %}Politici | Cariche{% endblock title %}
{% block content_header %}Cariche{% endblock %}
{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}
{% block content_width %}span10{% endblock %}
{% block sidebar_width %}span2{% endblock %}

{% block extra_style %}
{{ block.super }}
body #main.two_columns {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0, transparent),color-stop(83%, transparent),color-stop(83%, #f6f4f2),color-stop(100%, #f6f4f2));
    background-image: -webkit-linear-gradient(left,transparent,transparent 83%,#f6f4f2 83%,#f6f4f2 100%);
    background-image: -moz-linear-gradient(left, transparent, transparent 83%, #f6f4f2 83%, #f6f4f2 100% );
    background-image: -ms-linear-gradient(left,transparent, transparent 83%, #f6f4f2 83%, #f6f4f2 100%);
    background-image: -o-linear-gradient( left, transparent, transparent 83%, #f6f4f2 83%, #f6f4f2 100% );
}

.dataTable td, .dataTable th {
	padding-left: 2px;
	padding-right: 2px;
    text-align: center;
}
{% endblock %}

{% block head_js_includes %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock head_js_includes %}

{% block sub_nav %}
    {%  include 'people/_subnav.html' with active='Cariche' %}
{% endblock %}

{% block content %}
<section>

    <ul class="nav nav-tabs page-tabs">
      <li class="active"><a data-toggle="tab" href="#search_charges_tab">{{ n_results }} caric{{ n_results|pluralize:"a,he" }}</a></li>
      <li><a data-toggle="tab" href="#search_acts_tab">Atti</a></li>
      <li><a data-toggle="tab" href="#search_presence_tab">Presenze</a></li>
    </ul>
    <div class="tab-content" id="tab-content-id">
      <div class="tab-pane active" id="search_charges_tab">

  <p>Tra parentesi il tasso mensile, calcolato in rapporto alla durata della carica.</p>

    <table class="data dataTable">
      <thead style="font-size: 10px;">
        <tr>
          {% include 'search/_sortable_header.html' with f=order_by.last_name f_name='last_name' f_descr='Carica' f_init='asc' %}
          <th>Giorni</th>
          {% include 'search/_sortable_header.html' with f=order_by.n_presents_percent f_name='n_presents_percent' f_descr='Presenze' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_acts f_name='n_presented_acts' f_descr='Atti firmati' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_received_acts f_name='n_received_acts' f_descr='Atti ricevuti' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_cgdeliberations f_name='n_cgdeliberations' f_descr='Delib. Giunta' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_deliberations f_name='n_deliberations' f_descr='Delib. Consiglio' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_motions f_name='n_motions' f_descr='Mozioni' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_agendas f_name='n_agendas' f_descr='Ordini del Giorno' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_motions_agendas f_name='n_motions_agendas' f_descr='Mozioni e OdG' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_amendments f_name='n_amendments' f_descr='Emend.' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_interrogations f_name='n_interrogations' f_descr='Interr.' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_interpellations f_name='n_interpellations' f_descr='Interp.' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_audits f_name='n_audits' f_descr='Accessi' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_inspection_acts f_name='n_inspection_acts' f_descr='Atti ispettivi' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_speeches f_name='n_speeches' f_descr='Numero interv.' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.speeches_minutes f_name='speeches_minutes' f_descr='Minuti interv.' f_first='desc' %}
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_acts_index f_name='n_presented_acts_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_received_acts_index f_name='n_received_acts_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_cgdeliberations_index f_name='n_cgdeliberations_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_deliberations_index f_name='n_deliberations_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_motions_index f_name='n_motions_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_agendas_index f_name='n_agendas_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_motions_agendas_index f_name='n_motions_agendas_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_amendments_index f_name='n_amendments_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_interrogations_index f_name='n_interrogations_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_interpellations_index f_name='n_interpellations_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_audits_index f_name='n_audits_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_inspection_acts_index f_name='n_inspection_acts_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_speeches_index f_name='n_speeches_index' f_descr='(/mese)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.speeches_minutes_index f_name='speeches_minutes_index' f_descr='(/mese)' f_first='desc' %}
        </tr>
      </thead>
      <tbody>
        <tbody>
        {% for result in page.object_list %}
          <tr>
          <!-- politician -->
            <td style="text-align: left;">

              <!-- thumbnail -->
              <div class="container-fluid" style="padding-left: 2px;">
                <div class="row-fluid">
                  <div class="span2" style="min-width: 50px">
                    <a href="{{ result.object.person.get_absolute_url }}">
                      {% if result.object.person.img %}
                        {% thumbnail result.object.person.img "50x50" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="politician-picture">
                        {% endthumbnail %}
                      {% else %}
                        <img src="{{ STATIC_URL }}img/placehold/face_50.png" width="50" height="50" class="politician-picture">
                      {% endif %}
                    </a>
                  </div>

                  <!-- name -->
                  <div class="span8">
                    <a href="{{ result.object.person.get_absolute_url }}">
                      <strong class="person_name">{{ result.object.person|title }}</strong>
                    </a>
                    <br />{{ result.object.charge_type_verbose }}
                  </div>
                </div>
              </div>
            </td>

            <td>{{ result.object.duration.days }}</td>

                <td>{% if result.n_presents %}
                	{{ result.n_presents_percent|floatformat }}%
                {% endif %}</td>

                <td>{% if result.n_presented_acts %}
                	<a href="{% url 'om_act_search' %}?q=&charge={{ result.object.id }}">
                	{{ result.n_presented_acts }}</a><br />({{ result.n_presented_acts_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_received_acts %}
                	<a href="{% url 'om_act_search' %}?q=&recipient={{ result.object.person.slug }}">
                    {{ result.n_received_acts }}</a><br />({{ result.n_received_acts_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_cgdeliberations %}
                	<a href="{% url 'om_act_search' %}?q=&charge={{ result.object.id }}&f=act_type:delibera di giunta">
                	{{ result.n_cgdeliberations }}</a><br />({{ result.n_cgdeliberations_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_deliberations %}
                	<a href="{% url 'om_act_search' %}?q=&charge={{ result.object.id }}&f=act_type:delibera">
                	{{ result.n_deliberations }}</a><br />({{ result.n_deliberations_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_motions %}
                	<a href="{% url 'om_act_search' %}?q=&charge={{ result.object.id }}&f=act_type:mozione">
                	{{ result.n_motions }}</a><br />({{ result.n_motions_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_agendas %}
                	<a href="{% url 'om_act_search' %}?q=&charge={{ result.object.id }}&f=act_type:ordine del giorno">
                	{{ result.n_agendas }}</a><br />({{ result.n_agendas_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_motions_agendas %}
                	{{ result.n_motions_agendas }}<br />({{ result.n_motions_agendas_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_amendments %}
                	<a href="{% url 'om_act_search' %}?q=&charge={{ result.object.id }}&f=act_type:emendamento">
                	{{ result.n_amendments }}</a><br />({{ result.n_amendments_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_interrogations %}
                	<a href="{% url 'om_act_search' %}?q=&charge={{ result.object.id }}&f=act_type:interrogazione">
                	{{ result.n_interrogations }}</a><br />({{ result.n_interrogations_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_interpellations %}
                	<a href="{% url 'om_act_search' %}?q=&charge={{ result.object.id }}&f=act_type:interpellanza">
                	{{ result.n_interpellations }}</a><br />({{ result.n_interpellations_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_audits %}
                	<a href="{% url 'om_act_search' %}?q=&charge={{ result.object.id }}&f=act_type:accesso agli atti">
                	{{ result.n_audits }}</a><br />({{ result.n_audits_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_inspection_acts %}
                	{{ result.n_inspection_acts }}<br />({{ result.n_inspection_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.n_speeches %}
                	<a href="{% url 'om_speech_search' %}?q=&charge={{ result.object.id }}">
                	{{ result.n_speeches }}</a><br />({{ result.n_speeches_index|floatformat:2 }})
                {% endif %}</td>

                <td>{% if result.speeches_minutes %}
                	<a href="{% url 'om_speech_search' %}?q=&charge={{ result.object.id }}">
                	{{ result.speeches_minutes }}</a><br />({{ result.speeches_minutes_index|floatformat:2 }})
                {% endif %}</td>
			</tr>
        {% empty %}
            <p>Nessuna carica trovata.</p>
        {% endfor %}
        </tbody>
        </table>

        {% digg_paginator %}
      </div>

      <div class="tab-pane" id="search_acts_tab">

        {% digg_paginator %}
        {% if n_results %}
          <div id="graph_acts" class="span8"></div>
        {% endif %}

      </div>

      <div class="tab-pane" id="search_presence_tab">

        {% if graphs.n_presents_bin  %}
          <div id="graph_n_presents_bin" class="span8"></div>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}

{% block sidebar %}

    {% if person %}
      <dl><dt>Politico</dt></dl>
      {% include 'people/_person_widget.html' with person=person %}
    {% endif %}

    {% if group %}
      <dl><dt>Gruppo</dt></dl>
      {% include 'people/_group_widget.html' with group=group %}
    {% endif %}

    {% if person or group %}<hr />{% endif %}
 
    {% if n_results %}
        {% if selected_facets %}
            <h2>Modifica i filtri</h2>
            {% for facet in selected_facets %}
                <dt>{{ facets_labels|key:facet.field|safe }}</dt>
                <dd>
                    <a href="{{ facet.url }}"><i class="icon-remove"></i></a>
                    {{ facet.r_label }}
                </dd>
            {% endfor %}
    
        {% else %}
            <h2>Filtra</h2>
        {% endif %}
    
        <!-- Begin faceting. -->
        <div>
            <dl>
                {% if facets.fields.is_active and not facets.fields.is_active.is_field_selected  %}
                    <dt>{{ facets_labels.is_active }}</dt>
                    {% for t in facets.fields.is_active.counts %}
                        <dd>
                            {% if not t.2 %}
                                <a href="{{ base_url }}&f=is_active:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if facets.fields.institution and not facets.fields.institution.is_field_selected  %}
                    <dt>{{ facets_labels.institution }}</dt>
                    {% for t in facets.fields.institution.counts %}
                        <dd>
                            {% if not t.2 %}
                                <a href="{{ base_url }}&f=institution:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if facets.fields.responsability and not facets.fields.responsability.is_field_selected %}
                    <dt>{{ facets_labels.responsability }}</dt>
                    {% for t in facets.fields.responsability.counts %}
                        <dd>
                            {% if not t.2 and t.1 %}
                                <a href="{{ base_url }}&f=responsability:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if facets.fields.group_responsability and not facets.fields.group_responsability.is_field_selected %}
                    <dt>{{ facets_labels.group_responsability }}</dt>
                    {% for t in facets.fields.group_responsability.counts %}
                        <dd>
                            {% if not t.2 and t.1 %}
                                <a href="{{ base_url }}&f=group_responsability:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if not facet_queries_start_date.is_selected %}
                    <dt>{{ facets_labels.start_date }}</dt>
                    {% for range in facet_queries_start_date.ranges|dictsortreversed:"key"  %}
                        <dd>
                            <a href="{{ base_url }}&f={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if not facet_queries_end_date.is_selected %}
                    <dt>{{ facets_labels.end_date }}</dt>
                    {% for range in facet_queries_end_date.ranges|dictsortreversed:"key"  %}
                        <dd>
                            <a href="{{ base_url }}&f={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

        </div>
    
        <!-- End faceting -->
    {% endif %}
{% endblock %}


{% block footer_js_includes %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>

  <script type="text/javascript">

    {% if n_results %}
      graph_acts_elem = document.getElementById('graph_acts');
	  Plotly.plot( graph_acts_elem, [
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_cgdeliberations_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.person.get_absolute_url }}">{{ result.object.person|title }}</a><br>{{ result.object.charge_type_verbose }}',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Delibere di Giunta'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_deliberations_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.person.get_absolute_url }}">{{ result.object.person|title }}</a><br>{{ result.object.charge_type_verbose }}',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Delibere di Consiglio'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_motions_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.person.get_absolute_url }}">{{ result.object.person|title }}</a><br>{{ result.object.charge_type_verbose }}',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Mozioni'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_agendas_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.person.get_absolute_url }}">{{ result.object.person|title }}</a><br>{{ result.object.charge_type_verbose }}',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Ordini del giorno'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_amendments_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.person.get_absolute_url }}">{{ result.object.person|title }}</a><br>{{ result.object.charge_type_verbose }}',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Emendamenti'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_interrogations_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.person.get_absolute_url }}">{{ result.object.person|title }}</a><br>{{ result.object.charge_type_verbose }}',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Interrogazioni'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_interpellations_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.person.get_absolute_url }}">{{ result.object.person|title }}</a><br>{{ result.object.charge_type_verbose }}',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Interpellanze'
	  },
	  {
	    {% language 'en' %}{% localize off %}
          x: [{% for result in page.object_list %} {{ result.n_audits_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.person.get_absolute_url }}">{{ result.object.person|title }}</a><br>{{ result.object.charge_type_verbose }}',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Accessi agli atti'
	  }
	  ], {
	    title: 'Atti presentati',
	    barmode: 'stack',
	    margin: { l: 180 },
        xaxis: { fixedrange: true, title: 'atti presentati mediamente ogni mese' },
        yaxis: { fixedrange: true, autorange: 'reversed' }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });
    {% endif %}

    {% if graphs.n_presents_bin and not facets.fields.n_presents_bin.is_field_selected %}
      graph_n_presents_bin_elem = document.getElementById('graph_n_presents_bin');
	  Plotly.plot( graph_n_presents_bin_elem, [{
	    x: ['{{ graphs.n_presents_bin.x | join:"', '" }}'],
	    y: [{{ graphs.n_presents_bin.y | join:", " }}],
	    type: 'bar'
	    }], {
	    title: 'Presenze al voto',
	    hovermode: 'x',
        xaxis: { fixedrange: true, title: 'percentuale di presenze al voto' },
        yaxis: { fixedrange: true, title: 'numero di cariche' }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });

      graph_n_presents_bin_elem.on('plotly_click', function(data){
        var url = '{{ base_url }}' + '&f=n_presents_bin:' + data.points[0].x
        window.open(url, '_self');
      });

    {% endif %}

    $(window).resize(function() {
      var _width = $("#tab-content-id").width() - 50;
      var _width4 = _width/2;
      var _width8 = _width;

      {% if n_results %}
        Plotly.relayout(graph_acts_elem, { width:_width8, height:{{ graphs.results.height }} });
      {% endif %}

      {% if graphs.n_presents_bin %}
        Plotly.relayout(graph_n_presents_bin_elem, { width:_width8, height:500 });
      {% endif %}

    }).resize();

    </script>
});
{% endblock footer_js_includes %}
