{% load monitoring_tags %}
{% load thumbnail %}

{% load url from future %}
<tr>
    <!-- ID -->
    <td>{{ id_prefix }}{{ charge.id }}</td>
    <!-- politician -->
    <td>
        <!-- thumbnail -->
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2" style="min-width: 50px">
                    <a href="{{ charge.person.get_absolute_url }}">
                        {% if charge.person.img %}
                            {% thumbnail charge.person.img "50x50" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="politician-picture">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{{ STATIC_URL }}img/placehold/face_50.png" width="50" height="50" class="politician-picture">
                        {% endif %}
                    </a>
                </div>
                <!-- name -->
                <div class="span8">
                    <a href="{{ charge.person.get_absolute_url }}">
                        <strong class="person_name">{{ charge.person|title }}</strong>
                    </a>
                    <br/>
                    {% if label %}<span class="label person_label" style="line-height: 20px;">{{ label }}</span><br/>{% endif %}
                    {{ charge.current_groupcharge.group.acronym }}
                    <br/>
                    in carica dal {{ charge.start_date|date:"d.m.Y" }}

                    {% object_inline_monitoring charge.person shows_monitoring_users=False %}
                </div>
            </div>
        </div>
    </td>


    <!-- presences -->
    <td class="text-center">
      {% if charge != None %}
        {% if charge.n_present_votations %}
            {% with charge.n_present_votations|add:charge.n_absent_votations as tot_votations %}
          <strong>{% widthratio charge.n_present_votations tot_votations 100 %}%</strong>
          <br/>
          <span class="small">({{ charge.n_present_votations }} su {{ tot_votations }})</span>
            {% endwith %}
        {% endif %}
      {% endif %}
    </td>

    <!-- rebellions -->
    <td class="text-center">
      {% if charge.n_present_votations %}
        {{ charge.n_rebel_votations }}
      {% endif %}
    </td>

    <!-- presented acts -->
    <td class="text-center">
        <a href="{% url 'om_act_search' %}?q=&person={{ charge.person.slug }}">
        {{ charge.n_presented_acts }}
        </a>
    </td>

    <!-- monitoring users -->
    <td class="text-center">
        {{ charge.person.all_monitoring_count }}
    </td>
</tr>
