{% load monitoring_tags %}
{% load thumbnail %}
{% load people_tags %}

{% load url from future %}
<tr>
    <!-- ID -->
    <td>{{ charge.level }}</td>

    <!-- politician -->
    <td>
      {% include 'people/charge_widget.html' with charge=charge.object label=label %}
    </td>

    <!-- presences -->
    <td class="text-center">
      {% if charge.object != None %}
        {% if charge.object.can_vote %}
            {% with charge.n_present_votations|add:charge.n_absent_votations as tot_votations %}
          <strong>{{ charge.n_present_votations_percent|floatformat }}%</strong>
          <br/>
          <span class="small">(<a href="{% url 'om_votation_search' %}?q=&charge_present={{ charge.object.id }}">{{ charge.n_present_votations }}</a> su <a href="{% url 'om_votation_search' %}?q=&charge={{ charge.object.id }}">{{ tot_votations }}</a>)</span>
            {% endwith %}
        {% endif %}
      {% endif %}
    </td>

    <!-- rebellions -->
    <td class="text-center">
      {% if charge.object.can_vote %}
        <a href="{% url 'om_votation_search' %}?q=&charge_rebel={{ charge.object.id }}">
        {{ charge.n_rebel_votations }}
        </a>
      {% endif %}
    </td>

    <!-- presented acts -->
    <td class="text-center">
        <a href="{% url 'om_act_search' %}?q=&charge={{ charge.object.id }}">
        {{ charge.n_presented_acts }}
        </a>
    </td>

    <!-- speeches -->
    <td class="text-center">
        <a href="{% url 'om_speech_search' %}?q=&person={{ charge.object.person.slug }}">
        {{ charge.n_speeches }}
        </a>
    </td>

    <!-- monitoring users -->
    <td class="text-center">
        {{ charge.object.person.all_monitoring_count }}
    </td>
</tr>
