{% load monitoring_tags %}
{% load thumbnail %}

{% load url from future %}

<tr>
    <!-- ID -->
    <td>{{ charge.level }}</td>

    <!-- politician -->
    <td>
      {% include 'people/charge_widget.html' with charge=charge.object label=label %}
    </td>

    <!-- deleghe -->
    <td>
        {{ charge.object.denomination }}
    </td>

    <!-- presenze -->
    <td class="text-center">
      {% if charge.object != None %}
        {% if charge.n_present_attendances %}
            {% with charge.n_present_attendances|add:charge.n_absent_attendances as tot_attendances %}
          <strong>{{ charge.n_present_attendances_percent|floatformat }}%</strong>
          <br/>
          <span class="small">({{ charge.n_present_attendances }} su {{ tot_attendances }})</span>
            {% endwith %}
        {% endif %}
      {% endif %}
    </td>

    <!-- presented acts -->
    <td class="text-center">
        <a href="{% url 'om_act_search' %}?q=&charge={{ charge.object.id }}">
        {{ charge.n_presented_acts }}
        </a>
    </td>

    <!-- speeches -->
    <td class="text-center">
        <a href="{% url 'om_speech_search' %}?q=&person={{ charge.object.person.slug }}">
        {{ charge.speeches_minutes }}
        </a>
    </td>

    <!-- received acts -->
    <td class="text-center">
        <a href="{% url 'om_act_search' %}?q=&recipient={{ charge.object.person.slug }}">
        {{ charge.n_received_acts }}
        </a>
    </td>

    <!-- monitoring users -->
    <td class="text-center">
        {{ charge.object.person.all_monitoring_count }}
    </td>
</tr>
