{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load om_utils %}
{% load i18n %}
{% load l10n %}
{% load digg_paginator %}
{% load url from future %}
{% load thumbnail %}

{% block title %}Politici | Gruppi{% endblock title %}
{% block content_header %}Gruppi{% endblock %}
{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}
{% block content_width %}span10{% endblock %}
{% block sidebar_width %}span2{% endblock %}

{% block extra_style %}
{{ block.super }}
body #main.two_columns {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0, transparent),color-stop(83%, transparent),color-stop(83%, #f6f4f2),color-stop(100%, #f6f4f2));
    background-image: -webkit-linear-gradient(left,transparent,transparent 83%,#f6f4f2 83%,#f6f4f2 100%);
    background-image: -moz-linear-gradient(left, transparent, transparent 83%, #f6f4f2 83%, #f6f4f2 100% );
    background-image: -ms-linear-gradient(left,transparent, transparent 83%, #f6f4f2 83%, #f6f4f2 100%);
    background-image: -o-linear-gradient( left, transparent, transparent 83%, #f6f4f2 83%, #f6f4f2 100% );
}

.dataTable td, .dataTable th {
	padding-left: 2px;
	padding-right: 2px;
}
{% endblock %}

{% block head_js_includes %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock head_js_includes %}

{% block sub_nav %}
    {%  include 'people/_subnav.html' with active='Gruppi' %}
{% endblock %}

{% block content %}

<section>

    <ul class="nav nav-tabs page-tabs">
      <li class="active"><a data-toggle="tab" href="#search_charges_tab">{{ n_results }} grupp{{ n_results|pluralize:"o,i" }}</a></li>
<!--
      <li><a data-toggle="tab" href="#search_acts_tab">Atti</a></li>
-->
    </ul>
    <div class="tab-content" id="tab-content-id">
      <div class="tab-pane active" id="search_charges_tab">

        <p>
          La durata aggregata è la somma dei giorni di appartenenza al gruppo dei diversi consiglieri.<br />
          Tra parentesi il tasso mensile, calcolato in rapporto alla durata aggregata del gruppo.
        </p>

    {% if person %}
      <p>per: <a href="{{ person.get_absolute_url }}">{{ person }}</a></p>
    {% endif %}

    <table class="data dataTable">
      <thead style="font-size: 10px;">
        <tr>
          <th class="span1"></th>
          {% include 'search/_sortable_header.html' with f=order_by.name f_name='name' f_descr='Nome' f_init='asc' f_first='asc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_members f_name='n_members' f_descr='Membri' f_first='desc' %}
          <th>Attivo</th>
          {% include 'search/_sortable_header.html' with f=order_by.aggregate_charge_duration_days f_name='aggregate_charge_duration_days' f_descr='Durata aggregata' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_acts f_name='n_presented_acts' f_descr='Atti presentati' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_deliberations f_name='n_presented_deliberations' f_descr='Delibere' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_motions f_name='n_presented_motions' f_descr='Mozioni' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_agendas f_name='n_presented_agendas' f_descr='Ordini del Giorno' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_motions_agendas f_name='n_presented_motions_agendas' f_descr='Mozioni e OdG' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_amendments f_name='n_presented_amendments' f_descr='Emendamenti' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_interrogations f_name='n_presented_interrogations' f_descr='Interrogazioni' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_interpellations f_name='n_presented_interpellations' f_descr='Interpellanze' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_audits f_name='n_presented_audits' f_descr='Accessi agli atti' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_inspection_acts f_name='n_presented_inspection_acts' f_descr='Atti ispettivi' f_first='desc' %}
        </tr>
        <tr>
          <th class="span1"></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_acts_index f_name='n_presented_acts_index' f_descr='(/mese carica)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_deliberations_index f_name='n_presented_deliberations_index' f_descr='(/mese carica)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_motions_index f_name='n_presented_motions_index' f_descr='(/mese carica)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_agendas_index f_name='n_presented_agendas_index' f_descr='(/mese carica)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_motions_agendas_index f_name='n_presented_motions_agendas_index' f_descr='(/mese carica)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_amendments_index f_name='n_presented_amendments_index' f_descr='(/mese carica)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_interrogations_index f_name='n_presented_interrogations_index' f_descr='(/mese carica)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_interpellations_index f_name='n_presented_interpellations_index' f_descr='(/mese carica)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_audits_index f_name='n_presented_audits_index' f_descr='(/mese carica)' f_first='desc' %}
          {% include 'search/_sortable_header.html' with f=order_by.n_presented_inspection_acts_index f_name='n_presented_inspection_acts_index' f_descr='(/mese carica)' f_first='desc' %}
        </tr>
      </thead>
      <tbody>
        <tbody>
        {% for result in page.object_list %}
          <tr>
            <!-- thumbnail -->
            <td>
              {% if result.object.img %}
                {% thumbnail result.object.img "50x50" crop="center" as im %}
                <a href="{{ result.url }}">
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
                {% endthumbnail %}
              {% else %}
                <img src="{{ STATIC_URL }}img/placehold/group_50.png" width="50" height="50" class="group-picture">
              {% endif %}
            </td>

            <!-- name and acronym -->
            <td>
              <a href="{{ result.url }}"><strong>{{ result.name }}</strong></a> ({{ result.acronym }})
              {% if result.object.start_date %}
                <br />dal {{ result.object.start_date|date:"Y" }}
                {% if result.object.end_date %}
                  al {{ result.object.end_date|date:"Y" }}
                {% endif %}
              {% endif %}
            </td>

            <!-- current size -->
            <td><a href="{{ result.url }}">{{ result.n_members }}</a></td>

            <!-- is_active -->
            <td>{{ result.is_active }}</td>

            <!-- days -->
            <td>{{ result.aggregate_charge_duration_days }}</td>

            <!-- acts -->
            <td>
              <a href="{% url 'om_act_search' %}?q=&group={{ result.object.slug }}">
                {{ result.n_presented_acts }}
              </a>
              {% if result.n_presented_acts %}
                <br />({{ result.n_presented_acts_index|floatformat:2 }})
              {% endif %}
            </td>

            <!-- deliberations -->
            <td>
              <a href="{% url 'om_act_search' %}?q=&group={{ result.object.slug }}&f=act_type:delibera">
                {{ result.n_presented_deliberations }}
              </a>
              {% if result.n_presented_deliberations %}
                <br />({{ result.n_presented_deliberations_index|floatformat:2 }})
              {% endif %}
            </td>

            <!-- motions -->
            <td>
              <a href="{% url 'om_act_search' %}?q=&group={{ result.object.slug }}&f=act_type:mozione">
                {{ result.n_presented_motions }}
              </a>
              {% if result.n_presented_motions %}
                <br />({{ result.n_presented_motions_index|floatformat:2 }})
              {% endif %}
            </td>

            <!-- agendas -->
            <td>
              <a href="{% url 'om_act_search' %}?q=&group={{ result.object.slug }}&f=act_type:ordine del giorno">
                {{ result.n_presented_agendas }}
              </a>
              {% if result.n_presented_agendas %}
                <br />({{ result.n_presented_agendas_index|floatformat:2 }})
              {% endif %}
            </td>

            <!-- motions and agendas -->
            <td>
              {{ result.n_presented_motions_agendas }}
              {% if result.n_presented_motions_agendas %}
                <br />({{ result.n_presented_motions_agendas_index|floatformat:2 }})
              {% endif %}
            </td>

            <!-- amendments -->
            <td>
              <a href="{% url 'om_act_search' %}?q=&group={{ result.object.slug }}&f=act_type:emendamento">
                {{ result.n_presented_amendments }}
              </a>
              {% if result.n_presented_amendments %}
                <br />({{ result.n_presented_amendments_index|floatformat:2 }})
              {% endif %}
            </td>

            <!-- interrogations -->
            <td>
              <a href="{% url 'om_act_search' %}?q=&group={{ result.object.slug }}&f=act_type:interrogazione">
                {{ result.n_presented_interrogations }}
              </a>
              {% if result.n_presented_interrogations %}
                <br />({{ result.n_presented_interrogations_index|floatformat:2 }})
              {% endif %}
            </td>

            <!-- interpellations -->
            <td>
              <a href="{% url 'om_act_search' %}?q=&group={{ result.object.slug }}&f=act_type:interpellanza">
                {{ result.n_presented_interpellations }}
              </a>
              {% if result.n_presented_interpellations %}
                <br />({{ result.n_presented_interpellations_index|floatformat:2 }})
              {% endif %}
            </td>

            <!-- audits -->
            <td>
              <a href="{% url 'om_act_search' %}?q=&group={{ result.object.slug }}&f=act_type:accesso agli atti">
                {{ result.n_presented_audits }}
              </a>
              {% if result.n_presented_deliberations %}
                <br />({{ result.n_presented_audits_index|floatformat:2 }})
              {% endif %}
            </td>

            <!-- inspection_acts -->
            <td>
              {{ result.n_presented_inspection_acts }}
              {% if result.n_presented_inspection_acts %}
                <br />({{ result.n_presented_inspection_acts_index|floatformat:2 }})
              {% endif %}
            </td>
          </tr>
        {% empty %}
            <p>Nessun gruppo trovato.</p>
        {% endfor %}
        </tbody>
      </table>

        {% digg_paginator %}
      </div>

      <div class="tab-pane" id="search_acts_tab">

        {% if n_results %}
          <div id="graph_acts" class="span8"></div>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}

{% block sidebar %}
 
    {% if n_results %}
        {% if selected_facets %}
            <h2>Modifica i filtri</h2>
            {% for facet in selected_facets %}
                <dt>{{ facets_labels|key:facet.field|safe }}</dt>
                <dd>
                    <a href="{{ facet.url }}"><i class="icon-remove"></i></a>
                    {{ facet.r_label }}
                </dd>
            {% endfor %}
    
        {% else %}
            <h2>Filtra</h2>
        {% endif %}
    
        <!-- Begin faceting. -->
        <div>
            <dl>
                {% if facets.fields.is_active and not facets.fields.is_active.is_field_selected  %}
                    <dt>{{ facets_labels.is_active }}</dt>
                    {% for t in facets.fields.is_active.counts %}
                        <dd>
                            {% if not t.2 %}
                                <a href="{{ base_url }}&f=is_active:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>
        </div>
    
        <!-- End faceting -->
    {% endif %}
{% endblock %}


{% block footer_js_includes %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>

  <script type="text/javascript">

    {% if n_results %}
      graph_acts_elem = document.getElementById('graph_acts');
	  Plotly.plot( graph_acts_elem, [
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_presented_deliberations_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.get_absolute_url }}">{{ result.name }}</a><br />({{ result.object.start_date.year }})',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Delibere di Consiglio'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_presented_motions_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.get_absolute_url }}">{{ result.name }}</a><br />({{ result.object.start_date.year }})',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Mozioni'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_presented_agendas_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.get_absolute_url }}">{{ result.name }}</a><br />({{ result.object.start_date.year }})',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Ordini del giorno'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_presented_amendments_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.get_absolute_url }}">{{ result.name }}</a><br />({{ result.object.start_date.year }})',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Emendamenti'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_presented_interrogations_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.get_absolute_url }}">{{ result.name }}</a><br />({{ result.object.start_date.year }})',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Interrogazioni'
	  },
	  {
	    {% language 'en' %}{% localize off %}
	      x: [{% for result in page.object_list %} {{ result.n_presented_interpellations_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.get_absolute_url }}">{{ result.name }}</a><br />({{ result.object.start_date.year }})',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Interpellanze'
	  },
	  {
	    {% language 'en' %}{% localize off %}
          x: [{% for result in page.object_list %} {{ result.n_presented_audits_index|floatformat:2 }},{% endfor %} ],
	    {% endlocalize %}{% endlanguage %}
	    y: [ {% for result in page.object_list %}'<a href="{{ result.object.get_absolute_url }}">{{ result.name }}</a><br />({{ result.object.start_date.year }})',{% endfor %} ],
	    type: 'bar',
	    orientation: 'h',
	    name: 'Accessi agli atti'
	  }
	  ], {
	    title: 'Atti presentati',
	    barmode: 'stack',
	    margin: { l: 180 },
        xaxis: { fixedrange: true, title: 'atti presentati mediamente ogni mese' },
        yaxis: { fixedrange: true, autorange: 'reversed' }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });
    {% endif %}

    $(window).resize(function() {
      var _width = $("#tab-content-id").width() - 50;
      var _width4 = _width/2;
      var _width8 = _width;

      {% if n_results %}
        Plotly.relayout(graph_acts_elem, { width:_width8, height:{{ graphs.results.height }} });
      {% endif %}

    }).resize();

    </script>
{% endblock footer_js_includes %}
