{% extends 'base_two_columns.html' %}

{% block title %}Organi politici | Giunta{% endblock title %}
{% block content_header %}Giunta{% endblock %}
{% block institutions_class %}active{% endblock %}

{% load list_partition %}
{% load om_utils %}
{% load monitoring_tags %}

{% block content %}

  <h1>Giunta</h1>

  {% include 'acts/act_table_supporters.html' with act_supporters=mayor|to_list act_cosupporters=firstdeputy|to_list %}
  {% include 'acts/act_table_supporters.html' with act_supporters=citygov.members|split:'first' act_cosupporters=citygov.members|split:'last' %}

  <section>
    <h3>Prossimi appuntamenti</h3>
    {% include 'commons/calendar.html' with events=events %}
  </section>

{% endblock %}

{% block sidebar %}

  {% comment %}
  <h2>Ultimi 3 atti della Giunta</h2>
  <ul class="list-plain">
    {% for act in latest_acts %}
      <li><strong><a href="{{ act.get_absolute_url }}">{{ act.title }}</a></strong>

        {% object_inline_monitoring act.downcast %}

      </li>
    {% endfor %}
  </ul>

  <hr>

  <h2>Atti della Giunta</h2>
  <table class="stats">
    <tr>
      <td>{{ num_acts.deliberation|circled:"colored" }}</td>
      <th class="span6">Delibere</th>
      <td>{{ num_acts.interrogation|circled:"colored" }}</td>
      <th class="span6">Interrogazioni</th>
    </tr>
    <tr>
      <td>{{ num_acts.motion|circled:"colored" }}</td>
      <th class="span6">Mozioni</th>
      <td>{{ num_acts.agenda|circled:"colored" }}</td>
      <th class="span6">Ordini del giorno</th>
    </tr>
    <tr>
      <td>{{ num_acts.interpellation|circled:"colored" }}</td>
      <th colspan="3">Interpellanze</th>
    </tr>
  </table>

  <hr>

  {% include 'commons/news_list.html' with news_list=FILLME news_title='Ultime dalla Giunta' %}
  {% endcomment %}
{% endblock %}


{% block footer_js_includes %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery.submitlink.js"></script>
{% endblock %}

