{% extends 'base_two_columns.html' %}

{% block content_header %}Organi politici{% endblock %}

{% block content %}

    <section class="clearfix border-bottom">
        <h1>Consiglio</h1>
        <ul class="people-list list-floated">
            <li><a href="{{ president.get_absolute_url }}"><strong>{{ president.person.first_name }} {{ president.person.last_name }}</strong> (P)</a><br>Presidente</li>
            <li><a href="{{ mayor.get_absolute_url }}"><strong>{{ mayor.person.first_name }} {{ mayor.person.last_name }}</strong> (P)</a><br>Sindaco</li>
            <li><a href="{{ vice_president.get_absolute_url }}"><strong>{{ vice_president.person.first_name }} {{ vice_president.person.last_name }}</strong> (P)</a><br>Vice presidente</li>
        </ul>
    </section>

    <section>
        {% for group in groups %}
        <div class="party-people">
            <h2><img src="http://placehold.it/50">{{ group.name }}</h2>
            <p>
                {# FIXME #}<a href="CORRECT-URL-HERE"><strong>Correct Politician Here</strong> (CPH)</a><br />{# endFIXME #}
                Capogruppo
            </p>
            
            <ul class="list-floated">
                {% for counselor in group.counselors %}
                <li><a href="{{ counselor.get_absolute_url }}"><strong>{{ counselor.person.first_name }} {{ counselor.person.last_name }}</strong> ({{ counselor.council_group.acronym }})</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </section>
    
    <section>
        <h2>Prossimi appuntamenti</h2>
        <div class="row-fluid">
            <div class="span4">
                <div class="calendar_container">
                    <h3>Agenda del consiglio</h3>
                    <div class="calendar"></div>
                    <div class="calendar" data-calendar=".calendar_events"></div>
                    <ul class="calendar_events">
                        {% for event in events %}
                        <li data-day="{{ event.date|date:"d/m/Y" }}"><a href="{{ event.act.downcast.get_absolute_url }}">{{ event.act.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="span8">
                <ul class="list-floated unstyled">
                    {% for event in events %}
                    {% if not event.is_past_due %}
                    <li><strong>{{ event.date|date:"d.m.Y" }}</strong> <a href="{{ event.act.downcast.get_absolute_url }}">{{ event.act.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}

{% block sidebar %}

    <h2>Commissioni</h2>
    <ul class="unstyled">
        {% for committee in committees %}
        <li><a href="{{ committee.get_absolute_url }}"><strong>{{ committee.name }}</strong>: {{ committee.description|truncatewords:3 }}</a></li>
        {% endfor %}
    </ul>


    <h2>Ultimi 3 atti del Consiglio</h2>
    <ul class="feed-list">
        {% for act in latest_acts %}
        <li>{{ act.title }}
            <span class="monitoring">
                {% if not act.monitoring_users_count %}
                Non monitorato
                {% else %}
                Monitorato da {{ act.monitoring_users_count }} cittadini
                {% endif %}
                - <a href="#"><i class="socialicon-add"></i> Monitora</a>
            </span>
        </li>
        {% endfor %}
    </ul>
    <p class="bg-dark"><a href="#"><i class="icon-play"></i> Vedi tutti</a></p>

    <h2>Atti del Consiglio</h2>
    <table>
        <tr>
            <td><span class="graybox">{{ num_acts.deliberation }}</span></td>
            <th class="bg-dark span6">Delibere</th>
            <td><span class="graybox">{{ num_acts.motion }}</span></td>
            <th class="bg-dark span6">Mozioni</th>
        </tr>
        <tr>
            <td><span class="graybox">{{ num_acts.agenda }}</span></td>
            <th class="bg-dark span12" colspan="3">Ordini del giorno</th>
        </tr>
        <tr>
            <td><span class="graybox">{{ num_acts.interrogation }}</span></td>
            <th class="bg-dark span6">Interrogazioni</th>
            <td><span class="graybox">{{ num_acts.interpellation }}</span></td>
            <th class="bg-dark span6">Interpellanze</th>
        </tr>
    </table>

    <h2>Ultime sul Consiglio <img src="{{ STATIC_URL }}img/feed-icon-14x14.png" alt="" /></h2>
    <ul class="feed-list">
        <li><a href="#">Mario Rossi ha commentato il voto</a></li>
        <li><a href="#">Il voto è inserito nell'ordine del giorno N° 13516</a></li>
        <li><a href="#">Barcaiuolo, Pellacani, Bellei, Morandi, Santoro (PdL) hanno presentato la mozione...</a></li>
    </ul>
    <p class="bg-dark"><a href="#">Vedi tutti <i class="icon-chevron-down"></i></a></p>
{% endblock %}


{% comment %}Calendar blocks{% endcomment %}
{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.custom.css">
    <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.ie.css"><![endif]-->
{% endblock %}

{% block footer_js_includes %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.calendar.js"></script>
{% endblock %}
