{% extends 'base_two_columns.html' %}

{% block title %}Organi politici | {{ committee.name }}{% endblock title %}
{% block content_header %}{{ committee.name }}{% endblock %}
{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png"
         xmlns:br="http://www.w3.org/1999/html"
         alt="Comune di {{ main_city }}">
{% endblock %}
{% block body_class %}politician{% endblock %}
{% block people_class %}class="active"{% endblock %}

{% block sub_nav %}
    {%  include 'commons/subnav.html' with active='Commissioni' %}
{% endblock %}

{% block content %}


  <h1>{{ committee.name }}</h1>
  <p>{{ committee.description }}</p>

  <hr>

  <div class="party-people">
    <div class="row-fluid">
      {% comment %}Commitee leaders{% endcomment %}
      <div class="span6">

        <p>
          {% if president %}
            <a href="{{ president.charge.person.get_absolute_url }}">
              <strong>{{ president.charge.person.full_name }}</strong>
              {% if president.group %}
                ({{ president.group.acronym }})
              {% endif %}
            </a><br/>
            {{ president.get_charge_type_display }}
          {% else %}
            Presidente non definito
          {% endif %}
        </p>

        {% for vp in vice_presidents %}
          <p>
            <a href="{{ vp.charge.person.get_absolute_url }}">
              <strong>{{ vp.charge.person.full_name }}</strong>
              {% if vp.group %}
                ({{ vp.group.acronym }})
              {% endif %}
            </a><br/>
            {{ vp.get_charge_type_display }}

          </p>
        {% endfor %}

        <address>
          {% for r in resources %}
            {% if r.resource_type == 'URL' %}
              {% if 'http://' not in r.value %}
                {{ r.description }}: <a href="http://{{ r.value }}">{{ r.value }}</a><br/>
              {%  else %}
                {{ r.description }}: <a href="{{ r.value }}">{{ r.value }}</a><br/>
              {% endif %}
            {% else %}
              {% if r.resource_type == 'EMAIL' %}
                <a href="mailto:{{ r.value }}">{{ r.value }}</a><br/>
              {%  else %}
                {{ r.value }}<br/>
              {% endif %}
            {% endif %}
          {% endfor %}
        </address>


      </div>
      {% comment %}Committee peoples{% endcomment %}
      <div class="span6">
        <ul class="unstyled">
          {% for member in members %}
            <li><a href="{{ member.person.get_absolute_url }}"><strong>{{ member.person.full_name }}</strong>
              {% if member.group %}
                ({{ member.group.acronym }})
              {% endif %}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <hr class="big">

{% endblock %}

{% block sidebar %}
    <section class="share-tools clearfix">
        {% load web_services_tags %}
        {% share committee %}
    </section>

    <section>
        {% include 'commons/calendar.html' with events=events %}
    </section>

    <h2>Commissioni</h2>
    <ul class="list-plain">
        {% for c in committees %}
            {% if c.id == committee.id %}
                <li><strong>{{ c.name }}</strong>: {{ c.description|truncatewords:3 }}</li>
            {%  else %}
                <li><a href="{{ c.get_absolute_url }}"><strong>{{ c.name }}</strong>: {{ c.description|truncatewords:3 }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

  {%  comment %}
  {% include 'commons/news_list.html' with news_list=i_news news_title='Ultime sulla Commissione' %}
  {% endcomment %}
{% endblock %}


