{% extends 'base_two_columns.html' %}

{% block title %}Organi politici | {{ committee.name }}{% endblock title %}
{% block content_header %}Organi politici{% endblock %}
{% block institutions_class %}active{% endblock %}

{% block content %}


    <h1>{{ committee.name }}</h1>
    <p>{{ committee.description }}</p>

    <hr>

    <section class="row-fluid">
        <div class="span6">
            <p>
                {% if president %}
                    <a href="{{ president.charge.person.get_absolute_url }}">
                        <strong>{{ president.charge.person.full_name }}</strong>
                        {% if president.group %}
                            ({{ president.group.acronym }})
                        {% endif %}
                    </a><br/>
                    {{ president.get_charge_type_display }}
                {% else %}
                    Presidente non definito
                {% endif %}
            </p>

            {% for vp in vice_presidents %}
                <p>
                    <a href="{{ vp.charge.person.get_absolute_url }}">
                        <strong>{{ vp.charge.person.full_name }}</strong>
                        {% if vp.group %}
                            ({{ vp.group.acronym }})
                        {% endif %}
                    </a><br/>
                    {{ vp.get_charge_type_display }}

                </p>
            {% endfor %}

            <address>
                {% for r in resources %}
                    {% if r.resource_type == 'URL' %}
                        {% if 'http://' not in r.value %}
                            {{ r.description }}: <a href="http://{{ r.value }}">{{ r.value }}</a><br/>
                        {%  else %}
                            {{ r.description }}: <a href="{{ r.value }}">{{ r.value }}</a><br/>
                        {% endif %}
                    {% else %}
                        {% if r.resource_type == 'EMAIL' %}
                            <a href="mailto:{{ r.value }}">{{ r.value }}</a><br/>
                        {%  else %}
                            {{ r.value }}<br/>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </address>


        </div>
        <div class="span6">
            <ul>
                {% for member in members %}
                    <li><a href="{{ member.person.get_absolute_url }}"><strong>{{ member.person.full_name }}</strong>
                        {% if member.group %}
                            ({{ member.group.acronym }})
                        {% endif %}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>

  <hr class="big">

  <section>
    <h3>Prossimi appuntamenti</h3>
    <div class="calendar_container">
      <div class="row-fluid">
        <div class="span4">
          <div class="calendar" data-events=".calendar_events"></div>
        </div>
        <div class="span8">
          <ul class="data-list calendar_events">
            {% for event in events %}
              {% if not event.is_past_due %}
                <li data-day="{{ event.date|date:"m/d/Y" }}"><strong>{{ event.date|date:"d.m.Y" }}</strong> <a href="{{ event.act.downcast.get_absolute_url }}">{{ event.act.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block sidebar %}
  <h2>Commissioni</h2>
  <ul class="unstyled">
    {% for committee_iter in committee_list %}
      {% if committee_iter == committee %}
        <li><strong>{{ committee_iter.name }}</strong>: {{ committee_iter.description|truncatewords:3 }}</li>
      {% else %}
        <li><a href="{{ committee_iter.get_absolute_url }}"><strong>{{ committee_iter.name }}</strong>: {{ committee_iter.description|truncatewords:3 }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Ultime sulla commissione</h2>
  <ul class="list-simple">
    <li><a href="#">Mario Rossi ha commentato il voto</a></li>
    <li><a href="#">Il voto è inserito nell'ordine del giorno N° 13516</a></li>
    <li><a href="#">Barcaiuolo, Pellacani, Bellei, Morandi, Santoro (PdL) hanno presentato la mozione...</a></li>
  </ul>

  <p class="box">
    <a href="#">Leggi tutti</a> <i class="icon-play-down"></i>
  </p>
{% endblock %}


{% comment %}Calendar blocks{% endcomment %}
{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.custom.css">
    <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.ie.css"><![endif]-->
{% endblock %}

{% block footer_js_includes %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.calendar.js"></script>
{% endblock %}
