{% extends 'base_two_columns.html' %}
{% load popover_info %}
{% load thumbnail %}

{% block title %}Politici | Gruppi{% endblock title %}
{% block content_header %}Politici{% endblock %}
{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block sub_nav %}
    {%  include 'commons/subnav.html' with active='Gruppi' %}
{% endblock %}

{% block content %}

  <section class="row-fluid">

    <h2>Gruppi {% popover_info 'gruppi-del-consiglio' %}</h2>

    <table id="gruppi" class="data dataTable">
      <thead>
      <tr>
          <th class="span1"></th>
          <th class="span1">Acronimo</th>
          <th>Nome</th>
          <th>Membri attuali</th>
      </tr>
      </thead>
      <tbody>
        {% for group in groups %}

        <tr>
          <!-- thumbnail -->
          <td>
            {% thumbnail group.img "50x50" crop="center" as im %}
            <a href="{{ group.get_absolute_url }}">
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            </a>
            {% endthumbnail %}
          </td>

          <!-- acronym -->
          <td><a href="{{ group.get_absolute_url }}">{{ group.acronym }}</a></td>

          <!-- name -->
          <td><a href="{{ group.get_absolute_url }}"><strong>{{ group.name }}</strong></a></td>

          <!-- current size -->
          <td><a href="{{ group.get_absolute_url }}">{{ group.current_size }}</a></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}

{% block footer_js_includes %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.submitlink.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript">
		
        sort_int_asc = function(node_a,node_b) {

    		acts_a = parseInt($(node_a).text().replace(/^\s+|\s+$/g, ""));
            acts_b = parseInt($(node_b).text().replace(/^\s+|\s+$/g, ""));

            if (acts_a < acts_b) { res = -1; }
            else if (acts_a == acts_b) { res = 0; }
            else { res = 1; }

            return res;
        };

        $.fn.dataTableExt.oSort['int-asc'] = sort_int_asc;
        $.fn.dataTableExt.oSort['int-desc'] = function(a,b) {
            return sort_int_asc(b, a);
        };

        $(document).ready(function() {
            gTable = $('#gruppi').dataTable({
                bFilter: false,
                bSort: true,
                aoColumns: [
                    { bSortable: false },
                    { asSorting: ['desc', 'asc'] },
                    { asSorting: ['desc', 'asc']},
                    { sType: "int", asSorting: ['desc', 'asc']}
                ],
                bPaginate: false,
                bLengthChange: false,
                bInfo: false,
                bAutoWidth: false,
                oLanguage: {
                    sSearch: "Ricerca",
                    sZeroRecords: "Nessun risultato per questa ricerca"
                },
                aaSorting: [[ 0, "asc" ], [ 1, "asc" ]]
            });
        });

    </script>
{% endblock %}

{% block sidebar %}
{% endblock %}
