{% extends 'base_two_columns.html' %}

{% block content_header %}Organi politici{% endblock %}

{% block content %}

    <section class="clearfix border-bottom">
        <h1>Consiglio</h1>
        <ul class="people-list list-floated">
            <li><a href="#"><strong>Mario Rossi</strong> (P)</a><br>Presidente</li>
            <li><a href="#"><strong>Mario Rossi</strong> (P)</a><br>Vice presidente vicario</li>
            <li><a href="#"><strong>Mario Rossi</strong> (P)</a><br>Sindaco</li>
            <li><a href="#"><strong>Mario Rossi</strong> (P)</a><br>Vice presidente</li>
        </ul>
    </section>

    <section>
        <div class="party-people">
            <h2><img src="http://placehold.it/50"> Partito generico</h2>

            <p><a href="#"><strong>Mario Rossi</strong> (P)</a><br>
                Capogruppo</p>

            <ul class="list-floated">
                <li><a href="#"><strong>Mario Rossi I</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi II</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi III</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi IV</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi ..</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
            </ul>
        </div>

        <div class="party-people">
            <h2><img src="http://placehold.it/50"> Partito generico</h2>

            <p><a href="#"><strong>Mario Rossi</strong> (P)</a><br>
                Capogruppo</p>

            <ul class="list-floated">
                <li><a href="#"><strong>Mario Rossi I</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi II</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi III</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi IV</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi ..</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
                <li><a href="#"><strong>Mario Rossi</strong> (P)</a></li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Prossimi appuntamenti</h2>
        <div class="row-fluid">
            <div class="span4">
                <div class="calendar_container">
                    <h3>Agenda della commissione</h3>
                    <div class="calendar"></div>
                </div>
            </div>
            <div class="span8">
                <ul class="list-floated unstyled">
                    <li><strong>01.3.2012</strong> <a href="#">Conferenza dei capigruppo</a></li>
                    <li><strong>02.3.2012</strong> <a href="#">Conferenza dei capigruppo</a></li>
                    <li><strong>03.3.2012</strong> <a href="#">Conferenza dei capigruppo</a></li>
                    <li><strong>04.3.2012</strong> <a href="#">Conferenza dei capigruppo</a></li>
                    <li><strong>05.3.2012</strong> <a href="#">Conferenza dei capigruppo</a></li>
                    <li><strong>06.3.2012</strong> <a href="#">Conferenza dei capigruppo</a></li>
                    <li><strong>07.3.2012</strong> <a href="#">Conferenza dei capigruppo</a></li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}

{% block sidebar %}

    <h2>Commissioni</h2>
    <ul class="unstyled">
        <li><a href="{% url om_institution_commission %}"><strong>Commissione 1</strong>: edilizia, urbanistica…</a></li>
        <li><a href="#"><strong>Commissione 2</strong>: ambiente, energie rinnovabili…</a></li>
        <li><a href="#"><strong>Commissione 3</strong>: cultura, teatro…</a></li>
        <li><a href="#"><strong>Commissione 1</strong>: edilizia, urbanistica…</a></li>
        <li><a href="#"><strong>Commissione 2</strong>: ambiente, energie rinnovabili…</a></li>
        <li><a href="#"><strong>Commissione 3</strong>: cultura, teatro...</a></li>
    </ul>


    <h2>Ultimi 3 atti del Consiglio</h2>
    <ul class="feed-list">

        <li>Stato idrogeologico della zona
                <span class="monitoring">Monitorato da 2 cittadini - <a href="#"><i class="socialicon-add"></i> Monitora</a>
            </span></li>
        <li>Stato idrogeologico della zona
                <span class="monitoring">Monitorato da 2 cittadini - <a href="#"><i class="socialicon-add"></i> Monitora</a>
            </span></li>
        <li>Stato idrogeologico della zona
                <span class="monitoring">Monitorato da 2 cittadini - <a href="#"><i class="socialicon-add"></i> Monitora</a>
            </span></li>
    </ul>
    <p class="bg-dark"><a href="#"><i class="icon-play"></i> Vedi tutti</a></p>

    <h2>Atti del Consiglio</h2>
    <table>
        <tr>
            <td><span class="graybox">150</span></td>
            <th class="bg-dark span6">Delibere</th>
            <td><span class="graybox">150</span></td>
            <th class="bg-dark span6">Mozioni</th>
        </tr>
        <tr>
            <td><span class="graybox">150</span></td>
            <th class="bg-dark span12" colspan="3">Ordini del giorno</th>
        </tr>
        <tr>
            <td><span class="graybox">150</span></td>
            <th class="bg-dark span6">Interrogazioni</th>
            <td><span class="graybox">150</span></td>
            <th class="bg-dark span6">Interpellanze</th>
        </tr>
    </table>

    <h2>Ultime sul Consiglio <img src="{{ STATIC_URL }}img/feed-icon-14x14.png" alt="" /></h2>
    <ul class="feed-list">
        <li><a href="#">Mario Rossi ha commentato il voto</a></li>
        <li><a href="#">Il voto è inserito nell'ordine del giorno N° 13516</a></li>
        <li><a href="#">Barcaiuolo, Pellacani, Bellei, Morandi, Santoro (PdL) hanno presentato la mozione...</a></li>
    </ul>
    <p class="bg-dark"><a href="#">Vedi tutti <i class="icon-chevron-down"></i></a></p>
{% endblock %}

{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.custom.css">
{% endblock %}

{% block head_js_includes_ie %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.ie.css">
{% endblock %}

{% block footer_js_includes %}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
{% endblock %}

{% block extra_js %}
    // http://jsfiddle.net/Zrz9t/2/

    // initialize events
    var events = [
    { Title: "Five K for charity", Date: new Date("02/03/2012") },
    { Title: "Dinner", Date: new Date("03/03/2012") },
    { Title: "Meeting with manager", Date: new Date("05/03/2012") }
    ];


    jQuery(document).ready(function($) {
    /* Italian initialisation for the jQuery UI date picker plugin. */
    /* Written by Antonello Pasella (antonello.pasella@gmail.com). */
    /* http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-it.js */

    $.datepicker.regional['it'] = {
    closeText: 'Chiudi',
    prevText: '&#x3c;Prec',
    nextText: 'Succ&#x3e;',
    currentText: 'Oggi',
    monthNames: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno','Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre'],
    monthNamesShort: ['Gen','Feb','Mar','Apr','Mag','Giu','Lug','Ago','Set','Ott','Nov','Dic'],
    dayNames: ['Domenica','Luned&#236','Marted&#236','Mercoled&#236','Gioved&#236','Venerd&#236','Sabato'],
    dayNamesShort: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],
    dayNamesMin: ['Do','Lu','Ma','Me','Gi','Ve','Sa'],
    weekHeader: 'Sm',
    dateFormat: 'dd/mm/yy',
    firstDay: 1,
    isRTL: false,
    showMonthAfterYear: false,
    yearSuffix: ''};

    $.datepicker.setDefaults($.datepicker.regional['it']);

    // Load Datepicker
    $('.calendar').datepicker({
    inline: true,
    beforeShowDay: function(date) {
    var result = [true, '', null];
    var matching = $.grep(events, function(event) {
    return event.Date.valueOf() === date.valueOf();
    });

    if (matching.length) {
    result = [true, 'highlight', null];
    }
    return result;
    },
    onSelect: function(dateText) {
    var date,
    selectedDate = new Date(dateText),
    i = 0,
    event = null;

    while (i < events.length && !event) {
    date = events[i].Date;

    if (selectedDate.valueOf() === date.valueOf()) {
    event = events[i];
    }
    i++;
    }
    if (event) {
    alert(event.Title);
    }
    }
    });
    });

{% endblock %}