{% extends 'base_two_columns.html' %}
{% load monitoring_tags %}
{% load thumbnail %}
{% load popover_info %}

{% block title %}Politici | {{ group.name }}{% endblock title %}
{% block content_header %}Organi politici{% endblock %}
{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block sub_nav %}
    {%  include 'commons/subnav.html' with active='Gruppi' %}
{% endblock %}

{% block content %}

    <section>
        <h2 class="group-name-and-logo">
            {% thumbnail group.img "50x50" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            {{ group.name }} ({{ group.acronym }})
        </h2>
        <p>
            I dati si riferiscono alle votazioni svolte in Consiglio.<br/>
            Non vengono calcolate le presenze alle sedute né se l'assenza abbia motivazioni politiche.
        </p>
        {% if group.resources|length > 0 %}
            <address>
                {% for r in group.resources %}
                    {% if r.resource_type == 'URL' %}
                        {% if 'http://' not in r.value %}
                            {{ r.description }}: <a href="http://{{ r.value }}">{{ r.value }}</a><br/>
                        {% else %}
                            {{ r.description }}: <a href="{{ r.value }}">{{ r.value }}</a><br/>
                        {% endif %}
                    {% else %}
                        {% if r.resource_type == 'EMAIL' %}
                            <a href="mailto:{{ r.value }}">{{ r.value }}</a><br/>
                        {% else %}
                            {{ r.value }}<br/>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </address>
        {% endif %}

        <div class="row-fluid">
            <table id="consiglieri-gruppo" class="data">
                <thead>
                <tr>
                    <th></th>
                    <th class="text-left span4">Politico</th>
                    <th class="span2">Presenze</th>
                    <th class="span2">Voti ribelli</th>
                    <th class="span2">Atti</th>
                    <th class="span2">Interventi {% popover_info 'interventi-consiglieri' %}</th>
                    <th class="span2">Monitorato</th>
                </tr>
                </thead>
                <tbody>
                {% if group.leader %}
                    {% include 'people/counselor_table_row.html' with charge=group.leader.charge.charge is_in_group=1 label="Capogruppo" id_prefix="0" %}
                {% endif %}
                {% if group.deputy %}
                    {% include 'people/counselor_table_row.html' with charge=group.deputy.charge.charge is_in_group=1 label="Vice-capogruppo" id_prefix="1" %}
                {% endif %}
                {% for c in group.alpha_members %}
                    {%  include 'people/counselor_table_row.html' with charge=c is_in_group=1 id_prefix="2" %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>

{% endblock %}

{% block sidebar %}
    <h2>Tutti i gruppi</h2>
    <ul class="list-plain">
        {% for g in groups %}
            {% if g.id == group.id %}
                <li><strong>{{ g.name }}</strong>: ({{ g.acronym }})</li>
            {%  else %}
                <li><a href="{{ g.get_absolute_url }}"><strong>{{ g.name }}</strong>: ({{ g.acronym }})</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}


{% block footer_js_includes %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.submitlink.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript">
    	fullname_extract = function(node) {
    		name = $(".person_name", node).text();
    		return name
    	}
    	
    	function hasRole(node, role_check) {
    		role_node = $(".person_label", node);
    		
    		if (role_node)
    		{
    			return role_node.text() == role_check;
    		}
    		else
    		{
    			return false;
    		}
    	}
    	
    	sort_fullname_asc = function(a,b) {
    		
    		a = $.parseHTML(a);
    		b = $.parseHTML(b);
    		
    		var a_isPresident = hasRole(a, "Presidente");
    		var a_isVicePresident = hasRole(a, "Vice presidente");
    		var b_isPresident = (! a_isPresident) && hasRole(b, "Presidente");
    		var b_isVicePresident = (! a_isVicePresident) && hasRole(b, "Vice presidente");
    		
    		var a_name = fullname_extract(a);
    		var b_name = fullname_extract(b);
    		
            if (a_isPresident)
            {
            	return -1
            }
            else if (b_isPresident)
           	{
           		return 1;
           	}
           	else if (a_isVicePresident)
         	{
         		return -1;		
         	}
           	else if (b_isVicePresident)
           	{
           		return 1;
           	}
           	else if (a_name < b_name)
           	{
           		return -1;
           	}
           	else if (a_name > b_name)
           	{
           		return 1;
           	}
           	else
           	{
           		return 0	
           	}
        };
    	
        sort_acts_asc = function(node_a,node_b) {

    		acts_a = parseInt($(node_a).text().replace(/^\s+|\s+$/g, ""));
            acts_b = parseInt($(node_b).text().replace(/^\s+|\s+$/g, ""));

            if (acts_a < acts_b)
            {
                res = -1;
            }
            else if (acts_a == acts_b)
            {   
                res = 0;
            }
            else
            {
                res = 1;
            }

            return res;
        };

    	$.fn.dataTableExt.oSort['fullname-asc']  = sort_fullname_asc;
    	$.fn.dataTableExt.oSort['fullname-desc'] = function(a,b) {
    		return sort_fullname_asc(b, a);
    	};

        $.fn.dataTableExt.oSort['acts-asc'] = sort_acts_asc;
        $.fn.dataTableExt.oSort['acts-desc'] = function(a,b) {
            return sort_acts_asc(b, a);
        };
    
        percentage_extract = function(match, $1, offset, original) { return $1; }

       	sort_percentage_asc = function(a,b) {
            var x_str = a.replace(/\D*?(\d*)%/, percentage_extract);
            var y_str = b.replace(/\D*?(\d*)%/, percentage_extract);
            var x = (!x_str || 0 === x_str.length) ? 0 : parseInt(x_str);
            var y = (!y_str || 0 === y_str.length) ? 0 : parseInt(y_str);
            var res = ((x < y) ? -1 : ((x > y) ?  1 : 0));
            return res;
        };
        
        $.fn.dataTableExt.oSort['percentage-asc']  = sort_percentage_asc; 

        $.fn.dataTableExt.oSort['percentage-desc'] = function(a,b) {
        	return sort_percentage_asc(b, a);
        };

        $(document).ready(function() {
            gTable = $('#consiglieri-gruppo').dataTable({
                bFilter: false,
                aoColumns: [
                    null,
                    { sType: "fullname", asSorting: ['desc', 'asc']},
                    { sType: "percentage", asSorting: ['desc', 'asc']},
                    {asSorting: ['desc', 'asc']},
                    { sType: "acts", asSorting: ['desc', 'asc']},
                    { sType: "acts", asSorting: ['desc', 'asc']},
                    {asSorting: ['desc', 'asc']}
                ],
                bPaginate: false,
                bLengthChange: false,
                bSort: true,
                bInfo: false,
                bAutoWidth: false,
                aoColumnDefs:[
                    { bSearchable: false, bVisible: false, aTargets: [0] }
                ],
                oLanguage: {
                    sSearch: "Ricerca",
                    sZeroRecords: "Nessun risultato per questa ricerca"
                },
                aaSorting: [[ 1, "asc" ]]

            });
        });

    </script>
{% endblock %}
