{% extends 'base_two_columns.html' %}

{% load om_utils %}
{% load monitoring_tags %}
{% load thumbnail %}


{% block title %}Organi politici | Consiglio{% endblock title %}
{% block content_header %}Consiglio{% endblock %}
{% block institutions_class %}active{% endblock %}

{% block content %}

  <h2>Consiglio</h2>
  <ul class="list-floated clearfix unstyled party-people">
    <!-- president -->
    <li>
      <a href="{{ president.charge.get_absolute_url }}">
        <strong>{{ president.charge.person.first_name }} {{ president.charge.person.last_name }}</strong>
        ({{ president.charge.council_group.acronym }})
      </a><br/>
      {{ president.get_charge_type_display }}
    </li>

    <!-- mayor -->
    <li>
      <a href="{{ mayor.get_absolute_url }}">
        <strong>{{ mayor.person.first_name }} {{ mayor.person.last_name }}</strong>
      </a><br/>Sindaco
    </li>

    <!-- vice presidents -->
    {% for vice_president in vicepresidents %}
      <li>
        <a href="{{ vice_president.charge.get_absolute_url }}">
          <strong>{{ vice_president.charge.person.first_name }} {{ vice_president.charge.person.last_name }}</strong>
          ({{ vice_president.charge.council_group.acronym }})
        </a><br/>
        {{ vice_president.get_charge_type_display }}
      </li>
    {% endfor %}

  </ul>

  <hr class="big">

  <section>
    {% for group in groups %}
      {% if group.is_current %}
        <div class="party-people">
          <h2>
              {% thumbnail group.img "50x50" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
            {{ group.name }} ({{ group.acronym }})
          </h2>
          {% if group.resources|length > 0 %}
          <address>
            {% for r in group.resources %}
              {% if r.resource_type == 'URL' %}
                {% if 'http://' not in r.value %}
                  {{ r.description }}: <a href="http://{{ r.value }}">{{ r.value }}</a><br/>
                {% else %}
                  {{ r.description }}: <a href="{{ r.value }}">{{ r.value }}</a><br/>
                {% endif %}
              {% else %}
                {% if r.resource_type == 'EMAIL' %}
                  <a href="mailto:{{ r.value }}">{{ r.value }}</a><br/>
                {% else %}
                  {{ r.value }}<br/>
                {% endif %}
              {% endif %}
            {% endfor %}
          </address>
          {% endif %}

          <div class="row-fluid">
            {% comment %}Group leaders{% endcomment %}
            <div class="span6">
              <p>
                <a href="{{ group.leader.charge.charge.get_absolute_url }}">
                  <strong>{{ group.leader.charge.charge.person }}</strong>
                </a><br/>
                {{ group.leader.get_charge_type_display }}
              </p>
              {% if group.deputy.charge.charge %}
              <hr>
              <p>
                <a href="{{ group.deputy.charge.charge.get_absolute_url }}">
                  <strong>{{ group.deputy.charge.charge.person }}</strong>
                </a><br/>
                {{ group.deputy.get_charge_type_display }}
              </p>
              {% endif %}
            </div>
            {% comment %}Group peoples{% endcomment %}
            <div class="span6">
              <ul class="unstyled">
                {% for counselor in group.alpha_members %}
                  <li>
                    <a href="{{ counselor.get_absolute_url }}">
                      <strong>{{ counselor.person }}</strong>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <hr class="big">
      {% endif %}
    {% endfor %}
  </section>

  <section>
    <h3>Agenda del Consiglio</h3>
    {% include 'commons/calendar.html' with events=events %}
    {% comment %}
    <div class="calendar_container">
      <div class="row-fluid">
        <div class="span4">
          <div class="calendar" data-events=".calendar_events"></div>
        </div>
        <div class="span8">
          <ul class="data-list calendar_events">
            {% for event in events %}
              {% if not event.is_past_due %}
                <li data-day="{{ event.date|date:"m/d/Y" }}"><strong>{{ event.date|date:"d.m.Y" }}</strong> <a href="{{ event.act.downcast.get_absolute_url }}">{{ event.act.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endcomment %}
  </section>

{% endblock %}

{% block sidebar %}
  <h2>Commissioni</h2>
  <ul class="list-plain">
      {% for committee in committees %}
      <li><a href="{{ committee.get_absolute_url }}"><strong>{{ committee.name }}</strong>: {{ committee.description|truncatewords:3 }}</a></li>
      {% endfor %}
  </ul>

  <hr>

  <h2>Ultimi 3 atti del Consiglio</h2>
  <ul class="list-plain">
    {% for act in latest_acts %}
    <li><strong><a href="{{ act.get_absolute_url }}">{{ act.title }}</a></strong>

      {% object_inline_monitoring act.downcast %}

    </li>
    {% endfor %}
  </ul>

  <hr>

  <h2>Atti del Consiglio</h2>
  <table class="stats">
    <tr>
      <td>{{ num_acts.deliberation|circled:"colored" }}</td>
      <th class="span6">Delibere</th>
      <td>{{ num_acts.interrogation|circled:"colored" }}</td>
      <th class="span6">Interrogazioni</th>
    </tr>
    <tr>
      <td>{{ num_acts.motion|circled:"colored" }}</td>
      <th class="span6">Mozioni</th>
      <td>{{ num_acts.agenda|circled:"colored" }}</td>
      <th class="span6">Ordini del giorno</th>
    </tr>
    <tr>
      <td>{{ num_acts.interpellation|circled:"colored" }}</td>
      <th colspan="3">Interpellanze</th>
    </tr>
  </table>

  <hr>


  {% include 'commons/news_list.html' with news_list=FILLME news_title='Ultime sul Consiglio' %}
{% endblock %}


{% block footer_js_includes %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.submitlink.js"></script>
{% endblock %}

