{% extends 'base_two_columns.html' %}
{% load monitoring_tags %}
{% load thumbnail %}

{% block title %}Politici | {{ group.name }}{% endblock title %}
{% block content_header %}Organi politici{% endblock %}
{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block sub_nav %}
    {%  include 'commons/subnav.html' with active='Gruppi' %}
{% endblock %}

{% block content %}

    <section>
        <h2>
            {% thumbnail group.img "50x50" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            {{ group.name }} ({{ group.acronym }})
        </h2>
        {% if group.resources|length > 0 %}
            <address>
                {% for r in group.resources %}
                    {% if r.resource_type == 'URL' %}
                        {% if 'http://' not in r.value %}
                            {{ r.description }}: <a href="http://{{ r.value }}">{{ r.value }}</a><br/>
                        {% else %}
                            {{ r.description }}: <a href="{{ r.value }}">{{ r.value }}</a><br/>
                        {% endif %}
                    {% else %}
                        {% if r.resource_type == 'EMAIL' %}
                            <a href="mailto:{{ r.value }}">{{ r.value }}</a><br/>
                        {% else %}
                            {{ r.value }}<br/>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </address>
        {% endif %}

        <div class="row-fluid">
            <table id="consiglieri-gruppo" class="data">
                <thead>
                <tr>
                    <th></th>
                    <th class="text-left span4">Politico</th>
                    <th class="span2">Presenze</th>
                    <th class="span2">Ribellioni</th>
                    <th class="span2">Atti</th>
                    <th class="span2">Monitorato</th>
                </tr>
                </thead>
                <tbody>
                {% if group.leader %}
                    {% include 'people/counselor_table_row.html' with charge=group.leader.charge.charge is_in_group=1 label="Capogruppo" id_prefix="0" %}
                {% endif %}
                {% if group.deputy %}
                    {% include 'people/counselor_table_row.html' with charge=group.deputy.charge.charge is_in_group=1 label="Vice-capogruppo" id_prefix="1" %}
                {% endif %}
                {% for c in group.alpha_members %}
                    {%  include 'people/counselor_table_row.html' with charge=c is_in_group=1 id_prefix="2" %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>

{% endblock %}

{% block sidebar %}
    <h2>Tutti i gruppi</h2>
    <ul class="list-plain">
        {% for g in groups %}
            {% if g.id == group.id %}
                <li><strong>{{ g.name }}</strong>: ({{ g.acronym }})</li>
            {%  else %}
                <li><a href="{{ g.get_absolute_url }}"><strong>{{ g.name }}</strong>: ({{ g.acronym }})</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}


{% block footer_js_includes %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.submitlink.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        percentage_extract = function(match, $1, offset, original) { return $1; }

        $.fn.dataTableExt.oSort['percentage-asc']  = function(a,b) {
            var x = parseInt(a.replace(/\D*?(\d*)%/, percentage_extract));
            var y = parseInt(b.replace(/\D*?(\d*)%/, percentage_extract));
            return ((x < y) ? -1 : ((x > y) ?  1 : 0));
        };

        $.fn.dataTableExt.oSort['percentage-desc'] = function(a,b) {
            var x = parseInt(a.replace(/\D*?(\d*)%/, percentage_extract));
            var y = parseInt(b.replace(/\D*?(\d*)%/, percentage_extract));
            return ((x < y) ?  1 : ((x > y) ? -1 : 0));
        };


        $(document).ready(function() {
            gTable = $('#consiglieri-gruppo').dataTable({
                bFilter: false,
                aoColumns: [
                    null,
                    null,
                    { sType: "percentage", asSorting: ['desc', 'asc']},
                    {asSorting: ['desc', 'asc']},
                    {asSorting: ['desc', 'asc']},
                    {asSorting: ['desc', 'asc']}
                ],
                bPaginate: false,
                bLengthChange: false,
                bSort: true,
                bInfo: false,
                bAutoWidth: false,
                aoColumnDefs:[
                    { bSearchable: false, bVisible: false, aTargets: [0] }
                ],
                oLanguage: {
                    sSearch: "Ricerca",
                    sZeroRecords: "Nessun risultato per questa ricerca"
                }

            });
        });

    </script>
{% endblock %}
