{% extends 'base_two_columns.html' %}
{% load popover_info %}
{% block title %}Politici | Gruppi{% endblock title %}
{% block content_header %}Politici{% endblock %}
{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block sub_nav %}
    {%  include 'commons/subnav.html' with active='Gruppi' %}
{% endblock %}

{% block content %}
    <h2>Gruppi {% popover_info 'gruppi-del-consiglio' %}</h2>
    <div class="party-people">
        <div class="row-fluid">
            <div class="span12">
                <ul class="unstyled">
                    {% for group in groups %}
                        <li><a href="{{ group.get_absolute_url }}"><strong>{{ group.name }}</strong> ({{ group.acronym }})</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
