{% extends 'base_two_columns.html' %}

{% load popover_info %}
{% load url from future %}
{% load om_utils %}

{% block title %}Organi politici | Commissioni{% endblock title %}
{% block content_header %}Organi politici{% endblock %}
{% block institutions_class %}active{% endblock %}

{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block sub_nav %}
    {%  include 'people/_subnav.html' with active='Commissioni' %}
{% endblock %}

{% block content %}
    <h2>Commissioni {% popover_info 'commissioni-del-consiglio' %}</h2>

    <table id="commissioni" class="data dataTable">
      <thead>
      <tr>
          <th class="span1">Commissione</th>
          <th>Descrizione</th>
      </tr>
      </thead>
      <tbody>
        {% for committee in committees %}

        <tr>
          <!-- number -->
          <td><a href="{{ committee.get_absolute_url }}">{{ committee.short_name|circled:"full" }}</a></td>

          <!-- description -->
          <td><a href="{{ committee.get_absolute_url }}"><strong>{{ committee.description }}</strong></a></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <section>
        {% include 'commons/calendar.html' with events=events %}
    </section>
{% endblock %}
