{% load popover_info %}
{% load url from future %}

  {% if charge.is_counselor %}

    {% if charge.can_vote %}
    <section>
      <h2>Presenze (<a href="{% url 'om_votation_search' %}?q=&charge={{ charge.id }}">{{ n_total_votations }} votazion{{ n_total_votations|pluralize:"e,i" }}</a>)</h2>
      <p>
          I dati si riferiscono alle votazioni svolte in Consiglio.<br/>
          Non vengono calcolate le presenze alle sedute né se l'assenza abbia motivazioni politiche.
      </p>
      <div class="meter-bar float-container">
        <div class="meter-bar-container">
          <label>Presenze</label>
          <div class="meter-label"><strong class="green">{{ percentage_present_votations }}%</strong>&nbsp;(<a href="{% url 'om_votation_search' %}?q=&charge_present={{ charge.id }}">{{ charge.n_present_votations }}</a>)</div>
          <div class="green-meter-bar">
            <div style="left: {{ percentage_present_votations_average }}%;" class="meter-average"><label>valore medio: {{ percentage_present_votations_average }}%</label>&nbsp;</div>
            <div style="width: {{ percentage_present_votations }}%;" class="meter-value">&nbsp;</div>
          </div>
        </div>
        <div class="meter-bar-container">
          <label>Assenze</label>
          <div class="meter-label"><strong class="red">{{ percentage_absent_votations }}%</strong>&nbsp;(<a href="{% url 'om_votation_search' %}?q=&charge_absent={{ charge.id }}">{{ charge.n_absent_votations }}</a>)</div>
          <div class="red-meter-bar">
            <div style="left: {{ percentage_absent_votations_average }}%;" class="meter-average"><label>valore medio: {{ percentage_absent_votations_average }}%</label>&nbsp;</div>
            <div style="width: {{ percentage_absent_votations }}%;" class="meter-value">&nbsp;</div>
          </div>
        </div>
      </div>

      <p><i class="icon-play"></i> <a href="{% url 'om_votation_search' %}?q=&charge={{ charge.id }}">Vedi tutte le votazioni del suo mandato</a></p>

    </section>

    <hr class="big">

      <section>
        <h2>Voti chiave {% popover_info 'voti-chiave' %}</h2>
        {% include 'people/charge_votations_table.html' with charge_vote_list=current_charge_votes %}
        <p><i class="icon-play"></i> <a href="{% url 'om_votation_search' %}?q=&charge={{ charge.id }}&selected_facets=is_key:sì">Vedi tutti i voti chiave del suo mandato</a></p>
      </section>

      <hr class="big">

      <section>
          <h2>Voti ribelli (<a href="{% url 'om_votation_search' %}?q=&charge_rebel={{ charge.id }}">{{ percentage_rebel_votations }}%</a>) {% popover_info 'voti-ribelli' %}</h2>
          <p>
              Ha votato <a href="{% url 'om_votation_search' %}?q=&charge_rebel={{ charge.id }}">
              {{ charge.n_rebel_votations }} volt{{ charge.n_rebel_votations|pluralize:"a,e" }}</a> ({{ percentage_rebel_votations }}% sul totale dei voti cui era presente) <strong>diversamente dal proprio gruppo</strong> di appartenenza.
          </p>

      {% if charge.n_rebel_votations > 0 %}
        {% include 'people/charge_votations_table.html' with charge_vote_list=current_charge_rebel_votes %}
      {% endif %}
      </section>

      <hr class="big">

    {% else %}
      <p>
          Consigliere senza diritto di voto
      </p>
    {% endif %}
  {% endif %}

  {% if n_presented_acts %}
      <section>
          <h2>Atti su cui lavora (<a href="{% url 'om_act_search' %}?q=&charge={{ charge.id }}">{{ n_presented_acts }}</a>) {% popover_info 'atti-su-cui-lavora' %}</h2>
            {% include 'acts/act_table_detail.html' with acts_list=presented_acts %}
      </section>

      <hr class="big">

      <section>
        {% include 'people/_politician_acts_table.html' with act_types=act_types %}

        <p><i class="icon-play"></i> <a href="{% url 'om_act_search' %}?q=&charge={{ charge.id }}">Vedi tutti gli atti su cui lavora</a></p>
      </section>
  {% endif %}

  {% if n_speeches %}
      <section>
          <h2>Interventi in Consiglio Comunale {% popover_info 'interventi-politico' %}</h2>

          <table class="data">
              <thead>
              <tr>
                  <th class="text-left span4">Seduta</th>
                  <th>Argomento</th>
                  <th class="span2">Intervento</th>
              </tr>
              </thead>
              <tbody>
              {% for speech in speeches %}
                  <tr>
                    {% with sitting=speech.sitting_item.sitting %}
                      <td>Seduta num. {{ sitting.number }} del {{ sitting.date|date:"d/m/Y" }}</td>
                    {% endwith %}
                      <td>{{ speech.sitting_item.title }}</td>
                      <td>
                        <a href="{{ speech.get_absolute_url }}">Leggi intervento</a><br/>
                        <a href="{{ speech.sitting_item.get_absolute_url }}">Leggi discussione</a>
                      </td>
                  </tr>
              {% endfor %}

        </table>
        <p><i class="icon-play"></i> <a href="{% url 'om_speech_search' %}?q=&charge={{ charge.id }}">Vedi tutti gli interventi</a></p>

      </section>
  {% endif %}
