{% load thumbnail %}

<a href="{{ politician.person.get_absolute_url }}">
    {% thumbnail politician.person.img "50x50" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
</a>
<div>

  <a href="{{ politician.person.get_absolute_url }}"><strong>{{ politician.person|title }}</strong></a>

  <span class="inline-block">{% if what %}{{ value }} {{ what }}{% else %}{{ value }}{% endif %}</span>

  <br>

  {{ politician.council_group }}

</div>