{% extends "base_two_columns.html" %}
{% load i18n %}
{% load comments %}
{% load voting_tags %}
{% load om_utils %}
{% load thumbnail %}
{% load monitoring_tags %}


{% block title %}Dettaglio {{ person }}{% endblock %}
{% block content_header %}Politico{% endblock %}
{% block body_class %}politician{% endblock %}
{% block people_class %}class="active"{% endblock %}

{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/meter-bar.css" />
{% endblock head_css_includes %}

{% block head_js_includes %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/ajax_csrf.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}js/jquery.submitlink.js" stype="text/javascript"></script>
{% endblock head_js_includes %}

{% block content %}

  <div class="row-fluid">
    <div class="span8">

      <header class="clearfix">
        {% thumbnail person.img "100x100" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumb-left">
        {% endthumbnail %}
        <h1>
          {% if person.is_om_user %}
            <i class="icon-ok" title="{{ person }} è iscritto a Open municipio"></i>
          {% endif %}
          {{ person }}
        </h1>
        {% for c in current_charges %}
          <p>{{ c.institution }}</p>
        {% endfor %}

        <p>
          {% if resources.EMAIL %}
            <a href="mailto:{{ resources.EMAIL.value }}">{{ resources.EMAIL.value }}</a>
          {% endif %}
          <br>
          {% if resources.PHONE %}
            T.{{ resources.PHONE.value }}
          {% endif %}
          {% if resources.FAX %}
            F.{{ resources.FAX.value }}
          {% endif %}
        </p>
      </header>

      {% if current_charges and historical_groupcharges %}
      <h4>Lista di elezione</h4>
      <ul class="list-plain">
        {% for c in current_charges %}
          {% if c.current_groupcharge %}
            <li>
              <strong>{{ c.current_groupcharge }}</strong>
              dal {{ c.current_groupcharge.start_date|date:"d.m.Y" }}
            </li>
          {% endif %}
          {% for gc in c.historical_groupcharges %}
            <li>
              <strong>{{ gc }}</strong>
              dal {{ gc.start_date|date:"d.m.Y" }}
              al {{ gc.end_date|date:"d.m.Y" }}
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}

      {% if current_committee_charges %}
      <ul class="list-plain">
        {% for c in current_committee_charges %}
          <li>{{ c.denomination }} {{ c.institution }}:
            <em>{{ c.institution.description }}</em></li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if current_charges %}
      <h4>Incarichi istituzionali</h4>
      <ul class="list-plain">
        {% for c in current_charges %}
          <li><strong>{{ c.denomination }}</strong> dal {{ c.start_date|date:"d.m.Y" }}{% if c.end_date %} al {{ c.end_date|date:"d.m.Y" }}{% endif %}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="span4">
      <img src="{{ STATIC_URL }}img/placehold/social.png" alt="">
      <ul class="person-resources">
        {% if resources.URL %}
          <li><a class="website" href="{{ resources.URL.value }}">Sito web</a></li>
        {% endif %}
        {% if resources.FACEBOOK %}
          <li><a class="facebook" href="{{ resources.FACEBOOK.value }}">Pagina Facebook</a></li>
        {% endif %}
        {% if resources.TWITTER %}
          <li><a class="twitter" href="{{ resources.TWITTER.value }}">Profilo Twitter</a></li>
        {% endif %}
        {% if resources.OPENPOLIS %}
          <li><a class="openpolis" href="{{ resources.OPENPOLIS.value }}">Pagina su Openpolis</a></li>
        {% endif %}

      </ul>
    </div>

  </div>

  <hr class="big">

  {% if person.counselor_charge %}
    <section>
      <h2>Presenze ({{ person.counselor_charge.n_total_votations }} votazion{{ person.counselor_charge.n_total_votations|pluralize:"e,i" }})</h2>

      <div class="meter-bar float-container">
        <div class="meter-bar-container">
          <label>Presenze</label>
          <div class="meter-label"><strong class="green">{{ person.counselor_charge.percentage_present_votations }}%</strong>&nbsp;({{ person.counselor_charge.n_present_votations }})</div>
          <div class="green-meter-bar">
            <div style="left: {{ percentage_present_votations_average }}%;" class="meter-average"><label>valore medio: {{ percentage_present_votations_average }}%</label>&nbsp;</div>
            <div style="width: {{ person.counselor_charge.percentage_present_votations }}%;" class="meter-value">&nbsp;</div>
          </div>
        </div>
        <div class="meter-bar-container">
          <label>Assenze</label>
          <div class="meter-label"><strong class="red">{{ person.counselor_charge.percentage_absent_votations }}%</strong>&nbsp;({{ person.counselor_charge.n_absent_votations }})</div>
          <div class="red-meter-bar">
            <div style="left: {{ percentage_absent_votations_average }}%;" class="meter-average"><label>valore medio: {{ percentage_absent_votations_average }}%</label>&nbsp;</div>
            <div style="width: {{ person.counselor_charge.percentage_absent_votations }}%;" class="meter-value">&nbsp;</div>
          </div>
        </div>
      </div>
    </section>
    <hr class="big">
  {% endif %}

  <section>
    <h2>Voti nelle votazioni chiave</h2>

    <table class="data">
      <thead>
      <tr>
        <th>Data</th>
        <th>Atto</th>
        <th class="text-center">Voto</th>
        <th class="text-center">Esito</th>
      </tr>
      </thead>
      <tbody>
      {% for charge_vote in current_charge_votes %}
        <tr>
          <td>{{ charge_vote.votation.sitting.date }}</td>
          <td><a href="{{ charge_vote.votation.act.downcast.get_absolute_url }}"><strong>{{ charge_vote.votation.act.title }}</strong></a></td>
          <td class="text-center"><span class="label
                                                       {% if charge_vote.get_vote_display == "Sì" %}label-success{% else %}
                                                       {% if charge_vote.get_vote_display == "No" %}label-important{% endif %}{% endif %}
                                                                                                 ">{{ charge_vote.get_vote_display }}</span></td>
          <td class="text-center"><span class="label
                                                       {% if charge_vote.votation.get_outcome_display == "Accettato" %}label-success{% else %}
                                                       {% if charge_vote.votation.get_outcome_display == "Respinto" %}label-important{% endif %}{% endif %}
                                                                                                 ">{{ charge_vote.votation.get_outcome_display }}</span></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <p><i class="icon-play"></i> <a href="#">Vedi tutti i voti chiave</a></p>
  </section>

  <hr class="big">

  <section>
    <h2>Atti su cui lavora</h2>

    <table class="data">
      <thead>
      <tr>
        <th class="text-left span5">Atto</th>
        <th>Stato</th>
        <th>Voti degli utenti</th>
        <th>Commenti</th>
      </tr>
      </thead>
      <tbody>
      {% for c in current_charges %}
        {% for act in c.presented_acts %}
          <tr>
            <td><a href="{{ act.get_absolute_url }}"><strong>{{ act.title }}</strong> ({{ act.idnum }})</a></td>
            <td class="text-center">

              {% if not act.is_final_status %}
                <span class="label">In esame</span>
              {% else %}
                <span class="label
                    {% if act.status == "APPROVED" or act.status == "ANSWERED" %}label-success
                    {% else %}{% if act.status == 'REJECTED' or act.status == "NOTANSWERED" %}label-important
                    {% endif %}{% endif %} ">{{ act.get_status_display }}</span>
              {% endif %}
            </td>
            {% votes_for_object act as act_num_votes %}
            <td class="text-center">
              <span class="label label-success">{{ act_num_votes.upvotes }}</span>
              <span class="label label-important">{{ act_num_votes.downvotes }}</span>
            </td>
            {% get_comment_count for act as comment_count %}
            <td class="text-center"><a href="{{ act.get_absolute_url }}"><strong>{{ comment_count }}</strong></a></td>
          </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
    <p><i class="icon-play"></i> <a href="#">Vedi tutti gli atti su cui lavora</a></p>

  </section>

    {% load web_services_tags %}
    {% share person %}
{% endblock %}

{% block sidebar %}

  <section><h3>Monitora</h3>
      {% object_monitoring person %}
  </section>

  <hr>

  <section><h3>Argomenti di cui si occupa</h3>
    <dl class="taxonomy-cloud">

      {% regroup person_topics by category as categorized_topics %}
      {% for grouped_tags in categorized_topics %}
        <dt><a href="{{ grouped_tags.grouper.get_absolute_url }}">{{ grouped_tags.grouper.name }}</a></dt>
        {% for topic in grouped_tags.list %}
          {% if topic.tag %}
            <dd><a href="{{ topic.tag.get_absolute_url }}">{{ topic.tag }}</a></dd>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </dl>
  </section>

  <hr>

  {% include 'commons/news_list.html' with news_list=FILLME news_title='Ultime su '|add:person.full_name %}
  <hr>
  {% include 'commons/news_list.html' with news_list=FILLME news_title='Ultime dalla community' %}

{% endblock %}
