{% load thumbnail %}
{% load people_tags %}

<a href="{{ politician.person.get_absolute_url }}">
    {% if politician.person.img %}
        {% thumbnail politician.person.img "50x50" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="politician-picture">
        {% endthumbnail %}
    {% else %}
        <img src="{{ STATIC_URL }}img/placehold/face_50.png" width="50" height="50" class="politician-picture">
    {% endif %}
</a>
<div>

<a href="{{ politician.person.get_absolute_url }}"><strong>{{ politician.person|title }}</strong></a><br/>

{% if date %}
  {% with past_group=politician|get_current_group:date curr_group=politician.person.get_current_group %}
    {% if past_group %}
      {{ past_group|group_name }}
      {% if curr_group and past_group != curr_group %}
        (oggi {{ curr_group|group_name }})
      {% endif %}
      <br/>
    {% endif %}
  {% endwith %}
{% else %}
  {% with curr_group=politician.person.get_current_group %}
    {% if curr_group %}
      {{ curr_group|group_name }}
      <br/>
    {% endif %}
  {% endwith %}
{% endif %}

<span class="inline-block">{% if what %}{{ value }} {{ what }}{% else %}{{ value }}{% endif %}</span>

</div>
