{% extends "base_two_columns.html" %}

{% load om_utils %}
{% load thumbnail %}
{% load popover_info %}

{% block title %}Consiglio{% endblock %}
{% block content_header %}Consiglio {% endblock %}
{% block sitting_class %}class="active"{% endblock %}
{% block body_class %}votations{% endblock %}

{% block content_header_city_logo %}
  <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block sub_nav %}
    {% include 'people/_sitting_subnav.html' with active='Calendario' %}
{% endblock %}

{% block head_css_includes %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/sitting.css" />
{% endblock %}

{% block footer_js_includes %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
{% endblock footer_js_includes %}

{% block content %}

  {% include 'people/_sitting_calendar_top.html' with sitting_years=sitting_years curr_year=year %}

  <section>
    <ul class="nav nav-tabs page-tabs">
      <li class="active"><a data-toggle="tab" href="#sittings_council_tab">Consiglio</a></li>
      <li><a data-toggle="tab" href="#sittings_citygov_tab">Giunta</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="sittings_council_tab">
        {% include 'people/_sitting_calendar_table.html' with sittings=sittings_council %}
      </div>
      <div class="tab-pane" id="sittings_citygov_tab">
        {% include 'people/_sitting_calendar_table.html' with sittings=sittings_citygov %}
      </div>
    </div>
  </section>

{% endblock %}

{% block sidebar %}
    <h2>I prossimi appuntamenti</h2>
    {% include "commons/calendar.html" with events=events %}
{% endblock %}
