{% extends "base_two_columns.html" %}

{% load om_utils %}
{% load thumbnail %}
{% load popover_info %}
{% load sittings_council_by_year %}

{% block title %}Consiglio{% endblock %}
{% block content_header %}Consiglio {% endblock %}
{% block people_class %}class="active"{% endblock %}
{% block body_class %}politician{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block sub_nav %}
    {% include 'commons/subnav.html' with active='Consiglio' %}
{% endblock %}

{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sitting.css" />
{% endblock %}

{% block content %}

    {% if UI_SITTINGS_CALENDAR %}
      {% include 'people/sitting_calendar_top.html' %}
    {% endif %}
    
    <h2 style="background:#72C056; padding: 10px; margin-top: 10px; margin-bottom: 10px; text-align:center; width: 60px; font-weight: bolder; color: white" >{{ params.year }}</h2>

    <table class="sittings-year" >
        <tr>
            <td><div class="sittings-year-month">Gennaio</div>
                {% print_sittings_council_list params.year 1 %}
            </td>
            <td><div class="sittings-year-month">Febbraio</div>
                {% print_sittings_council_list params.year 2 %}
            </td>
            <td><div class="sittings-year-month">Marzo</div>
                {% print_sittings_council_list params.year 3 %}
            </td>
        </tr>
        <tr>
            <td><div class="sittings-year-month">Aprile</div>
                {% print_sittings_council_list params.year 4 %}
            </td>
            <td><div class="sittings-year-month">Maggio</div>
                {% print_sittings_council_list params.year 5 %}
            </td>
            <td><div class="sittings-year-month">Giugno</div>
                {% print_sittings_council_list params.year 6 %}
            </td>
        </tr>
        <tr>
            <td><div class="sittings-year-month">Luglio</div>
                {% print_sittings_council_list params.year 7 %}
            </td>
            <td><div class="sittings-year-month">Agosto</div>
                {% print_sittings_council_list params.year 8 %}
            </td>
            <td><div class="sittings-year-month">Settembre</div>
                {% print_sittings_council_list params.year 9 %}
            </td>
        </tr>
        <tr>
            <td><div class="sittings-year-month">Ottobre</div>
                {% print_sittings_council_list params.year 10 %}
            </td>
            <td><div class="sittings-year-month">Novembre</div>
                {% print_sittings_council_list params.year 11 %}
            </td>
            <td><div class="sittings-year-month">Dicembre</div>
                {% print_sittings_council_list params.year 12 %}
            </td>
        </tr>
    </table>

{% endblock %}

{% block sidebar %}
    <h2>I prossimi appuntamenti</h2>
    {% include "commons/calendar.html" with events=events %}

    {% include "acts/speech_search_box.html" %}
{% endblock %}
