    <h2>Seduta num. {{ sitem.sitting.number }} del <a href="{{ sitem.sitting.get_absolute_url }}">{{ sitem.sitting.date }}</a></h2>

    <h3>{% if sitem_link %}<a href="{{ sitem.get_absolute_url }}">{{ sitem }}</a>{% else %}{{ sitem }}{% endif %}</h3>

    {% if pk_prev != None or pk_next != None %}

    <div class="sitting-nav">
        {% if pk_prev != None %}
            <a href="{% url om_sitting_detail pk=pk_prev %}">
        {% endif %}&lt;&lt; Precedente
        {% if pk_prev != None %}</a>{% endif %} |
        {% if pk_next != None %}
            <a href="{% url om_sitting_detail pk=pk_next %}">
        {% endif %}Successivo &gt;&gt;
        {% if pk_next != None %}</a>{% endif %}
    </div>
    
    {% endif %}
