{% extends "base_two_columns.html" %}

{% load om_utils %}
{% load thumbnail %}
{% load popover_info %}

{% load url from future %}
{% block title %}Consiglio{% endblock %}
{% block content_header %}Consiglio {% endblock %}
{% block sitting_class %}class="active"{% endblock %}
{% block body_class %}votations{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block sub_nav %}
    {% include 'people/_sitting_subnav.html' with active='Calendario' %}
{% endblock %}

{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sitting.css" />
{% endblock %}

{% block content %}

  {% include 'people/sitting_detail_section.html' with sitting=sitting %}

  {% if sitting_items.count > 0 %}
  <section>
    <h2>Argomenti ({{ sitting_items.count }})</h2>
    {% include 'people/sittingitem_list.html' with sitting_items=sitting_items %}
  </section>

  <hr class="big">
  {% endif %}

  {% if votations.count > 0 %}
  <section>
    <h2>Votazioni ({{ votations.count }})</h2>
    {% include 'people/sitting_votation_list.html' with votations=votations %}
  </section>
  {% endif %}

  {% if attendances.count > 0 %}
  <section>
    <h2>Argomenti ({{ attendances.count }})</h2>
    {% include 'people/sitting_attendance_list.html' with attendances=attendances %}
  </section>
  {% endif %}

{% endblock %}

{% block sidebar %}
    <h2>I prossimi appuntamenti</h2>
    {% include "commons/calendar.html" with events=events %}
{% endblock %}
