{% extends 'base_two_columns.html' %}

{% load newscache_tags %}
{% load monitoring_tags %}
{% load popover_info %}
{% load url from future %}

{% block title %}Argomento {{ topic }}{% endblock title %}
{% block content_header %}Argomento{% endblock %}
{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/tags.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block body_class %}tags{% endblock %}
{% block tags_class %}class="active"{% endblock %}

{% block sub_nav %}

  <nav class="navbar" id="sub-nav">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav">
          {% for t in topics %}
            <li {% ifequal t topic %} class="unpipe"{% endifequal %}>
              <a href="{{ t.get_absolute_url }}"{% if t == topic %} class="active"{% endif %}>{{ t }}</a>
            </li>
          {% endfor %}
          <li><a href="{% url 'om_location_list' %}">Territorio</a></li>
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}

{% block content %}

    <section>
    <h2><span class="colored">{{ topic|title }}</span></h2>

        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}">
            {{ n_acts }} atti</a> che trattano di {{ topic }}
        <br/><br/>

        <table class="data">
            <thead>
            <tr>
                <th class="text-left">Atti</th>
                <th><span class="label label-info">Conclusi</span></th></th>
                <th><span class="label label-warning">In esame</span></th>
{#                <th>Commissioni</th>#}
            </tr>
            </thead>
            <tbody class="text-center">
            <tr>
                <td class="text-left">Delibere di Giunta</td>
                <td>
                    {% if n_cgdeliberations %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:delibera di giunta">{{ n_cgdeliberations }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if n_cgdeliberations_nonfinal %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:delibera di giunta&selected_facets=is_proposal:sì">{{ n_cgdeliberations_nonfinal }}</a>
                    {% endif %}
                </td>
{#                <td></td>#}
            </tr>
            <tr>
                <td class="text-left">Delibere di Consiglio</td>
                <td>
                    {% if n_deliberations %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:delibera">{{ n_deliberations }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if n_deliberations_nonfinal %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:delibera&selected_facets=is_proposal:sì">{{ n_deliberations_nonfinal }}</a>
                    {% endif %}
                </td>
{#                <td></td>#}
            </tr>
            <tr>
                <td class="text-left">Mozioni</td>
                <td>
                    {% if n_motions %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:mozione">{{ n_motions }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if n_motions_nonfinal %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:mozione&selected_facets=is_proposal:sì">{{ n_motions_nonfinal }}</a>
                    {% endif %}
                </td>
{#                <td></td>#}
            </tr>
            <tr>
                <td class="text-left">Ordini del giorno</td>
                <td>
                    {% if n_agendas %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:ordine del giorno">{{ n_agendas }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if n_agendas_nonfinal %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:ordine del giorno&selected_facets=is_proposal:sì">{{ n_agendas_nonfinal }}</a>
                    {% endif %}
                </td>
{#                <td></td>#}
            </tr>
            <tr>
                <td class="text-left">Emendamenti</td>
                <td>
                    {% if n_amendments %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:emendamento">{{ n_amendments }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if n_amendments_nonfinal %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:emendamento&selected_facets=is_proposal:sì">{{ n_amendments_nonfinal }}</a>
                    {% endif %}
                </td>
{#                <td></td>#}
            </tr>
            <tr>
                <td class="text-left">Interrogazioni</td>
                <td>
                    {% if n_interrogations %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:interrogazione">{{ n_interrogations }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if n_interrogations_nonfinal %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:interrogazione&selected_facets=is_proposal:sì">{{ n_interrogations_nonfinal }}</a>
                    {% endif %}
                </td>
{#                <td></td>#}
            </tr>
            <tr>
                <td class="text-left">Interpellanze</td>
                <td>
                    {% if n_interpellations %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:interpellanza">{{ n_interpellations }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if n_interpellations_nonfinal %}
                        <a href="{% url 'om_act_search' %}?q=&{{ topic_type }}={{ topic.slug }}{{ facets }}&selected_facets=act_type:interpellanza&selected_facets=is_proposal:sì">{{ n_interpellations_nonfinal }}</a>
                    {% endif %}
                </td>
{#                <td></td>#}
            </tr>
            </tbody>
        </table>
    </section>


    {% load web_services_tags %}

{% block share %}
    {% share topic %}
{% endblock %}

{% endblock %}

{% block sidebar %}
  <section>
    <h2>Quando se ne discute</h2>

    {% include 'commons/calendar.html' with events=FILLME %}
  </section>

  <hr>

  <section><h2>Monitora {% popover_info 'monitoraggio' 'left' %}</h2>
    {% object_monitoring topic %}
    {% comment %}{% include 'monitoring/summary.html' with object=topic show_politicians=0 %}{% endcomment %}
  </section>

  <hr>

  {% if subtopics %}
  <section>
      <h2>Altri argomenti in {{ topic|title }} {% popover_info 'altri-argomenti' 'left' %}</h2>

      <dl class="taxonomy-cloud">
          {% for tag in subtopics %}
              <dd><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></dd>
          {% endfor %}
      </dl>
  </section>
  {% endif %}


  {% comment %}
    <hr>
    TODO resolve "Caught AttributeError while rendering: 'Category' object has no attribute 'related_news_set'"
    for Tag, Category and Location
    {% news_for_object topic as topic_news %}
    {% endcomment %}
  {% comment %}
    TODO: extract news for a topic
    {% include 'commons/news_list.html' with news_list=topic_news news_title="Ultime sull'Argomento" %}
  {% endcomment %}


    {% comment %}
    {% block head_css_includes %}
        {{ block.super }}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.custom.css">
        <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.ie.css"><![endif]-->
    {% endblock %}
    {% endcomment %}

{% endblock %}

{% block footer_js_includes %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/ajax_csrf.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery.submitlink.js" stype="text/javascript"></script>
{% endblock %}

