{% extends 'base_two_columns.html' %}

{% block title %}Argomento {{ topic }}{% endblock title %}
{% block content_header %}Argomenti{% endblock %}
{% block body_class %}tags{% endblock %}
{% block tags_class %}class="active"{% endblock %}

{% block sub_nav %}

    <nav class="navbar pipe-separators" id="sub-nav">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav">
                    {% for t in topics %}
                    <li{% if t == topic %} class="unpipe"{% endif %}>
                        <a href="{{ t.get_absolute_url }}"{% if t == topic %} class="active"{% endif %}>{{ t }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}

    <h1>{{ topic|title }}</h1>

    <section>
        <div class="row-fluid">
            <div class="span4">
                <div class="calendar_container">
                    <h3>Argomento sull'agenda politica</h3>
                    <div class="calendar" data-events=".calendar_events"></div>
                </div>
            </div>
            <div class="span8">
                <h4>Se ne discute</h4>

                <ul class="data-list calendar_events">
                    <li data-day="04/01/2012" id="04012012">
                        <b>01.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>
                    <li data-day="04/02/2012" id="04022012">
                        <b>02.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>
                    <li data-day="04/03/2012" id="04032012">
                        <b>03.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>
                    <li data-day="04/04/2012" id="04042012">
                        <b>04.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>
                    <li data-day="04/05/2012" id="04052012">
                        <b>05.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>
                    <li data-day="04/06/2012" id="04062012">
                        <b>06.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>
                    <li data-day="04/08/2012" id="04082012">
                        <b>08.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>
                    <li data-day="04/09/2012" id="04092012">
                        <b>09.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>
                    <li data-day="04/10/2012" id="04102012">
                        <b>10.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>
                    <li data-day="04/11/2012" id="04112012">
                        <b>11.04.2012</b><br>
                        <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>, <a href="#">Consiglio comunale</a>
                    </li>

                </ul>
            </div>
        </div>
    </section>

    <hr>

    <section>
        <h3>Atti che trattano di {{ topic }}</h3>

        <table class="data">
            <thead>
            <tr>
                <td>Atti</td>
                <td>Giunta</td>
                <td>Consiglio</td>
                <td>Commissioni</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Proposta di delibera</td>
                <td>23</td>
                <td>34</td>
                <td></td>
            </tr>
            <tr>
                <td>Delibera</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Mozioni</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Ordini del giorno</td>
                <td>12</td>
                <td>12</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Interrogazione</td>
                <td>23</td>
                <td>34</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Interpellanza</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
            </tbody>
        </table>
    </section>

    <hr>

    <section>
        <h3>Politici che si occupano dell'argomento</h3>

        <div class="row-fluid">
            {% comment %}
            {% load list_to_columns %}
            {% list_to_columns topic.monitoring_users as list 2 %}
            {% endcomment %}
            <div class="span6">
                <ul class="people-list border-right">
                    <li>
                        <img src="http://placehold.it/50">
                        <strong>Roberto Bianchi</strong> <br>
                        Partito democratico
                    <span class="monitoring">
                        Monitorato da 2 cittadini - <a href="#"><i class="socialicon-add"></i> Monitora</a>
                    </span>
                    </li>
                </ul>
            </div>
            <div class="span6">
                <ul class="people-list">
                    <li>
                        <img src="http://placehold.it/50">
                        <strong>Roberto Bianchi</strong> <br>
                        Partito democratico
                    <span class="monitoring">
                        Monitorato da 2 cittadini - <a href="#"><i class="socialicon-add"></i> Monitora</a>
                    </span>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    {% load web_services_tags %}
    {% share topic %}

{% endblock %}

{% block sidebar %}

    {% if topic.tags %}
    <section>
        <h3>Altri argomenti in {{ topic|title }}</h3>

        <ul class="tags-cloud">
            {% for tag in topic.tags %}
                <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a> <span>1</span></li>
            {% endfor %}
        </ul>
        <small>Il numero accanto al tag corrispondente alla quantità di atti taggati con questo argomento</small>
    </section>
    {% endif %}

    <section>
        <h3>Monitora</h3>

    </section>

{% endblock %}


{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.custom.css">
    <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.ie.css"><![endif]-->
{% endblock %}

{% block footer_js_includes %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.calendar.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.scrollto.js"></script>
{% endblock %}

