{% extends 'base_two_columns.html' %}
{% load popover_info %}
{% load monitoring_tags %}
{% load tags_cloud %}
{% load url from future %}

{% block content_header %}Argomenti{% endblock %}
{% block title %}Lista degli Argomenti{% endblock %}
{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/tags.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block body_class %}tags{% endblock %}
{% block tags_class %}class="active"{% endblock %}

{% block sub_nav %}

<nav class="navbar" id="sub-nav">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav">
                {% for c in categories %}
                    <li>
                        <a href="{{ c.get_absolute_url }}">{{ c }}</a>
                    </li>
                {% endfor %}
                <li><a href="{% url 'om_location_list' %}">Territori</a></li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}

  <dl id="topic_summary" class="clearfix">
    {% for category in categories %}
      <dl>
        <dt>
        <h3><a href="{{ category.get_absolute_url }}">{{ category|title }}</a></h3></dt>
        <dd>
          {% for tag in category.tags %}
            <a href="{{ tag.get_absolute_url }}">{{ tag|title }}</a>
            {% if not forloop.last %}, {% endif %}
          {% empty %}
            &hellip;
          {% endfor %}
        </dd>
      </dl>
    {% endfor %}
    <dl>
      <dt>
      <h3><a href="{% url 'om_location_list' %}">Territorio</a></h3>
      </dt>
      <dd>
        {% for location in locations %}
          <a href="{{ location.get_absolute_url }}">{{ location|title }}</a>
          {% if not forloop.last %}, {% endif %}
        {% empty %}
          &hellip;
        {% endfor %}
      </dd>
    </dl>
  </dl>

  <hr>

  <h2>Peso degli argomenti negli atti {% popover_info 'peso-degli-argomenti' %}</h2>

  {% tags_cloud tags_to_cloud %}

{% endblock %}

{% block sidebar %}

  <h2>Argomenti più monitorati {% popover_info 'argomenti-piu-monitorati' 'left' %}</h2>

  <ul class="topics-list">
    {% for tag in top_monitorized_tags %}
      <li>
        {% comment %}<span class="rank-value pull-right">{{ forloop.counter }}</span>{% endcomment %}
        <h3><a href="{{ tag.get_absolute_url }}">{{ tag.name|title }}</a></h3>
        {% object_inline_monitoring tag %}

      </li>
    {% endfor %}
  </ul>

{% endblock %}

{% block head_js_includes %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_csrf.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.submitlink.js"></script>
{% endblock %}
