{% extends "base_two_columns.html" %}
{% load i18n %}

{% block title %}| Dettaglio {{ votation }}{% endblock %}

{% block content_header %}Argomenti{% endblock %}

{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bookmarking.css" />
{% endblock head_css_includes %}

{% block footer_js_includes %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/ajax_csrf.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    {% if user.is_staff %}
        <script src="{{ STATIC_URL }}js/bookmarking.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
{% endblock footer_js_includes %}

{% block content %}
    <hgroup>
        <h2>
            {% if votation.act %}
            <strong>{{ votation.act_type }}</strong>
            del {{ votation.act.emitting_institution }} N° {{ votation.act.idnum }} del <span class="date">{{ votation.act.presentation_date|date:"d.m.Y" }}</span></small>
            {% else %}
            {{ votation.act_descr }}
            {% endif %}
        </h2>
{% load om_utils %}
{% load bookmarking_tags %}
        <h1><i id="{{ votation|as_token }}" class="bookmarkable {% is_key_class votation %}"></i>{{ votation.act.title }}</h1>
    </hgroup>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th class="text-center">Gruppi</th>
            <th>Favorevoli</th>
            <th>Contrari</th>
            <th>Astenuti</th>
            <th>Assenti</th>
            <th>In missione</th>
        </tr>
        </thead>
        <tbody>
            {% for group_vote in votation.group_votes %}
            <tr>
                <td><strong>{{ group_vote.group.name }}</strong> ({{ group_vote.group.acronym }})</td>
                <td>{{ group_vote.n_yes }}</td>
                <td>{{ group_vote.n_no }}</td>
                <td>{{ group_vote.n_abst }}</td>
                <td>{{ group_vote.n_absent }}</td>
                <td>{{ group_vote.n_mission }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th class="text-center">Totale</th>
            <th>{{ votation.n_yes }}</th>
            <th>{{ votation.n_no }}</th>
            <th>{{ votation.n_abst }}</th>
            <th>{{ votation.n_absent }}</th>
            <th>{{ votation.n_mission }}</th>
        </tr>
        </tfoot>
    </table>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#all_tab" data-toggle="tab">Tutti</a>
        </li>
        <li><a href="#rebels_tab" data-toggle="tab">Ribelli</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="all_tab">
            <table class="data">
                <thead>
                <tr>
                    <th>Politico</th>
                    <th>Favorevole</th>
                    <th>Contrario</th>
                    <th>Astenuto</th>
                    <th>Assente</th>
                    <th>In missione</th>
                </tr>
                </thead>
                <tbody>
                    {% for charge_vote in votation.charge_votes %}
                    {% with charge_vote.charge.person as politician %}
                    <tr>
                        <td>
                            <a href="{{ politician.get_absolute_url }}">
                                <strong>{{ politician.full_name }}</strong> ({{ charge_vote.charge.council_group.acronym }})
                            </a>
                        </td>
                        {% if charge_vote.vote = charge_vote.YES %}
                        <td><span class="label label-success">Favorevole</span></td><td></td><td></td><td></td><td></td>
                        {% else %}{% if charge_vote.vote = charge_vote.NO %}
                        <td></td><td><span class="label label-important">Contrario</span></td><td></td><td></td><td></td>
                        {% else %}{% if charge_vote.vote = charge_vote.ABSTAINED %}
                        <td></td><td></td><td><span class="label">Astenuto</span></td><td></td><td></td>
                        {% else %}{% if charge_vote.vote = charge_vote.MISSION %}
                        <td></td><td></td><td></td><td></td><td><span class="label label-info">In Missione</span></td>
                        {% else %}{% if charge_vote.vote = charge_vote.ABSENT %}
                        <td></td><td></td><td></td><td><span class="label label-white">Assente</span></td><td></td>
                        {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                    </tr>
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="rebels_tab">
            <table class="data">
                <thead>
                <tr>
                    <th>Politico</th>
                    <th>Favorevole</th>
                    <th>Contrario</th>
                    <th>Astenuto</th>
                    <th>Assente</th>
                    <th>In missione</th>
                </tr>
                </thead>
                <tbody>
                    {% for charge_vote in votation.charge_votes %}
                    {% with charge_vote.charge.person as politician %}
                    {% if charge_vote.rebel %}
                    <tr>
                        <td>
                            <a href="{{ politician.get_absolute_url }}">
                                <strong>{{ politician.full_name }}</strong> ({{ charge_vote.charge.council_group.acronym }})
                            </a>
                        </td>
                        {% if charge_vote.vote = charge_vote.YES %}
                        <td><span class="label label-success">Favorevole</span></td><td></td><td></td><td></td><td></td>
                        {% else %}{% if charge_vote.vote = charge_vote.NO %}
                        <td></td><td><span class="label label-important">Contrario</span></td><td></td><td></td><td></td>
                        {% else %}{% if charge_vote.vote = charge_vote.ABSTAINED %}
                        <td></td><td></td><td><span class="label">Astenuto</span></td><td></td><td></td>
                        {% else %}{% if charge_vote.vote = charge_vote.MISSION %}
                        <td></td><td></td><td></td><td></td><td><span class="label label-info">In Missione</span></td>
                        {% else %}{% if charge_vote.vote = charge_vote.ABSENT %}
                        <td></td><td></td><td></td><td><span class="label label-white">Assente</span></td><td></td>
                        {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                    </tr>
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block sidebar %}
    {% if votation.outcome = votation.PASSED %}
    <h2 class="text-green"><i class="socialicon-ok socialicon-active"></i> Approvato</h2>
    {% else %}
    <h2 class="text-red"><i class="socialicon-ko socialicon-active"></i> Respinto</h2>
    {% endif %}
    <table class="stats">
        <tr>
            <td><span class="okbox">{{ votation.n_yes }}</span></td>
            <th class="bg-dark span6">Favorevoli</th>
            <td><span class="graybox">{{ votation.n_abst }}</span></td>
            <th class="bg-dark span6">Astenuti</th>
            <td><span class="kobox">{{ votation.n_no }}</span></td>
            <th class="bg-dark span6">Contrari</th>
        </tr>
    </table>
    <table class="stats">
        <tr>
            <td><span class="lightgraybox">150</span></td>
            <th class="bg-dark span6">Voti di scarto</th>
            <td><span class="lightgraybox">{{ votation.n_rebels }}</span></td>
            <th class="bg-dark span6">Politici ribelli</th>
        </tr>
    </table>


    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#favorables_tab" data-toggle="tab">Favorevoli</a></li>
            <li><a href="#against_tab" data-toggle="tab">Contrari</a></li>
            <li><a href="#abstained_tab" data-toggle="tab">Astenuti</a></li>
            <li><a href="#rebels_tab" data-toggle="tab">Ribelli</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="favorables_tab">
                <p><img src="https://chart.googleapis.com/chart?cht=p3&chd=s:Uf9a&chs=400x150&chdl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_yes }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_yes }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=CC0000,FFFF33"></p>
            </div>
            <div class="tab-pane" id="against_tab">
                <p><img src="https://chart.googleapis.com/chart?cht=p3&chd=s:Uf9a&chs=400x150&chdl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_no }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_no }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=CC0000,FFFF33"></p>
            </div>
            <div class="tab-pane" id="abstained_tab">
                <p><img src="https://chart.googleapis.com/chart?cht=p3&chd=s:Uf9a&chs=400x150&chdl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_abst }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_abst }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=CC0000,FFFF33"></p>
            </div>
            <div class="tab-pane" id="rebels_tab">
                <p><img src="https://chart.googleapis.com/chart?cht=p3&chd=s:Uf9a&chs=400x150&chdl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_rebel }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_rebel }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=CC0000,FFFF33"></p>
            </div>
        </div>
    </div>


    <section><h3>Commenti (20)</h3>
        <ul class="people-list">
            <li class="bg-light">
                <a href="#"><img src="http://placehold.it/50x50" alt="" /></a>
                <a href="#">JohnDoe</a> Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Suspendisse ut purus.
            <span class="monitoring">
                <i class="socialicon-ko"></i> · 14.06.2011 · <a href="#">Condividi</a> · <a href="#">Mi piace</a> · <i class="socialicon-add"></i> 4
            </span>
            </li>
            <li class="bg-lightgreen">
                <a href="#"><img src="http://placehold.it/50x50" alt="" /></a>
                <a href="#">JohnDoe</a> Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Suspendisse ut purus.
            <span class="monitoring">
                <i class="socialicon-ko"></i> · 14.06.2011 · <a href="#">Condividi</a> · <a href="#">Mi piace</a> · <i class="socialicon-add"></i> 4
            </span>
            </li>
            <li class="bg-light">
                <a href="#"><img src="http://placehold.it/50x50" alt="" /></a>
                <a href="#">JohnDoe</a> Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Suspendisse ut purus.
            <span class="monitoring">
                <i class="socialicon-ko"></i> · 14.06.2011 · <a href="#">Condividi</a> · <a href="#">Mi piace</a> · <i class="socialicon-add"></i> 4
            </span>
            </li>
            <li class="bg-light">
                <form action="#" class="form-inline">
                    <i class="socialicon-ok"></i><i class="socialicon-ko"></i><i class="socialicon-five"></i>
                    <input type="text" placeholder="Scrivi un commento..." />
                </form>
            </li>
        </ul>
        <p class="bg-dark">Leggi tutti (Cronologia) <i class="icon-chevron-down"></i></p>

    </section>


    <h2>Ultime sul Voto <img src="{{ STATIC_URL }}img/feed-icon-14x14.png" alt="" /></h2> 
    <ul class="feed-list">
        <li><a href="#">Mario Rossi ha commentato il voto</a></li>
        <li><a href="#">Il voto è inserito nell'ordine del giorno N° 13516</a></li>
        <li><a href="#">Barcaiuolo, Pellacani, Bellei, Morandi, Santoro (PdL) hanno presentato la mozione...</a></li>
    </ul>
    <p class="bg-dark"><a href="#">Leggi tutte <i class="icon-chevron-down"></i></a></p>
{% endblock sidebar %}
