{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load om_utils %}
{% load i18n %}

{% block title %}Elenco votazioni {% endblock title %}
{% block content_header %}Votazioni{% endblock %}
{% block votations_class %}active{% endblock %}

{% block extra_style %}
    em {
    background-color: yellow;
    }
{% endblock %}

{% block content %}

    {% if selected_facets %}
        <ul class="breadcrumb" xmlns="http://www.w3.org/1999/html">
        {% for facet in selected_facets  %}
          <li>
            <a href="{{ facet.url }}"><i class="icon-remove"></i></a>
            <span style="color:gray;">{% trans facet.field %}</span>:
            {{ facet.r_label }}
          </li>
          {% if not forloop.last %}
            <span class="divider">/</span>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <p>Puoi trovare la votazione che ti interessa scorrendo la lista delle ultime pubblicate, qui sotto.
        Puoi perfezionare la ricerca usando i filtri nella colonna qui a destra, oppure puoi usare il form di
        ricerca con una parola che pensi sia contenuta nella votazione o nell'atto che la riguarda,
        in cima alla colonna qui a destra</p>
    {% endif %}


    {% if n_results %}

    {% include "commons/pagination.html" with base_url=base_url %}

    <section>


      <h3>{% if not query %}Tutte le {% endif %} {{ n_results }} votazioni</h3>
      {% if act_votations %}
        per la {{ act.get_type_name }} <a href="{{ act.get_absolute_url }}">{{ act }}</a>
      {% endif %}

      <table class="search-results">
        <tbody>
        {% for result in page.object_list %}
        <tr>
          <td>{{ result.votation_date|circled:"full" }}</td>
          <td>
            <h4>
              <a href="{{ result.url }}">Votazione n.{{ result.votation_num }}</a>
              della seduta n.{{ result.votation_sitting_num }}
              del {{ result.votation_date}}
            </h4>
              {% if not act_votations %}
                  <strong>{{ result.act_type }}</strong><br/>
                  <a href="{{ result.act_url }}">{{ result.title }}</a><br/>
              {% endif %}
            {% if result.highlighted.text %}
              {{ result.highlighted.text.0|safe }}<br/>
            {% endif %}
            Presenti: {{ result.votation_n_presents }},
            Maggioranza: {{ result.votation_n_maj }},
            Favorevoli: {{ result.votation_n_yes }},
            Contrari: {{ result.votation_n_no }},
            Astenuti: {{ result.votation_n_abst }},
            Esito: {{ result.votation_outcome }},
            Ribelli: {{ result.votation_n_rebels }}
            <!-- <strong>Score:</strong> {{ result.score }} -->
          </td>
        </tr>
        {% empty %}
        <tr>
          <td><p>Nessun risultato trovato.</p></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>

    {% include "commons/pagination.html" with base_url=base_url %}

    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

{% endblock %}

{% block sidebar %}

  <h4>Cerca nelle votazioni</h4>
  <form method="get" action="{% url om_votation_search %}" class="form-search">
    <input type="text" class="input-medium search-query" name="{{ form.q.html_name }}" value="{% if form.q.value %}{{ form.q.value }}{% endif %}" placeholder="Testo della ricerca" />
    <button type="submit" class="btn">Cerca</button>
  </form>

    {% if n_results %}
        <!-- Begin faceting. -->
        <h3>Filtra</h3>

        <div>
            <dl>
                {% if facets.fields.act_type and not facets.fields.act_type.is_field_selected %}
                    <dt>Tipologia</dt>
                    {# Provide all act types #}
                    {% for t in facets.fields.act_type.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=act_type:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.is_key and not facets.fields.is_key.is_field_selected %}
                    <dt>Atto chiave</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.is_key.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=is_key:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.organ and not facets.fields.organ.is_field_selected %}
                    <dt>Organo</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.organ.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=organ:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if not facet_queries_date.is_selected %}
                    <dt>{% trans 'Sitting date' %}</dt>
                    {% if facet_queries_date.threedays.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_date.threedays.key }}">
                                {% trans 'last three days' %}
                            </a> ({{ facet_queries_date.threedays.count }})
                        </dd>
                    {% endif %}
                    {% if facet_queries_date.onemonth.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_date.onemonth.key }}">
                                {% trans 'last month' %}
                            </a> ({{ facet_queries_date.onemonth.count }})
                        </dd>
                    {% endif %}
                    {% if facet_queries_date.oneyear.count %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ facet_queries_date.oneyear.key }}">
                                {% trans 'last year' %}
                            </a> ({{ facet_queries_date.oneyear.count }})
                        </dd>
                    {% endif %}
                {% endif %}
            </dl>

        </div>
        <!-- End faceting -->

    {% endif %}


{% endblock %}