{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load om_utils %}
{% load i18n %}
{% load digg_paginator %}
{% load url from future %}


{% block title %}Elenco votazioni {% endblock title %}
{% block content_header %}Votazioni{% endblock %}
{% block sitting_class %}class="active"{% endblock %}
{% block body_class %}votations{% endblock %}

{% block sub_nav %}
    {% include 'people/_sitting_subnav.html' with active='Votazioni' %}
{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/votation.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block extra_style %}
    em {
    background-color: yellow;
    }
{% endblock %}

{% block head_js_includes %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock head_js_includes %}

{% block content %}

  <section>

    <ul class="nav nav-tabs page-tabs">
      <li class="active"><a data-toggle="tab" href="#search_votations_tab">{{ n_results }} votazion{{ n_results|pluralize:"e,i" }}</a></li>
      <li><a data-toggle="tab" href="#search_presence_tab">Presenze e voti</a></li>
      <li><a data-toggle="tab" href="#search_stats_tab">Statistiche</a></li>
    </ul>
    <div class="tab-content" id="tab-content-id">
      <div class="tab-pane active" id="search_votations_tab">

    <table id="votations" class="data dataTable">
      <thead style="font-size: 10px;">
        <tr>
          {% include 'search/_sortable_header.html' with f=order_by.votation_date f_name='votation_date' f_descr='Data' f_first='desc' f_init='desc' %}
          <th>Seduta</th>
          <th>Votazione</th>
          <th>Argomento</th>
          {% include 'search/_sortable_header.html' with f=order_by.votation_n_presents f_name='votation_n_presents' f_descr='Presenti' %}
          {% include 'search/_sortable_header.html' with f=order_by.votation_n_maj f_name='votation_n_maj' f_descr='Maggioranza' %}
          {% include 'search/_sortable_header.html' with f=order_by.votation_n_yes f_name='votation_n_yes' f_descr='Si' %}
          {% include 'search/_sortable_header.html' with f=order_by.votation_n_no f_name='votation_n_no' f_descr='No' %}
          {% include 'search/_sortable_header.html' with f=order_by.votation_n_abst f_name='votation_n_abst' f_descr='Astenuti' %}
          {% include 'search/_sortable_header.html' with f=order_by.votation_n_rebels f_name='votation_n_rebels' f_descr='Ribelli' %}
          <th>Esito</th>
        </tr>
      </thead>
      <tbody>

      {% for result in page.object_list %}
        <tr>

          <!-- date -->
          <td><a href="{{ result.url }}">{{ result.votation_date|circled:"full" }}</a></td>

          <!-- sitting -->
          <td>
            <a href="{{ result.object.sitting.get_absolute_url }}">{{ result.votation_sitting_num }}</a>
          </td>

          <!-- votation -->
          <td>
            <a href="{{ result.url }}">{{ result.votation_num }}</a>
          </td>

          <!-- argument -->
          <td>
            <a href="{{ result.url }}"><strong>
              {% if result.act_descr %}{{ result.act_descr }}{% endif %}

              {% if result.act_rendered %}<br/>{{ result.act_rendered|safe }}{% endif %}

              {% if result.highlighted.text %}<br/>{{ result.highlighted.text.0|safe }}{% endif %}
            </strong></a>
          </td>

          <!-- presents -->
          <td>{{ result.votation_n_presents }}</td>

          <!-- majority -->
          <td>{{ result.votation_n_maj }}</td>

          <!-- yes -->
          <td>{{ result.votation_n_yes }}</td>

          <!-- no -->
          <td>{{ result.votation_n_no }}</td>

          <!-- abstentions -->
          <td>{{ result.votation_n_abst }}</td>

          <!-- rebels -->
          <td>{{ result.votation_n_rebels }}</td>

          <!-- outcome -->
          <td>
            <a href="{{ result.url }}">
            {% if result.votation_outcome == 1 %}
              {{ '<i class="icon-thumbs-up"></i>'|safe|circled:"voteok" }}
            {% else %}
              {{ '<i class="icon-thumbs-down"></i>'|safe|circled:"voteko" }}
            {% endif %}
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

        {% digg_paginator %}
      </div>

      <div class="tab-pane" id="search_presence_tab">

        {% if graphs.n_presents_range %}
          <div id="graph_n_presents_range" class="span8"></div>
        {% endif %}

        {% if graphs.gap_yes_no %}
          <div id="graph_gap_yes_no" class="span8"></div>
        {% endif %}

        {% if graphs.votation_n_rebels and not facets.fields.votation_n_rebels.is_field_selected %}
          <div id="graph_votation_n_rebels" class="span8"></div>
        {% endif %}
      </div>

      <div class="tab-pane" id="search_stats_tab">

        {% if graphs.votation_outcome_display and not facets.fields.votation_outcome_display.is_field_selected %}
          <div id="graph_votation_outcome_display" class="span4"></div>
        {% endif %}

        {% if graphs.is_secret and not facets.fields.is_secret.is_field_selected %}
          <div id="graph_is_secret" class="span4"></div>
        {% endif %}

        {% if graphs.votation_date and not facet_queries_date.is_selected %}
          <div id="graph_votation_date" class="span8"></div>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}

{% block sidebar %}

    {% if charge or person %}<dl><dt>Politico{% if charge_label %} {{ charge_label }}{% endif %}</dt></dl>{% endif %}

    {% if charge %}
      {% include 'people/charge_widget.html' with charge=charge %}
    {% endif %}

    {% if person %}
      {% include 'people/_person_widget.html' with person=person %}
    {% endif %}

    {% if act_votations %}
      <dl>
        <dt>Atto</dt>
        <dd>{{ act.get_type_name }} <a href="{{ act.get_absolute_url }}">{{ act }}</a></dd>
      </dl>
    {% endif %}

    {% if charge or person or act_votations %}<hr />{% endif %}

  <h4>Cerca nelle votazioni</h4>
  <form method="get" action="{% url 'om_votation_search' %}" id="search-form"  class="form-search">
    <input type="text" class="input-medium search-query" name="{{ form.q.html_name }}" value="{% if form.q.value %}{{ form.q.value }}{% endif %}" placeholder="Testo della ricerca" />
    <button type="submit" class="btn">Cerca</button>
  </form>

    {% if n_results %}

        {% if selected_facets %}
            <h2>Modifica i filtri</h2>
            {% for facet in selected_facets  %}
                <dt>{{ facets_labels|key:facet.field|safe }}</dt>
                <dd>
                    <a href="{{ facet.url }}"><i class="icon-remove"></i></a>
                    {{ facet.r_label }}
                </dd>
            {% endfor %}
        {% else %}
            <h2>Filtra</h2>
        {% endif %}

        <!-- Begin faceting. -->
        <div>
            <dl>
                {% if facets.fields.act_type and not facets.fields.act_type.is_field_selected %}
                    <dt>{{ facets_labels.act_type }}</dt>
                    {# Provide all act types #}
                    {% for t in facets.fields.act_type.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=act_type:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.is_key and not facets.fields.is_key.is_field_selected %}
                    <dt>{{ facets_labels.is_key }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.is_key.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=is_key:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.is_secret and not facets.fields.is_secret.is_field_selected %}
                    <dt>{{ facets_labels.is_secret }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.is_secret.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=is_secret:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.organ and not facets.fields.organ.is_field_selected %}
                    <dt>{{ facets_labels.organ }}</dt>
                    {% for t in facets.fields.organ.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=organ:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.votation_outcome_display and not facets.fields.votation_outcome_display.is_field_selected %}
                    <dt>{{ facets_labels.votation_outcome_display }}</dt>
                    {% for t in facets.fields.votation_outcome_display.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=votation_outcome_display:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.n_presents_range and not facets.fields.n_presents_range.is_field_selected %}
                    <dt>{{ facets_labels.n_presents_range }}</dt>
                    {% for t in facets.fields.n_presents_range.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=n_presents_range:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.gap_yes_no_range and not facets.fields.gap_yes_no_range.is_field_selected %}
                    <dt>{{ facets_labels.gap_yes_no_range }}</dt>
                    {% for t in facets.fields.gap_yes_no_range.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=gap_yes_no_range:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.votation_n_rebels and not facets.fields.votation_n_rebels.is_field_selected %}
                    <dt>{{ facets_labels.votation_n_rebels }}</dt>
                    {% for t in facets.fields.votation_n_rebels.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=votation_n_rebels:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if not facet_queries_date.is_selected %}
                    <dt>{{ facets_labels.votation_date }}</dt>
                    {% for range in facet_queries_date.ranges|dictsortreversed:"key"  %}
                        <dd>
                            <a href="{{ base_url }}&f={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if facets.fields.month and facet_queries_date.is_selected and not facets.fields.month.is_field_selected %}
                    <dt>{{ facets_labels.month }}</dt>
                    {% for t in facets.fields.month.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&f=month:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>

        </div>
        <!-- End faceting -->

      {% include 'search/_related_search.html' %}

    {% endif %}

{% endblock %}


{% block footer_js_includes %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>

  <script type="text/javascript">

    {% if graphs.n_presents_range %}
      graph_n_presents_range_elem = document.getElementById('graph_n_presents_range');
	  Plotly.plot( graph_n_presents_range_elem, [{
	    x: ['{{ graphs.n_presents_range.x | join:"', '" }}'],
	    y: [{{ graphs.n_presents_range.y | join:", " }}],
	    type: 'bar'
	    }], {
	    title: 'Presenti (%)',
	    hovermode: 'x',
        xaxis: { fixedrange: true, categoryorder: 'category ascending' },
        yaxis: { fixedrange: true, title: 'votazioni' }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });

      graph_n_presents_range_elem.on('plotly_click', function(data){
        var url = '{{ base_url }}' + '&f=n_presents_range:' + data.points[0].x
        window.open(url, '_self');
      });

    {% endif %}

    {% if graphs.gap_yes_no %}
      graph_gap_yes_no_elem = document.getElementById('graph_gap_yes_no');
	  Plotly.plot( graph_gap_yes_no_elem, [{
	    x: ['{{ graphs.gap_yes_no.x | join:"', '" }}'],
	    y: [{{ graphs.gap_yes_no.y | join:", " }}],
	    type: 'bar'
	    }], {
	    title: 'Scarto tra Sì e No',
	    hovermode: 'x',
        xaxis: { fixedrange: true },
        yaxis: { fixedrange: true, title: 'votazioni' }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });

      graph_gap_yes_no_elem.on('plotly_click', function(data){
        var url = '{{ base_url }}' + '&f=gap_yes_no:' + data.points[0].x
        window.open(url, '_self');
      });

    {% endif %}

    {% if graphs.votation_n_rebels and not facets.fields.votation_n_rebels.is_field_selected %}
      graph_votation_n_rebels_elem = document.getElementById('graph_votation_n_rebels');
	  Plotly.plot( graph_votation_n_rebels_elem, [{
	    x: ['{{ graphs.votation_n_rebels.x | join:"', '" }}'],
	    y: [{{ graphs.votation_n_rebels.y | join:", " }}],
	    type: 'bar'
	    }], {
	    title: 'Numero di ribelli',
	    hovermode: 'x',
        xaxis: { fixedrange: true },
        yaxis: { fixedrange: true, title: 'votazioni', type: 'log' }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });

      graph_votation_n_rebels_elem.on('plotly_click', function(data){
        var url = '{{ base_url }}' + '&f=votation_n_rebels:' + data.points[0].x
        window.open(url, '_self');
      });

    {% endif %}

    {% if graphs.votation_outcome_display and not facets.fields.votation_outcome_display.is_field_selected %}
      graph_votation_outcome_display_elem = document.getElementById('graph_votation_outcome_display');
	  Plotly.plot( graph_votation_outcome_display_elem, [{
	    labels: ['{{ graphs.votation_outcome_display.x | join:"', '" }}'],
	    values: [{{ graphs.votation_outcome_display.y | join:", " }}],
	    type: 'pie'
	  }], {
	    title: 'Esito della votazione',
        xaxis: { fixedrange: true, showgrid: false, showticklabels: false, zeroline: false },
        yaxis: { fixedrange: true, showgrid: false, showticklabels: false, zeroline: false }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });
    {% endif %}

    {% if graphs.is_secret and not facets.fields.is_secret.is_field_selected %}
      graph_is_secret_elem = document.getElementById('graph_is_secret');
	  Plotly.plot( graph_is_secret_elem, [{
	    labels: ['{{ graphs.is_secret.x | join:"', '" }}'],
	    values: [{{ graphs.is_secret.y | join:", " }}],
	    type: 'pie'
	  }], {
	    title: 'Votazioni segrete',
        xaxis: { fixedrange: true, showgrid: false, showticklabels: false, zeroline: false },
        yaxis: { fixedrange: true, showgrid: false, showticklabels: false, zeroline: false }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });
    {% endif %}

    {% if graphs.votation_date and not facet_queries_date.is_selected %}
      graph_votation_date_elem = document.getElementById('graph_votation_date');
	  Plotly.plot( graph_votation_date_elem, [{
	    x: ['{{ graphs.votation_date.x | join:"', '" }}'],
	    y: [{{ graphs.votation_date.y | join:", " }}],
	    type: 'scatter'
	  }], {
	    title: 'Anno della votazione',
        xaxis: { fixedrange: true, title: 'anno' },
        yaxis: { fixedrange: true, title: 'votazioni' }
      }, {
	    displaylogo: false,
	    displayModeBar: true,
	    modeBarButtonsToRemove: [ 'hoverClosestCartesian', 'hoverCompareCartesian' ]
	  });
    {% endif %}

    $(window).resize(function() {
      var _width = $("#tab-content-id").width() - 50;
      var _width4 = _width/2;
      var _width8 = _width;

      {% if graphs.n_presents_range and not facets.fields.n_presents_range.is_field_selected %}
        Plotly.relayout(graph_n_presents_range_elem, { width:_width8, height:400 });
      {% endif %}

      {% if graphs.gap_yes_no %}
        Plotly.relayout(graph_gap_yes_no_elem, { width:_width8, height:400 });
      {% endif %}

      {% if graphs.votation_n_rebels and not facets.fields.votation_n_rebels.is_field_selected %}
        Plotly.relayout(graph_votation_n_rebels_elem, { width:_width8, height:400 });
      {% endif %}

      {% if graphs.votation_outcome_display and not facets.fields.votation_outcome_display.is_field_selected %}
        Plotly.relayout(graph_votation_outcome_display_elem, { width:_width4, height:400 });
      {% endif %}

      {% if graphs.is_secret and not facets.fields.is_secret.is_field_selected %}
        Plotly.relayout(graph_is_secret_elem, { width:_width4, height:400 });
      {% endif %}

      {% if graphs.votation_date and not facet_queries_date.is_selected %}
        Plotly.relayout(graph_votation_date_elem, { width:_width8, height:400 });
      {% endif %}

    }).resize();

    </script>
{% endblock footer_js_includes %}
