{% extends 'base_two_columns.html' %}
{% load highlight %}
{% load om_utils %}
{% load i18n %}
{% load digg_paginator %}
{% load url from future %}


{% block title %}Elenco votazioni {% endblock title %}
{% block content_header %}Votazioni{% endblock %}
{% block votations_class %}active{% endblock %}
{% block body_class %}votations{% endblock %}

{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/votation.png" alt="Comune di {{ main_city }}">
{% endblock %}

{% block extra_style %}
    em {
    background-color: yellow;
    }
{% endblock %}

{% block content %}

    {% if UI_SITTINGS_CALENDAR %}
       {% include 'people/sitting_calendar_top.html' %}
    {% endif %}

    {% if n_results %}

        <section>


            <h2>{% if not query %}Trovate {% endif %} {{ n_results }} votazioni</h2>
            {% if act_votations %}
                per la {{ act.get_type_name }} <a href="{{ act.get_absolute_url }}">{{ act }}</a>
            {% endif %}

            {% if person %}
                <p>per il politico: <a href="{{ person.get_absolute_url }}">{{ person }}</a>  </p>
            {% endif %}

            <table class="search-results">
            <tbody>
            {% for result in page.object_list %}
            <tr>
              <td>{{ result.votation_date|circled:"full" }}</td>
              <td>
                <h4>
                    <a href="{{ result.url }}">Votazione n. {{ result.votation_num }}</a>
                </h4>
                {% if result.act_descr %}
                    <p>{% if result.act_url %}<a href="{{ result.act_url.0 }}">{% endif %}
                        {{ result.act_descr }}
                    {% if result.act_url %}</a>{% endif %}</p>
                {% endif %}

                {% if result.act_rendered %}
                {{ result.act_rendered|safe }}
                {% endif %}

                {% if result.highlighted.text %}
                  {{ result.highlighted.text.0|safe }}<br/>
                {% endif %}
                <a href="{{ result.object.sitting.get_absolute_url }}">Seduta n. {{ result.votation_sitting_num }}</a>,
                Presenti: {{ result.votation_n_presents }},
                Maggioranza: {{ result.votation_n_maj }},
                Favorevoli: {{ result.votation_n_yes }},
                Contrari: {{ result.votation_n_no }},
                Astenuti: {{ result.votation_n_abst }},
                Esito: {{ result.votation_outcome }},
                Ribelli: {{ result.votation_n_rebels }}
                <!-- <strong>Score:</strong> {{ result.score }} -->
              </td>
            </tr>
            {% empty %}
            <tr>
              <td><p>Nessun risultato trovato.</p></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </section>

        {% digg_paginator %}

    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

{% endblock %}

{% block sidebar %}

  <h4>Cerca nelle votazioni</h4>
  <form method="get" action="{% url 'om_votation_search' %}" id="search-form"  class="form-search">
    <input type="text" class="input-medium search-query" name="{{ form.q.html_name }}" value="{% if form.q.value %}{{ form.q.value }}{% endif %}" placeholder="Testo della ricerca" />
    <button type="submit" class="btn">Cerca</button>
  </form>

    {% if n_results %}

        {% if selected_facets %}
            <h2>Modifica i filtri</h2>
            {% for facet in selected_facets  %}
                <dt>{{ facets_labels|key:facet.field|safe }}</dt>
                <dd>
                    <a href="{{ facet.url }}"><i class="icon-remove"></i></a>
                    {{ facet.r_label }}
                </dd>
            {% endfor %}
        {% else %}
            <h2>Filtra</h2>
            <p>Puoi trovare la votazione che ti interessa scorrendo la lista delle ultime pubblicate, qui a fianco.
                Puoi perfezionare la ricerca usando i filtri nella colonna qui sotto, oppure puoi usare il form di
                ricerca con una parola che pensi sia contenuta nella votazione o nell'atto che la riguarda,
                in cima alla colonna qui a destra</p>
        {% endif %}


        <!-- Begin faceting. -->
        <div>
            <dl>
                {% if facets.fields.act_type and not facets.fields.act_type.is_field_selected %}
                    <dt>{{ facets_labels.act_type }}</dt>
                    {# Provide all act types #}
                    {% for t in facets.fields.act_type.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=act_type:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.is_key and not facets.fields.is_key.is_field_selected %}
                    <dt>{{ facets_labels.is_key }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.is_key.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=is_key:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.is_secret and not facets.fields.is_secret.is_field_selected %}
                    <dt>{{ facets_labels.is_secret }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.is_secret.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=is_secret:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.organ and not facets.fields.organ.is_field_selected %}
                    <dt>{{ facets_labels.organ }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.organ.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=organ:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.votation_outcome and not facets.fields.votation_outcome.is_field_selected %}
                    <dt>{{ facets_labels.votation_outcome }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.votation_outcome.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=votation_outcome:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.n_presents_range and not facets.fields.n_presents_range.is_field_selected %}
                    <dt>{{ facets_labels.n_presents_range }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.n_presents_range.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=n_presents_range:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.n_rebels_range and not facets.fields.n_rebels_range.is_field_selected %}
                    <dt>{{ facets_labels.n_rebels_range }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.n_rebels_range.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=n_rebels_range:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if facets.fields.n_variance and not facets.fields.n_variance.is_field_selected %}
                    <dt>{{ facets_labels.n_variance }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.n_variance.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=n_variance:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>
            <dl>
                {% if not facet_queries_date.is_selected %}
                    <dt>{{ facets_labels.votation_date }}</dt>
                    {% for range in facet_queries_date.ranges|dictsortreversed:"key"  %}
                        <dd>
                            <a href="{{ base_url }}&selected_facets={{ range.key }}">
                                {{ range.label|safe }}
                            </a> ({{ range.count }})
                        </dd>
                    {% endfor %}
                {% endif %}
            </dl>

            <dl>
                {% if facets.fields.month and not facets.fields.month.is_field_selected %}
                    <dt>{{ facets_labels.month }}</dt>
                    {# Provide both cases (true, false) #}
                    {% for t in facets.fields.month.counts %}
                        {% if t.1 %}
                            <dd>
                                {% if not t.2 %}
                                    <a href="{{ base_url }}&selected_facets=month:{{ t.0|urlencode }}">{{ t.0 }}</a> ({{ t.1 }})
                                {% endif %}
                            </dd>
                        {%  endif %}
                    {% endfor %}
                {% endif %}
            </dl>

        </div>
        <!-- End faceting -->

    {% endif %}


{% endblock %}
