{% extends "base_two_columns.html" %}
{% load i18n %}
{% load om_utils %}

{% block title %}| Dettaglio {{ votation }}{% endblock %}

{% block content_header %}Votazion{% endblock %}

{% block head_css_includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bookmarking.css" />
{% endblock head_css_includes %}

{% block footer_js_includes %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/ajax_csrf.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    {% if user.is_staff %}
        <script src="{{ STATIC_URL }}js/bookmarking.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
{% endblock footer_js_includes %}

{% block content %}
  {% if votation.outcome = votation.PASSED %}
    <h2 class="text-green"><i class="socialicon-ok socialicon-active"></i> Approvato</h2>
  {% else %}
    <h2 class="text-red"><i class="socialicon-ko socialicon-active"></i> Respinto</h2>
  {% endif %}
  <table class="pull-right bg-lighter">
    <tr>
      {% if votation.outcome = votation.PASSED %}
      <td>{{ '<i class="icon-thumbs-up"></i>'|safe|circled:"voteok" }}</td>
      <td><p>Approvato</p></td>
      {% else %}
      <td>{{ '<i class="icon-thumbs-down"></i>'|safe|circled:"voteko" }}</td>
      <td><p>Respinto</p></td>
      {% endif %}

    </tr>
  </table>

    <hgroup>
        <h2>
            {% if votation.act %}
            <strong>{{ votation.act_type }}</strong>
            del {{ votation.act.emitting_institution }} N° {{ votation.act.idnum }} del <span class="date">{{ votation.act.presentation_date|date:"d.m.Y" }}</span></small>
            {% else %}
            {{ votation.act_descr }}
            {% endif %}
        </h2>
{% load om_utils %}
{% load bookmarking_tags %}
        <h1><i id="{{ votation|as_token }}" class="bookmarkable {% is_key_class votation %}"></i>{{ votation.act.title }}</h1>
    </hgroup>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th class="text-center">Gruppi</th>
            <th>Favorevoli</th>
            <th>Contrari</th>
            <th>Astenuti</th>
            <th>Assenti</th>
            <th>In missione</th>
        </tr>
        </thead>
        <tbody>
            {% for group_vote in votation.group_votes %}
            <tr>
                <td><strong>{{ group_vote.group.name }}</strong> ({{ group_vote.group.acronym }})</td>
                <td>{{ group_vote.n_yes }}</td>
                <td>{{ group_vote.n_no }}</td>
                <td>{{ group_vote.n_abst }}</td>
                <td>{{ group_vote.n_absent }}</td>
                <td>{{ group_vote.n_mission }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th class="text-center">Totale</th>
            <th>{{ votation.n_yes }}</th>
            <th>{{ votation.n_no }}</th>
            <th>{{ votation.n_abst }}</th>
            <th>{{ votation.n_absent }}</th>
            <th>{{ votation.n_mission }}</th>
        </tr>
        </tfoot>
    </table>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#all_tab" data-toggle="tab">Tutti</a>
        </li>
        <li><a href="#rebels_tab" data-toggle="tab">Ribelli</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="all_tab">
            <table class="data">
                <thead>
                <tr>
                    <th>Politico</th>
                    <th>Favorevole</th>
                    <th>Contrario</th>
                    <th>Astenuto</th>
                    <th>Assente</th>
                    <th>In missione</th>
                </tr>
                </thead>
                <tbody>
                    {% for charge_vote in votation.charge_votes %}
                    {% with charge_vote.charge.person as politician %}
                      <tr>
                        <td>
                          <a href="{{ politician.get_absolute_url }}">
                            <strong>{{ politician.full_name }}</strong> ({{ charge_vote.charge.council_group.acronym }})
                          </a>
                        </td>
                        <td>
                          {% if charge_vote.vote = charge_vote.YES %}
                            <span class="label label-success">Favorevole</span>
                          {% endif %}
                        </td>
                        <td>
                          {% if charge_vote.vote = charge_vote.NO %}
                            <span class="label label-warning">Contrario</span>
                          {% endif %}
                        </td>
                        <td>
                          {% if charge_vote.vote = charge_vote.ABSTAINED %}
                            <span class="label label-success">Astenuto</span>
                          {% endif %}
                        </td>
                        <td>
                          {% if charge_vote.vote = charge_vote.MISSION %}
                            <span class="label label-info">Missione</span>
                          {% endif %}
                        </td>
                        <td>
                          {% if charge_vote.vote = charge_vote.ABSENT %}
                            <span class="label label-white">Assente</span>
                          {% endif %}
                        </td>
                      </tr>
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="rebels_tab">
            <table class="data">
                <thead>
                <tr>
                    <th>Politico</th>
                    <th>Favorevole</th>
                    <th>Contrario</th>
                    <th>Astenuto</th>
                    <th>Assente</th>
                    <th>In missione</th>
                </tr>
                </thead>
                <tbody>
                    {% for charge_vote in votation.charge_votes %}
                    {% with charge_vote.charge.person as politician %}
                    {% if charge_vote.rebel %}
                    <tr>
                      <td>
                        <a href="{{ politician.get_absolute_url }}">
                          <strong>{{ politician.full_name }}</strong> ({{ charge_vote.charge.council_group.acronym }})
                        </a>
                      </td>
                      <td>
                        {% if charge_vote.vote = charge_vote.YES %}
                        <span class="label label-success">Favorevole</span>
                        {% endif %}
                       </td>
                      <td>
                        {% if charge_vote.vote = charge_vote.NO %}
                          <span class="label label-warning">Contrario</span>
                        {% endif %}
                      </td>
                      <td>
                        {% if charge_vote.vote = charge_vote.ABSTAINED %}
                          <span class="label label-success">Astenuto</span>
                        {% endif %}
                      </td>
                      <td>
                        {% if charge_vote.vote = charge_vote.MISSION %}
                          <span class="label label-info">Missione</span>
                        {% endif %}
                      </td>
                      <td>
                        {% if charge_vote.vote = charge_vote.ABSENT %}
                          <span class="label label-white">Assente</span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block sidebar %}

  <table class="stats">
    <tr>
      <td>{{ votation.n_yes|circled:"voteok" }}</td>
      <th class="span6">Favorevoli</th>
      <td>{{ votation.n_no|circled:"voteko" }}</td>
      <th class="span6">Contrari</th>
    </tr>
    <tr>
      <td>{{ votation.n_abst|circled }}</td>
      <th class="span6">Astenuti</th>
      <td>{{ '-'|circled }}</td>
      <th class="span6">Voti di scarto</th>
    </tr>
    <tr>
      <td>{{ votation.n_rebels|circled }}</td>
      <th colspan="3">Politici ribelli</th>
    </tr>
  </table>


    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#favorables_tab" data-toggle="tab">Favorevoli</a></li>
            <li><a href="#against_tab" data-toggle="tab">Contrari</a></li>
            <li><a href="#abstained_tab" data-toggle="tab">Astenuti</a></li>
            <li><a href="#rebels_tab" data-toggle="tab">Ribelli</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="favorables_tab">
                <p><img src="https://chart.googleapis.com/chart?cht=p&chs=485x154&chl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_yes }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_yes }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=CC0000,FFFF33"></p>
            </div>
            <div class="tab-pane" id="against_tab">
                <p><img src="https://chart.googleapis.com/chart?cht=p&chs=485x154&chl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_no }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_no }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=CC0000,FFFF33"></p>
            </div>
            <div class="tab-pane" id="abstained_tab">
                <p><img src="https://chart.googleapis.com/chart?cht=p&chs=485x154&chl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_abst }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_abst }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=CC0000,FFFF33"></p>
            </div>
            <div class="tab-pane" id="rebels_tab"><<!-- fix me, I need real rebels'data -->
                <p><img src="https://chart.googleapis.com/chart?cht=p&chs=485x154&chl={% for group_vote in votation.group_votes %}{{ group_vote.group.acronym }} {{ group_vote.n_rebel }}{% if not forloop.last %}|{% endif %}{% endfor %}&chd=t:{% for group_vote in votation.group_votes %}{{ group_vote.n_rebel }}{% if not forloop.last %},{% endif %}{% endfor %}&chco=CC0000,FFFF33"></p>
            </div>
        </div>
    </div>

  <hr>

  <section>
    <h3>Commenti (20)</h3>
    <ul class="comments-list">
      <li>
        <a href="#"><img src="{{ STATIC_URL }}img/placehold/50.gif" /></a>
        <div>
          <p>
            <a href="#">User</a>
            Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Suspendisse ut purus.
          </p>
          <i class="hand-ok hand-active"></i> &middot; 05 Feb 2012  &middot; <a href="#">Mi piace</a> <i class="hand-like"></i> 10
        </div>
      </li>
      <li class="bg-highlight">
        <a href="#"><img src="{{ STATIC_URL }}img/placehold/50.gif" /></a>
        <div>
          <p>
            <a href="#">User</a>
            Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Suspendisse ut purus.
          </p>
          <i class="hand-ok hand-active"></i> &middot; 06 Feb 2012  &middot; <a href="#">Mi piace</a> <i class="hand-like"></i> 10
        </div>
      </li>
      <li>
        <a href="#"><img src="{{ STATIC_URL }}img/placehold/50.gif" /></a>
        <div>
          <p>
            <a href="#">User</a>
            Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Suspendisse ut purus.
          </p>
          <i class="hand-ok hand-active"></i> &middot; 07 Feb 2012  &middot; <a href="#">Non mi piace più</a> <i class="hand-like"></i> 10
        </div>
      </li>
    </ul>

    {% if request.user.is_authenticated %}
      <form id="comment-form" action="#" method="post" class="form-inline box">
        <p>
          <textarea name="" class="input-expanded" data-plugin="autogrow" placeholder="Inserisci un commento" id="comment-form-text" rows="1"></textarea>
        </p>
        <button type="submit" class="btn btn-mini pull-right" id="comment-form-submit">{% trans 'Post' %} </button>
        <p>
          <label>Scegli la posizione</label>
        </p>
      </form>
    {% endif %}

    <p class="box">
      <a href="#">Leggi tutti</a> <i class="icon-play-down"></i>
    </p>
  </section>

  <hr>

  <section>
    <h3>Ultime sul Voto <img src="{{ STATIC_URL }}img/feed-icon-14x14.png" alt="" /></h3>

    <ul class="list-simple">
      <li>01.01.2012 - Mario Rossi ha commentato il voto</li>
      <li>01.01.2012 - Mario Rossi ha commentato il voto</li>
      <li>01.01.2012 - Mario Rossi ha commentato il voto</li>
    </ul>

    <p class="box">
      <a href="#">Leggi tutti</a> <i class="icon-play-down"></i>
    </p>
  </section>
{% endblock sidebar %}
