{% extends "base_two_columns.html" %}
{% load i18n %}

{% block title %} Elenco votazioni {% endblock %}

{% block content_header %}Votazioni{% endblock %}

{% block content %}

    <section>

        <h1>Cerca il voto</h1>

        <form action="#" id="search-form">

            <fieldset class="row-fluid">
                <p class="span4">
                    <label for="search_doc_title">Titolo del documento</label>
                    <select name="doc_type" id="search_doc_title"></select>
                </p>
                <p class="span4">
                    <label for="search_category">Categoria</label>
                    <select name="category" id="search_category"></select>
                </p>
                <p class="span4">
                    <label for="search_act_organ">Organo</label>
                    <select name="act_organ" id="search_act_organ"></select>
                </p>
            </fieldset>

            <fieldset class="row-fluid">
                <p class="span4">
                    <label for="search_period">Arco temporale</label>
                    <select name="period" id="search_period"></select>
                </p>

                <p class="span8">
                    <input type="submit" value="Cerca" class="btn">
                </p>
            </fieldset>

        </form>

    </section>

    <hr>

    <section>
        <h2>Voti chiave</h2>
        <table class="data">
            <thead>
            <tr>
                <th>Data</th>
                <th>Atto</th>
                <th class="text-center">Voto</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="3"><a href="#"><i class="icon-play"></i> Vedi tutti i voti chiave</a></td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <td>oggi</td>
                <td><a href="#"><i class="icon-star"></i> <strong>Titolo di una votazione effettuata</strong> (19374)</a></td>
                <td class="text-center"><span class="label label-success">Approvato</span></td>
            </tr>
            <tr>
                <td>ieri</td>
                <td><a href="#"><i class="icon-star"></i> <strong>Titolo di una votazione effettuata</strong> (19374)</a></td>
                <td class="text-center"><span class="label label-success">Approvato</span></td>
            </tr>
            <tr>
                <td>25.02.2012</td>
                <td><a href="#"><i class="icon-star"></i> <strong>Titolo di una votazione effettuata </strong> (19374)</a></td>
                <td class="text-center"><span class="label label-success">Approvato</span></td>
            </tr>
            <tr>
                <td>21.02.2012</td>
                <td><a href="#"><i class="icon-star"></i> <strong>Titolo di una votazione effettuata</strong> (19374)</a></td>
                <td class="text-center"><span class="label label-important">Respinto</span></td>
            </tr>
            <tr>
                <td>10.02.2012</td>
                <td><a href="#"><i class="icon-star"></i> <strong>Titolo di una votazione effettuata</strong> (19374)</a></td>
                <td class="text-center"><span class="label label-success">Approvato</span></td>
            </tr>
            </tbody>
        </table>

    </section>

    <hr>

    <section>
        <h2>Ultime votazioni</h2>

        <table class="data">
            <thead>
            <tr>
                <th>Data</th>
                <th>Atto</th>
                <th class="text-center">Voto</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="3"><a href="#"><i class="icon-play"></i> Vedi tutti i voti</a></td>
            </tr>
            </tfoot>
            <tbody>
            {% for votation in object_list %}
                <tr>
                    <td>12.03.2012</td>
                    <td><a href="{{ votation.get_absolute_url }}"><i class="icon-star"></i> <strong>{{ votation }}</strong> ({{ votation.idnum }})</a></td>
                    <td class="text-center">
                        <span class="label label-success">Approvato</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}

{% block sidebar %}
    <h2>Ultimi atti commentati</h2>
    <ul class="feed-list">

        <li>Stato idrogeologico della zona
                <span class="monitoring">7 commenti - <a href="#"><i class="icon-comment"></i> Commenta</a>
            </span></li>
        <li>Stato idrogeologico della zona
                <span class="monitoring">7 commenti - <a href="#"><i class="icon-comment"></i> Commenta</a>
            </span></li>
        <li>Stato idrogeologico della zona
                <span class="monitoring">7 commenti - <a href="#"><i class="icon-comment"></i> Commenta</a>
            </span></li>
    </ul>
    <p class="bg-dark"><a href="#"><i class="icon-play"></i> Vedi tutti</a></p>
{% endblock %}