<div class="calendar_container">
  <div class="row-fluid">
    <div class="span4">
      <div class="calendar" data-events=".calendar_events"></div>
    </div>
    <div class="span8">
      <ul class="data-list calendar_events">
        {% for event in events %}
          {% if not event.is_past_due %}
            <li data-day="{{ event.date|date:"m/d/Y" }}"><strong>{{ event.date|date:"d.m.Y" }}</strong> <a href="{{ event.act.downcast.get_absolute_url }}">{{ event.act.title }}</a></li>
          {% endif %}
        {% empty %}
            Nessun appuntamento in programma (TODO)
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
  include(["css/ui-custom-theme/jquery-ui-1.8.16.custom.css", "js/jquery-ui.calendar.js"])
</script>
