<div class="calendar_container">
  <div class="row-fluid">
    <div class="span4">
      <div class="calendar" data-events=".calendar_events"></div>
    </div>
    <div class="span8">
      <ul class="data-list calendar_events">
        {% for event in events %}
          {% if not event.is_past_due %}
            <li data-day="{{ event.date|date:"m/d/Y" }}"><strong>{{ event.date|date:"d.m.Y" }}</strong> <a href="{{ event.act.downcast.get_absolute_url }}">{{ event.act.title }}</a></li>
          {% endif %}
        {% empty %}
          {% comment %}
          TODO: remove this mock-ups
          {% endcomment %}
        <li data-month="05/2012"><h3>Maggio 2012</h3></li>
        <li data-day="05/01/2012"><strong>01.03.2012</strong> in Consiglio comunale</li>
        <li data-day="05/01/2012"><strong>07.03.2012</strong> in Consiglio comunale</li>
        <li data-day="05/14/2012"><strong>14.03.2012</strong> in Consiglio comunale</li>
        <li data-day="05/15/2012"><strong>15.03.2012</strong> in Consiglio comunale</li>
        <li data-day="05/24/2012"><strong>24.03.2012</strong> in Consiglio comunale</li>
        <li data-day="05/25/2012"><strong>25.03.2012</strong> in Consiglio comunale</li>
        <li data-day="05/27/2012"><strong>27.03.2012</strong> in Consiglio comunale</li>

        <li data-month="06/2012"><h3>Giugno 2012</h3></li>
        <li data-day="06/01/2012"><strong>01.04.2012</strong> in Consiglio comunale</li>
        <li data-day="06/12/2012"><strong>12.04.2012</strong> in Consiglio comunale</li>
        <li data-day="06/20/2012"><strong>20.04.2012</strong> in Consiglio comunale</li>

        <li data-month="07/2012"><h3>Luglio 2012</h3></li>
        <li data-day="07/01/2012"><strong>01.05.2012</strong> in Consiglio comunale</li>
        <li data-day="07/12/2012"><strong>12.05.2012</strong> in Consiglio comunale</li>
        <li data-day="07/20/2012"><strong>20.05.2012</strong> in Consiglio comunale</li>

        <li data-month="08/2012"><h3>Agosto 2012</h3></li>
        <li data-day="08/01/2012"><strong>01.08.2012</strong> in Consiglio comunale</li>
        <li data-day="08/12/2012"><strong>12.08.2012</strong> in Consiglio comunale</li>
        <li data-day="08/20/2012"><strong>20.08.2012</strong> in Consiglio comunale</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
  include(["css/ui-custom-theme/jquery-ui-1.8.16.custom.css", "js/jquery-ui.calendar.js"])
</script>
