{% if page.has_previous or page.has_next %}
  <div class="pagination pagination-right pull-right" style="margin:0 5px 10px 0;">
    <ul>
      {% if page.has_previous %}
        <li><a href="{{ base_url }}&page={{ page.previous_page_number }}">&larr;</a></li>
      {% else %}
        <li class="disabled"><span>&larr;</span></li>
      {% endif %}

      {% for p in paginator.page_range %}
        <li{% if p == page.number %} class="active"{% endif %}>
          <a href="{{ base_url }}&page={{ p }}">{{ p }}</a>
        </li>
      {% endfor %}

      {% if page.has_next %}
        <li><a href="{{ base_url }}&page={{ page.next_page_number }}">&rarr;</a></li>
      {% else %}
        <li class="disabled"><span>&rarr;</span></li>
      {% endif %}
    </ul>
  </div>
{% endif %}