{% load i18n admin_modify staticfiles %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
{{ inline_admin_formset.formset.management_form }}
<fieldset class="module">
   <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
   {{ inline_admin_formset.formset.non_form_errors }}
   <table>
     <thead><tr>
     {% for field in inline_admin_formset.fields %}
       {% if not field.widget.is_hidden %}
         <th{% if forloop.first %} colspan="2"{% endif %}{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}</th>
       {% endif %}
     {% endfor %}
     {% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
     </tr></thead>

     <tbody>
     {% for inline_admin_form in inline_admin_formset %}
        {% if inline_admin_form.form.non_field_errors %}
        <tr><td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
        {% endif %}
        <tr class="{% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"
             id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
        <td class="original">
          {% if inline_admin_form.original or inline_admin_form.show_url %}<p>
          {% if inline_admin_form.original %} {{ inline_admin_form.original }}{% endif %}
          {% if inline_admin_form.show_url %}<a href="../../../r/{{ inline_admin_form.original_content_type_id }}/{{ inline_admin_form.original.id }}/">{% trans "View on site" %}</a>{% endif %}
            </p>{% endif %}
          {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
          {{ inline_admin_form.fk_field.field }}
          {% spaceless %}
          {% for fieldset in inline_admin_form %}
            {% for line in fieldset %}
              {% for field in line %}
                {% if field.is_hidden %} {{ field.field }} {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
          {% endspaceless %}
        </td>
        {% for fieldset in inline_admin_form %}
          {% for line in fieldset %}
            {% for field in line %}
              <td class="{{ field.field.name }}">
              {% if field.is_readonly %}
                  <p>{{ field.contents }}</p>
              {% else %}
                  {{ field.field.errors.as_ul }}
                  {{ field.field }}
              {% endif %}
              </td>
            {% endfor %}
          {% endfor %}
        {% endfor %}
        {% if inline_admin_formset.formset.can_delete %}
          <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
        {% endif %}
        </tr>
     {% endfor %}
     </tbody>
   </table>
</fieldset>
  </div>
</div>

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        var rows = "#{{ inline_admin_formset.formset.prefix }}-group .tabular.inline-related tbody tr";
        var alternatingRows = function(row) {
            $(rows).not(".add-row").removeClass("row1 row2")
                .filter(":even").addClass("row1").end()
                .filter(rows + ":odd").addClass("row2");
        }
        var reinitDateTimeShortCuts = function() {
            // Reinitialize the calendar and clock widgets by force
            if (typeof DateTimeShortcuts != "undefined") {
                $(".datetimeshortcuts").remove();
                DateTimeShortcuts.init();
            }
        }
        var updateSelectFilter = function() {
            // If any SelectFilter widgets are a part of the new form,
            // instantiate a new SelectFilter instance for it.
            if (typeof SelectFilter != "undefined"){
                $(".selectfilter").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], false, "{% static 'admin' %}");
                });
                $(".selectfilterstacked").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], true, "{% static 'admin' %}");
                });
            }
        }

        /**
         * This swap function works only for adjacent rows
         */
        var swapRows = function(first, second) {
//            window.alert("swap: " + first + " -> " + second);

            if (! first.match("^#"))
            {
                first = "#" + first;
            }

            if (! second.match("^#"))
            {
                second = "#" + second;
            }

            var row1 = $(first);
            var row2 = $(second);

            if (row1.length == 0 || row2.length == 0 ||
                row2.hasClass('empty-form'))
            {
                return;
            }

            for (var i=0; i<row1.children('td').length; i++)
            {
                var origCell = row1.children('td').eq(i);
                var destCell = row2.children('td').eq(i);
                // swap every field in the cell
                for (var j=0; j<origCell.children().length; j++)
                {
                    var origField = origCell.children().eq(j);
                    var destField = destCell.children().eq(j);

                    if (origField.hasClass('sortable'))
                    {
                        // the order field is not swapped
                        continue;
                    }

                    var tmp = destField.val();
                    destField.val(origField.val());
                    origField.val(tmp);
                }
            }

//            row1.after(row2);

//            row2.attr("id") = first;
//            row1.attr("id") = second;
        }

        var computeSortFields = function(rows) {
            var currOrder = 1;
            rows.each(function() {
                var row = $(this);
                var sortableFields = row.find('.sortable');
                sortableFields.each(function() {
                    var field = $(this);

                    if (row.hasClass("to-be-removed"))
                    {
                        field.val("0");
                        return true; // equivalent to a continue stmt
                    }
                    

                    field.val(currOrder);
                    currOrder++;

                    // check the up arrow is present
                    var arrowUp = field.parent().find('.order_up');
                    if (arrowUp.length == 0)
                    {
                        var imgUp = $('<img alt="up" src="{{ STATIC_URL }}img/order_up.png" class="order_up" />');
                        imgUp.click(function() {
                            var currRow = $(this).parent().parent();

                            // swap with upper row
                            var row1=currRow.prev().attr('id');
                            if (row1 == undefined)
                            {
                                return;
                            }
                            var row2=currRow.attr('id');
                            swapRows(row1, row2);
                        });
                        imgUp.appendTo(field.parent());
                    }

                    // check the down arrow is present
                    var arrowDown = field.parent().find('.order_down');
                    if (arrowDown.length == 0)
                    {
                        var imgDown = $('<img alt="down" src="{{ STATIC_URL }}/img/order_down.png" class="order_down" />');
                        imgDown.click(function() {
                            var currRow = $(this).parent().parent();

                            // swap with lower row

                            var row1=currRow.attr('id');
                            var row2=currRow.next().attr('id');
                            swapRows(row1,row2);
                        });
                        imgDown.appendTo(field.parent());
                    }

                });

             });
        }

        var initPrepopulatedFields = function(row) {
            row.find('.prepopulated_field').each(function() {
                var field = $(this);
                var input = field.find('input, select, textarea');
                var dependency_list = input.data('dependency_list') || [];
                var dependencies = [];
                $.each(dependency_list, function(i, field_name) {
                  dependencies.push('#' + row.find(field_name).find('input, select, textarea').attr('id'));
                });
                if (dependencies.length) {
                    input.prepopulate(dependencies, input.attr('maxlength'));
                }
            });
        }
        $(rows).formset({
            prefix: "{{ inline_admin_formset.formset.prefix }}",
            addText: "{% blocktrans with inline_admin_formset.opts.verbose_name|title as verbose_name %}Add another {{ verbose_name }}{% endblocktrans %}",
            formCssClass: "dynamic-{{ inline_admin_formset.formset.prefix }}",
            deleteCssClass: "inline-deletelink",
            deleteText: "{% trans "Remove" %}",
            emptyCssClass: "empty-form",
            removed: (function(row) { 
//                window.alert("removed");
                computeSortFields($(rows));
                alternatingRows(row); 
            }),
            added: (function(row) {
//                var numRows = $(rows).find('.sortable').length - 1;

                initPrepopulatedFields(row);
                computeSortFields($(rows));
                reinitDateTimeShortCuts();
                updateSelectFilter();
                alternatingRows(row);
            })
        });
        $("input[id$='-DELETE']").click(function() {
            var row = $(this).parent().parent();
            row.toggleClass("to-be-removed");
            computeSortFields($(rows));
        } );
        computeSortFields($(rows));
    });
})(django.jQuery);
</script>
