{% extends "acts/act_section.html" %}
{% load i18n %}
{% load voting_tags %}
{% load newscache_tags %}

{% comment %}Bookmarking tags{% endcomment %}
{% load om_utils %}
{% load bookmarking_tags %}

{% comment %}WebServices tags: share{% endcomment %}
{% load web_services_tags %}

{% block title %}Dettaglio {{ act }}{% endblock title %}
{% block content_header %}Atto{% endblock %}
{% block body_class %}act{% endblock %}
{% block acts_class %}active{% endblock %}

{% block head_css_includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/voting.css" rel="stylesheet">
{% endblock head_css_includes %}

{% block head_js_includes %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/ajax_csrf.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}js/jquery.jeditable.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.submitlink.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.autogrow.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-modal.js" type="text/javascript" charset="utf-8"></script>
{% endblock head_js_includes %}


{% block content %}
  <table id="votation_outcome">
    <tr>
      <td>
        {{ act.presentation_date|circled:"full,colored" }}
      </td>
      <td><p>Prossima <br>discussione</p></td>
    </tr>
  </table>

  <hgroup>
    <h2 id="act_title">
      <a href="#" id="{{ act|as_token }}" class="bookmarkable"><i class="{% is_key_class act %}"></i></a>
      <strong class="input-append">{{ act.title }}</strong>
      <small>(N. {{ act.idnum }})</small></h2>
    <h4>
      <strong>{{ act.get_type_name|capfirst }}</strong>
      del Consiglio comunale N° <strong>{{ act.idnum }}</strong> del <strong><span class="date">{{ act.presentation_date }}</span></strong>
    </h4>
  </hgroup>

  <div>
    <p{% if act.description|length > 0 %} class="quoted"{% endif %} id="act_description">{{ act.description|safe }}</p>
    {% for descriptor in act.descriptors %}
      <i class="icon-ok"></i> <a href="{{ descriptor.get_absolute_url }}">{{ descriptor }}</a>
    {% endfor %}
  </div>

  <div class="nav-tabs-container">
    <ul class="nav nav-tabs page-tabs">
      <li {% block act_tab_status_class %}class="active"{% endblock %}> <a href="{{ act.get_absolute_url }}">Stato</a></li>
      <li {% block act_tab_documents_class %}{% endblock %}><a href="{{ act.get_absolute_url }}documents">Documenti</a></li>
      <li><a href="/votations/?act_url={{ act.get_absolute_url }}"><strong>Voti</strong></a></li>
    </ul>
  </div>

  {% block act_tab_body %}
    {% include 'acts/act_table_transitions.html' %}
  {% endblock act_tab_body %}

  {%  block act_text %}
    <div>
      {% if act.text|length > 0 %}
          <h2>Testo</h2>
          <pre id="act_text">{{ act.text }}</pre>
      {%  endif %}
    </div>
  {%  endblock act_text %}



    {% share act %}
{% endblock content %}


{% block sidebar %}

  {% if topics %}
  {% include 'acts/act_tags_editor.html' with launcher_id="#cteditor-launcher" %}
  {% endif %}

  <section>
    <h3>Argomenti dell'atto
    {% if topics %}
      <a href="#" id="cteditor-launcher" class="label label-info">
        <i class="icon-edit icon-white"></i> Edit
      </a>
    {% endif %}
    </h3>

    <dl class="taxonomy-cloud">
      {% regroup act.topics by category as categorized_topics %}
      {% for grouped_tags in categorized_topics %}
        <dt><a href="{{ grouped_tags.grouper.get_absolute_url }}">{{ grouped_tags.grouper.name }}</a></dt>
        {% for topic in grouped_tags.list %}
        {% if topic.tag %}
        <dd><a href="{{ topic.tag.get_absolute_url }}">{{ topic.tag }}</a></dd>
        {% endif %}
        {% endfor %}
      {% endfor %}

      {% for location in act.locations %}
        {% if forloop.first %}
          {% if location_form %}
          <dt><a href="#" id="location_form_link"><i class="icon-edit"></i></a> Territorio</dt>
          {% else %}
          <dt>Territorio</dt>
          {% endif %}
        {% endif %}
        <dd><a href="{{ location.get_absolute_url }}">{{ location }}</a></dd>
      {% empty %}
        {% if location_form %}
          <dt><a href="#" id="location_form_link"><i class="icon-edit"></i></a> Territorio</dt>
        {% endif %}
      {% endfor %}
    </dl>

    {% if location_form %}
    <form id="location-form" data-toggle="#location_form_link" class="form-inline" action="{% url om_act_locations_add pk=act.act_ptr.pk %}" method="post">
      {% csrf_token %}{% for hidden in location_form.hidden_fields %}{{ hidden }}{% endfor %}
      {{ location_form.locations }}
      <div class="form-actions text-center">
        <button type="submit" class="btn btn-info btn-mini">Applica</button>
      </div>
    </form>
    <script type="text/javascript">
      $(document).ready(function(){
        var form = $('#location-form').hide();
        $( form.data('toggle') ).click(function(){
          $('#location-form').slideToggle();
          return false;
        });
      });
    </script>
    {% endif %}

  </section>

  <hr>

  <section>
    <h3>Monitora</h3>
    {% load monitoring_tags %}
    {% object_monitoring act 1 %}
  </section>

  <hr>

  <section>
    <h3>Vota</h3>
    {% include "acts/act_vote_block.html" %}
  </section>

  <hr>

  {% include 'commons/comments.html' with object=act %}

  <hr>

  {% institutional_news_for_object act as i_news %}
  {% include 'commons/news_list.html' with news_list=i_news news_title='Ultime sugli Atti' %}

{% endblock %}


{% block footer_js_includes %}
  {{ block.super }}
  <script type="text/javascript">

    {% if request.user.is_authenticated %}

      $(document).ready(function(){

        {% if title_form %}
        // Edit Act Title in-place
        $('#act_title strong').editable('{% url om_act_title_update pk=act.id %}', {
          name : '{{ title_form.title.html_name }}',
          submitdata : function(value, settings) {
            return { 'id': {{ act.id }}, 'act_field': 'title' };
          },
          cssclass  : 'form-inline',
          submit    : '<button type="submit" class="btn">Salva</button>',
          indicator : '<img src="{{ STATIC_URL }}img/spinner.gif">',
          tooltip   : 'Clicca per modificare...',
          style     : 'display: inline',
          //onblur     : 'ignore',
          inputclass : 'input-xxlarge',
          callback : function(value){
            value = JSON.parse(value)
            // TODO check if there's some errors
            $(this).text(value.text)
          }
        });
        {% endif %}

        // ----------------------------

        {% if description_form %}
          // Edit Act Description in-place
        $('#act_description').editable('{% url om_act_description_update pk=act.id %}', {
          type: 'autogrow',
          name : '{{ description_form.description.html_name }}',
          submitdata : function(value, settings) {
            return { 'id': {{ act.id }}, 'act_field': 'description' };
          },
          cssclass  : 'form-inline',
          submit    : '<button type="submit" class="btn">Salva</button>',
          indicator : '<img src="{{ STATIC_URL }}img/spinner.gif">',
          tooltip   : 'Clicca per modificare...',
          style     : 'display: inline',
          //onblur     : 'ignore',
          inputclass : 'input-xxlarge',
          callback : function(value){
            value = JSON.parse(value)
            // TODO check if there's some errors
            $(this).text(value.text)
          }
        });
        {% endif %}

        // ----------------------------


      });

    {% endif %}

  </script>
{% endblock %}

