## -*- mode: python -*-
## Django settings specific for your production server should be placed below

from open_municipio.settings import * 

# Root URLconf module for production servers
ROOT_URLCONF = 'open_municipio.urls_production'

