## -*- mode: python -*-
## Django settings specific for your staging server should be placed here

from opm_site.settings import * 

# Root URLconf module for staging servers
ROOT_URLCONF = 'open_municipio.urls_staging'

