## -*- mode: python -*-
## Use this module as the root URLconf for development

from open_municipio.urls import *

## Uncomment this snippet to enable Django "Databrowse" app
## If you want to browse additional models,
## just import and register them, as shown below.
##
# from django.contrib import databrowse
# from open_municipio.acts.models import Deliberation

# databrowse.site.register(Deliberation)

# urlpatterns += patterns('', 
# (r'^databrowse/(.*)', databrowse.site.root),
# )
