{% extends "base_one_column.html" %}

{% block body_class %}error{% endblock %}
{% block title %}Pagina non trovata{% endblock %}

{%  block access %}{% endblock %}
{%  block main_navbar %}{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span1">
                <img src="{{ STATIC_URL }}img/error-bang.png" alt="Icona segnalazione errore"/>
            </div>

            <div class="span11">
                <p>
                    Ci dispiace, ma si è verificato un errore imprevisto sui nostri server.<br/>
                    Abbiamo già ricevuto una notifica con i dettagli e interverremo al più presto.
                </p>

                <p>
                    Grazie per la pazienza,<br/>
                    lo staff di Open municipio
                </p>

            </div>
        </div>

    </div>

{% endblock %}
