{% load i18n %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <title>{% trans "OpenMunicipio" %} - {% block title %}{% endblock %}</title>

    <!-- To ensure devices display responsive pages properly, include the viewport meta tag. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    {% block head_css_includes %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles-responsive.css" />
    {% endblock head_css_includes %}

    <style type="text/css">
    {% block extra_style %}{% endblock %}
    </style>

    {% block head_js_includes %}
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.ie.css"><![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/include.js" data-url="{{ STATIC_URL }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    {% endblock head_js_includes %}

    <script type="text/javascript" charset="utf-8">
    {% block extra_js %}{% endblock %}
    </script>

    {% block extra_head %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">

<div id="wrapper"><!-- #wrapper -->

  <div class="navbar navbar-fixed-top" id="page-alert">
    <div class="navbar-inner">
      <div class="container-fluid">

        <div class="row-fluid">
          <div class="span12">
            <strong>Versione dimostrativa del sito Open municipio</strong>. I contenuti sono simulati e le funzionalità di registrazione sono disabilitate.
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- TOPBAR -->
  <div class="navbar" id="navbar-top">
    <nav class="navbar-inner">
      <a href="http://www.openmunicipio.it" class="brand">
        <img src="{{ STATIC_URL }}img/logo-openmunicipio.png" alt="Openmunicipio - Informati, monitora e partecipa ai lavori del tuo municipio">
        <!--open<strong>municipio</strong>{% if site_version %}<span class="version">{{ site_version }}</span>{% endif %}
        <small></small>-->
      </a>

      {% if user.is_authenticated %}
        <p class="text-right pull-right">
          Ciao, <strong>{{ user.username }}</strong>
          <br>
          <a href="/accounts/logout/?next={% if "/accounts" in request.path %}/{% else %}{{ request.path }}{% endif %}">esci</a>
          &middot;
          <a href="/users/profile/edit/">impostazioni</a>
        </p>
      {% else %}
      <ul class="nav pull-right">
          <li>Vuoi partecipare? <a href="/accounts/register/">Registrati</a></li>
          <li class="divider-vertical"></li>
          <li>Sei già registrato? <a href="/accounts/login/?next={% if "/accounts" in request.path %}/{% else %}{{ request.path }}{% endif %}">Entra</a></li>
      </ul>
      {% endif %}
    </nav>
  </div>
  <!-- /TOPBAR -->


  <header>

    <!-- AREA-TITLE -->
    <hgroup class="container-fluid">
      <div class="row-fluid">
        <h1 class="span12" id="area-title">
          {% block content_header_container %}<a href="/" style="color: white;">{{ main_city }}</a> <small>{% block content_header %}{% endblock %}</small>{% endblock %}
        </h1>
      </div>
    </hgroup>
    <!-- /AREA-TITLE -->

    <!-- MAIN-NAVBAR -->
    <div class="navbar">
      <div class="navbar-inner">
        <nav class="container-fluid" style="padding:0;">
          <ul class="nav">
            <li {% block people_class %}{% endblock %}><a href="{% url om_politician_list %}">Politici</a></li>
            <li {% block tags_class %}{% endblock %}><a href="{% url om_topic_list %}">Argomenti</a></li>
            <li {% block users_class %}{% endblock %}><a href="/users/">Cittadini</a></li>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                Uso del sito
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url om_rules %}">Regolamento</a></li>
                <li><a href="{% url om_terms %}">Condizioni d'uso</a></li>
                <li><a href="{% url om_privacy %}">Privacy</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /MAIN-NAVBAR -->

    {% block sub_nav %}{% endblock %}
      
  </header>

  <!-- MAIN-SECTION -->
  <section id="main" class="{% block container_class %}container-fluid{% endblock %}"><!-- #main container for content and sidebar area -->
  {% block container %}{% endblock %}
  </section>
  <!-- /MAIN-SECTION -->

  <!-- FOOTER-NAV -->
  <footer class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <nav class="container-fluid" style="padding:0;">
        <ul class="nav">
          <li class="{% block acts_class %}{% endblock %}"><a href="{% url om_act_search %}">Atti</a></li>
          <li class="{% block votations_class %}{% endblock %}"><a href="{% url om_votation_search %}">Votazioni</a></li>
          <li class="dropdown {% block institutions_class %}{% endblock %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Organi politici <b class="caret caret-up"></b>
            </a>
            <ul class="dropdown-menu bottom-up">
              <li><a href="{% url om_institution_mayor %}">Sindaco</a></li>
              <li><a href="{% url om_institution_council %}">Consiglio</a></li>
              <li><a href="{% url om_institution_citigov %}">Giunta</a></li>
            </ul>
          </li>
          <!-- TODO <li><a href="#">Società partecipate</a></li> -->
        </ul>
        {%  comment %}
        <form class="navbar-search pull-right" action="{{ haystack_search }}">
          <input type="text" class="search-query" name="q" placeholder="Cerca nel sito">
        </form>
        {%  endcomment %}
      </nav>
    </div>
  </footer>
  <!-- /FOOTER-NAV -->

</div><!-- #wrapper -->

{% block footer_js_includes %}{% endblock %}

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31798244-1']);
    _gaq.push(['_setDomainName', 'openmunicipio.it']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
