{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% trans "OpenMunicipio" %} - {% block title %}{% endblock %}</title>

    <!-- To ensure devices display responsive pages properly, include the viewport meta tag. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    {% block head_css_includes %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
    {% endblock head_css_includes %}

    <style type="text/css">
    {% block extra_style %}{% endblock %}
    </style>

    {% block head_js_includes %}
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/include.js" data-main="{{ STATIC_URL }}js/"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    {% endblock head_js_includes %}

    <script type="text/javascript" charset="utf-8">
    {% block extra_js %}{% endblock %}
    </script>

    {% block extra_head %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">

<div id="wrapper"><!-- #wrapper -->

  <header>
    
      <!-- TOPBAR -->
      <section class="navbar" id="topbar">
          <div class="navbar-inner">
              <div class="container-fluid">
                  <a href="/" class="brand">Open<strong>municipio</strong></a>

                  <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                      <li><a href="/users/profile/edit/">Logged in as {{ user.username }}</a></li>
                      <li><a style="margin-right: 0;" href="/accounts/logout/?next=/">Log out</a></li>
                    {% else %}
                      <li><a href="/accounts/register/">Registrati</a></li>
                      <li><a href="/accounts/login/?next={% ifequal request.path "/accounts/logout/" %}/{% else %}{{ request.path }}{% endifequal %}">Log in</a></li>
                    {% endif %}
                  </ul>
              </div>
          </div>
      </section> <!-- /TOPBAR -->

      <!-- AREA-TITLE -->
      <hgroup class="container-fluid">
          <div class="row-fluid">
              <h1 class="span12" id="area-title">Senigallia | {% block content_header %}{% endblock %}</h1>
          </div>
      </hgroup><!-- /AREA-TITLE -->

      <!-- MAIN-NAVBAR -->
      <nav class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
              <ul class="nav">
                  <li {% block people_class %}{% endblock %}><a href="{% url om_person_list %}">Politici</a></li>
                  <li {% block tags_class %}{% endblock %}><a href="{% url om_tag_list %}">Argomenti</a></li>
                  <li {% block users_class %}{% endblock %}><a href="/users/">Cittadini</a></li>
              </ul>
          </div>
        </div>
      </nav><!-- /MAIN-NAVBAR -->

    {% block sub_nav %}{% endblock %}
      
  </header>

    <section id="main" class="{% block container_class %}container-fluid{% endblock %}"><!-- #main container for content and sidebar area -->

    {% block container %}{% endblock %}      

    </section><!-- end of #main container for content and sidebar-->

    <footer class="fixed-bottom">
        <!-- FOOTER-NAV -->
        <nav class="navbar">
          <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav">
                    <li {% block acts_class %}{% endblock %}><a href="{% url om_act_list %}">Atti</a></li>
                    <li {% block votations_class %}{% endblock %}><a href="{% url om_votation_list %}">Votazioni</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Organi politici <b class="caret caret-up"></b>
                        </a>
                        <ul class="dropdown-menu bottom-up">
                            <li><a href="{% url om_institution_mayor %}">Sindaco</a></li>
                            <li><a href="{% url om_institution_council %}">Consiglio</a></li>
                            <li><a href="{% url om_institution_citigov %}">Giunta</a></li>
                        </ul>
                    </li>
                    <!-- TODO <li><a href="#">Società partecipate</a></li> -->
                </ul>
            </div>
          </div>
        </nav><!-- /FOOTER-NAV -->
    </footer>
</div><!-- #wrapper -->

{% block footer_js_includes %}{% endblock %}

<script type="text/javascript">

  // TODO: google analytics code 
  var _gaq = _gaq || [];
  /*
  _gaq.push(['_setAccount', 'UA-XXXXXX-YY']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
*/
</script>
</body>
</html>
