{% extends 'base.html' %}

{% block container_class %}{% spaceless %}
    {{ block.super }} two_columns
{% endspaceless %}{% endblock %}

{% block container %}
    <article class="row-fluid">

        <!-- LEFT-COL -->
        <div class="{% block content_width %}span8{% endblock %}" id="content">

            {% block content %}{% endblock %}

        </div><!-- /LEFT-COL -->
        <!-- RIGHT-COL -->
        <aside class="{% block sidebar_width %}span4{% endblock %}" id="sidebar">

            {% block sidebar %}{% endblock %}

        </aside><!-- /RIGHT-COL -->
    </article>
{% endblock  %}
