{% extends 'base.html' %}

{% block container_class %}{% spaceless %}
    {{ block.super }} two_columns
{% endspaceless %}{% endblock %}

{% block container %}
    <article class="row-fluid">

        <!-- LEFT-COL -->
        <div class="span8" id="content">

            {% block content %}{% endblock %}

        </div><!-- /LEFT-COL -->
        <!-- RIGHT-COL -->
        <aside class="span4" id="sidebar">

            {% block sidebar %}{% endblock %}

        </aside><!-- /RIGHT-COL -->
    </article>
{% endblock  %}