<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html%}
  </head>

  <body>

    <a href="https://github.com/openpolis/open_municipio"><img style="z-index: 1100;position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    {% include navbar.html %}
    
    <div class="container">
      <div class="row">
          <div class="span10 offset1">
            {% if page.is_hero %}
              <div class="hero-unit">
                {{ content }}
              </div>
            {% else %}
              {{ content }}
            {% endif %}
          </div>
      </div><!--/row-->

      {% include footer.html %}
    </div><!--/container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
