{%  load switch %}

L'atto <a href="{{ act.downcast.get_absolute_url }}">{{ act.downcast.adj_title|default:act.downcast.title|truncatewords_html:30 }}</a>
{% switch act.status %}
    {% case act.STATUS.committee %}
        è in discussione in commissione{% if transition.note %} {{ transition.note }}{% endif %}
    {% case act.STATUS.council %}
       è in discussione al consiglio
    {% case act.STATUS.approved %}
        è stato approvato
    {% case act.STATUS.answered %}
        ha ricevuto risposta
    {% case act.STATUS.notanswered %}
        non ha ricevuto risposta
    {% case act.STATUS.rejected %}
        è stato respinto
    {% case act.STATUS.retired %}
        è stato ritirato
    {% case act.STATUS.decayed %}
        è decaduto
    {% case act.STATUS.postponed %}
        è stato posticipato
    {%  else %}
        è in uno stato non determinabile
{% endswitch %}
